<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/static/css/custom-bootstrap-5-alpha.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/status_b5.css?v={{ gs_globals['git_commit'] }}" rel="stylesheet">
    <title>{%if data['origin']=='Agreement' %}
    {{ data['project_data']['project_name'] }}-{{ data['project_data']['agreement_number'] }}_agreement
    {% else %}
    Preliminary Quote : Genomics Status
    {% end %} 
    </title>
  </head>
  <body class="p-0">
    <div class="agreement-title-img">
      <div class="row">
        <img class="align-middle pl-0" title="National Genomics Infrastructure" src="../../static/img/NGI-final.png" style="object-fit:contain; width:195px; height:57px;">
      </div>
      <div class="row justify-content-md-center">
        <table class="table-bordered border-header">
          <thead>
            <tr class="darkth-quote">
              <th class="small">Document ID-Edition Document Title</th>
            </tr>
          </thead>
          <tbody>
            <tr><td class="small">{{ template_text['doc_id'] }}-{{ template_text['edition'] }} {{ template_text['title'] }}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div {%if data.get('type', '')=='preview' %} class="first_page_preview" {% end %}>
      <h2>{%if data['origin']=='Agreement' %}
      Agreement of commisioned activities
      {% else %}
      Preliminary Quote
      {% end %}
      </h2>
      Sequencing at Science for Life Laboratory is administered by the Royal Institute of Technology (KTH).
      <dl class="dl-horizontal-quote-details p-1">
      {%if data['origin']=='Agreement' %}
        <dt>NGI Project ID</dt>
          <dd>{{ data['project_data']['ngi_project_id'] }}</dd>
        <dt>User (name / affiliation)</dt>
          <dd>{{ data['project_data']['user_and_affiliation'] }}</dd>
      {% end %}
        <dt>Issue Date</dt>
          <dd>{{ data['date']}}</dd>
      {%if data['origin']=='Agreement' %}
        <dt>Agreement number</dt>
          <dd> {{ data['project_data']['agreement_number'] }}</dd>
      {% end %}
        <dt>Issuer (name/email)</dt>
          <dd>{{ user.name }} / orders@ngisweden.se</dd>
        <dt>Agreement summary</dt>
          <dd> {% raw data['agreement_summary']%}
          {%for condition in data['agreement_conditions']%}
          <div class="small pt-2 pr-2">
            {% raw template_text['first_page_text']['specific_conditions'][condition]%}
          </div>
          {% end %}
          {%if data['price_type']=='full_cost' %}
          <div class="small pt-2 pr-2">
            {% raw template_text['first_page_text']['specific_conditions']['full_cost_conditions']%}
          </div>
          {% end %}
          </dd>
      </dl>

      <dl class="dl-horizontal-quote-price">
      {% for category in data['price_breakup'] %}
        <dt class="fw-normal">{{ category }}</dt>
          <dd> {{ data['price_breakup'][category] }} SEK</dd>
      {% end %}
      {%if 'special_addition' in data %}
        {%for label in data['special_addition'] %}
        <dt class="fw-normal">{{ data['special_addition'][label]['name'] }}</dt>
          <dd> {{ data['special_addition'][label]['value'] }} SEK</dd>
        {% end %}
      {% end %}
      {%if 'special_percentage' in data %}
        <dt class="fw-normal">{{ data['special_percentage']['name'] }} (- {{ data['special_percentage']['value'] }}%) </dt>
          <dd> - {{ data['total_cost_discount'] }} SEK</dd>
      {% end %}
        <hr>
        <dt>Total cost in SEK ({% if data['price_type']=="cost_academic" %}Swedish academia{% elif data['price_type']=="full_cost" %}Industry and non-Swedish academia{% else %}Internal projects{% end %}), VAT not included</dt>
          <dd> {{ data['total_cost'] }} SEK</dd>
      </dl>
    {%if data['origin']=='Agreement' %}
      <div class="small pb-3">{{ template_text['first_page_text']['coverage'] }}</div>
      <div class="text-danger">{{ template_text['first_page_text']['conditions'] }}</div>

      <div class="row py-3">
        <table class="table-bordered border-header">
          <thead>
            <tr class="darkth-quote">
              <th class="px-2">User (project responsible)</th>
              <th class="px-2">SciLifeLab (Facility manager)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              <table>
                <tr>
                  <td class="small text-muted px-2 pr-5 pb-5">Date</td>
                  <td class="small text-muted pb-5">Signature</td>
                </tr>
              </table>
              </td>
              <td>
              <table>
                <tr>
                  <td class="small text-muted px-2 pr-5 pb-5">Date</td>
                  <td class="small text-muted pb-5">Signature</td>
                </tr>
              </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div {%if data.get('type', '')=='preview' %} class="first_page_preview" {% end %}></div>
    {% end %}
    </div>
    {%if data['origin']=='Agreement' %}
    <div class="appendices">
      {% raw template_text['appendices'] %}
    </div>
    {% end %}
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  </body>
</html>
