{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <div id="slider"></div>
  <h3 id="dates"></h3>
  <p>
  Projects that are not loaded from Clarity LIMS have no 'open_date' attribute in Status DB 
  and will be treated as opened exactly on '2012-01-01'. Projects that do not have the
  application field filled in will be listed under 'null'.
  </p>
  <h2>Project Applications</h2>
  <p>
  Counts of the different sequencing applications that have been run.
  </p>
  <div id='main_chart'>
    <svg style="height:600px"></svg>
  </div>
  <table class="table table-bordered" id="application_table">
    <thead>
      <tr>
        <th>Application</th>
        <th>Number of Projects</th>
      </thead>
      <tbody id="application_table_body"></tbody>
    </table>

    <h2>Samples per Application</h2>
    <div class="single_chart_container" id="per_sample_chart">
    </div>

  </div>

  <script type="text/javascript">
var start = new Date(2012,0,1);
var stop = new Date();

$("#slider").dateRangeSlider({
bounds:
{
min: start,
max: stop
},
defaultValues:
{
min: start,
max: stop
},
min: 1,
max: 12,
values: [2, 12],
step:
{
days: 1
},
});


//Store colours of all possible labels in an object
$(function(){
    label_colour = {};
    var colour_gen = d3.scale.category20();
    $.getJSON("/api/v1/applications", function (data) {
        for (var i in data) {
            label_colour[i] = colour_gen(i);
        }
    });
});

function load_plots(start, stop){
  $("#dates").text("Opening Date range: " + start + " - " + stop)
    var start_req = (start == "2012-01-01" ? "" : ("start=" + start))
    $.getJSON("/api/v1/applications?" + start_req + "&end=" + stop, function (data) {
        //Prepare the data for nvd3, accepts a list of pairs {label: '', value: ''}
        nvd3_data = [];
        nvd3_colours = [];
        for (var k in data) {
          nvd3_data.push({'label': k, 'value': data[k]});
          nvd3_colours.push(label_colour[k]);
        }
        nv.addGraph(function() {
          var chart = nv.models.pieChart()
          .color(nvd3_colours)
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .showLabels(true);
          d3.select("#main_chart svg")
          .datum(nvd3_data)
          .transition()
          .duration(350)
          .call(chart); 
          return chart;
          });
        });
    $("#per_sample_chart").html('<img src="/api/v1/samples_applications.png?end=' + stop + '"/>')
}


function trow_f(d,data){
  var trow = '<tr class="a" onclick="document.location = '
    trow += "'/application/" + d + "'"
    trow += '" onmouseover="this.style.cursor='
    trow += "'pointer'"
    trow += '">'
    trow += '<td>' + d + '</td><td>' + data[d]+ '</td></tr>'
    return trow
}

function load_table(start,stop){
  $("#application_table_body").empty()
    if (start == '2012-01-01')
    {
      $.getJSON("/api/v1/applications?end="+stop, function(data) {
          for (d in data) {
          trow = trow_f(d,data)
          $("#application_table tbody").append(trow)
          };
          })
    }
    else
    {
      $.getJSON("/api/v1/applications?start="+start+"&end="+stop, function(data) {
          for (d in data) {
          trow = trow_f(d,data)
          $("#application_table tbody").append(trow)
          };
          })
    }
}

$("#slider").bind("valuesChanged", function(e, data){
    start_string = $.datepicker.formatDate('yy-mm-dd',data.values.min);
    stop_string = $.datepicker.formatDate('yy-mm-dd',data.values.max);
    load_plots(start_string,stop_string)
    load_table(start_string,stop_string)
    });

  </script>

  {% end %}
