{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <h2>Projects with application {{ application }}</h2><br>
  <table class="table table-striped" id="project_table">
    <tbody></tbody>
  </table>
</div>

<script>
$.getJSON("/api/v1/application/{{ application }}", function(data) {
  var tbl_body = '';
  $.each(data, function(k, project) {
    tbl_row = '<tr>';
    tbl_row += '<td><a href="/projects/' + project + '">' + project + '</td>';
    tbl_row += '</tr>';
    $("#project_table").append(tbl_row)
  })
})
</script>

{% end %}
