{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <div id="slider"></div>
  <h3 id="dates"></h3>
  <p>
  Projects that are not loaded from Clarity LIMS have no 'open_date' attribute in Status DB 
  and will be treated as opened exactly on '2012-01-01'. Projects that do not have the
  application field filled in will be listed under 'null'.
  </p>
  <h2>Project Applications</h2>
  <p>
  The amount of sequencing projects by application type that were opened within the given timeframe.
  </p>
  <div id='main_chart'>
    <svg style="height:600px"></svg>
  </div>
  <table class="table table-bordered" id="application_table">
    <thead>
      <tr>
        <th>Application</th>
        <th>Number of Projects</th>
    </thead>
    <tbody id="application_table_body"></tbody>
  </table>
  <h2>Samples per Application</h2>
  <p>
  The amount of samples per sequencing application within the same timeframe.
  </p>
  <div id='per_sample_chart'>
    <svg style="height:600px"></svg>
  </div>

</div>

<script type="text/javascript">
var start = new Date(2012,0,1);
var stop = new Date();
$("#slider").dateRangeSlider({
bounds:
{
  min: start,
  max: stop
},
defaultValues:
{
  min: start,
  max: stop
},
min: 1,
max: 12,
values: [2, 12],
step:
{
  days: 1
},
});

//Outputs and stores colours from inputs strings
var colour_gen = d3.scale.category20();

function draw_chart(data, obj) {
  //Prepare the data for nvd3, accepts a list of pairs {label: '', value: ''}
  var nvd3_data = [];
  var nvd3_colours = [];
  for (var k in data) {
    nvd3_data.push({'label': k, 'value': data[k]});
    nvd3_colours.push(colour_gen(k));
  }
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
    .color(nvd3_colours)
    .x(function(d) { return d.label })
    .y(function(d) { return d.value })
    .labelThreshold(0.05)
    .showLabels(true);
  d3.select(obj)
    .datum(nvd3_data)
    .transition()
    .duration(350)
    .call(chart);
    return chart;
    });
}

function load_plots(start, stop) {
  $("#dates").text("Opening Date range: " + start + " - " + stop)
    var start_param = (start == "2012-01-01" ? "" : ("start=" + start))
    $.getJSON("/api/v1/applications?" + start_param + "&end=" + stop, function (data) {
      draw_chart(data, "#main_chart svg");
    });

    $.getJSON("/api/v1/samples_applications?" + start_param + "&end=" + stop, function (data) {
      draw_chart(data, "#per_sample_chart svg")
    });
}


function trow_f(d,data){
  var trow = '<tr class="a" onclick="document.location = '
    trow += "'/application/" + d + "'"
    trow += '" onmouseover="this.style.cursor='
    trow += "'pointer'"
    trow += '">'
    trow += '<td>' + d + '</td><td>' + data[d]+ '</td></tr>'
    return trow
}

function load_table(start,stop){
  $("#application_table_body").empty()
  var start_param = (start == "2012-01-01" ? "" : ("start=" + start))
    $.getJSON("/api/v1/applications?"+ start_param + "&end="+stop, function(data) {
      for (d in data) {
        trow = trow_f(d,data)
        $("#application_table tbody").append(trow)
      };
    })
}

$("#slider").bind("valuesChanged", function(e, data){
  start_string = $.datepicker.formatDate('yy-mm-dd',data.values.min);
  stop_string = $.datepicker.formatDate('yy-mm-dd',data.values.max);
  load_plots(start_string,stop_string)
  load_table(start_string,stop_string)
});

</script>

  {% end %}
