{% extends "base.html" %}

<!--
Template file: application.html
URL: /application/[application_type]
Title: Projects with application [application_type]
Description: Displays a list of Project Identifiers for a given application type
-->
{% block stuff %}

<div class="container-fluid">
  <h2 id="page_title">Projects with application <em>{{ application }}</em></h2><br>
  <ul id="project_list">
</div>

<script>
$.getJSON("/api/v1/application/{{ application }}", function(data) {
  $.each(data, function(k, project) {
    $("#project_list").append('<li><a class="text-decoration-none" href="/project/' + project + '">' + project + '</a></li>')
  })
})
</script>

{% end %}
