{% extends "base_new.html" %}

<!-- 
## DEPRECIATED ##
Template file: barcode_vs_expected.html
URL: /barcode_vs_expected
Title: Expected yield vs matched yield for barcodes
Description: Stats for performance of different barcodes in sequencing yield
-->


{% block stuff %}
<div class="container-fluid">
  <h2>Expected yield vs matched yield for barcodes</h2>
  <h3>Single Barcodes</h3>
  <div id='single_barcodes'><span class='glyphicon glyphicon-refresh glyphicon-spin'></span>  Loading image.. <em>(can take up to a minute or so)</em></div>
  <h3>Double Barcodes</h3>
  <div id='double_barcodes'><span class='glyphicon glyphicon-refresh glyphicon-spin'></span>  Loading image.. <em>(can take up to a minute or so)</em></div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  // load in the slow image
  var single_img = $("<img />").attr('src', '/api/v1/plot/barcodes_vs_expected_single.png').load(function() {
      $("#single_barcodes").html(single_img);
      var double_img = $("<img />").attr('src', '/api/v1/plot/barcodes_vs_expected_double.png').load(function() {
        $("#double_barcodes").html(double_img);
      });
  });
});
</script>

{% end %}