<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Genomics Status</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Genomics Status. Keeping track of samples in SciLifeLab">
<meta name="author" content="Phil Ewels, Denis Moreno, Kate Stepanova,Guillermo Carrasco, Remi-André Olsen, many others.">

<!-- Javascript -->
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/base.js?v={{ gs_globals['git_commit'] }}"></script>
<script src="/static/js/typeahead.bundle.min.js?v={{ gs_globals['git_commit'] }}"></script>
{% if gs_globals['font_awesome_url'] %}
<script src={{ gs_globals['font_awesome_url'] }} crossorigin="anonymous"></script>
{% end %}

<!-- Le styles -->
<link rel="stylesheet" href="/static/css/custom-bootstrap-5-alpha.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/status_b5.css?v={{ gs_globals['git_commit'] }}" rel="stylesheet">


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
  <nav class="navbar navbar-expand-xl navbar-light {% if gs_globals['prod'] %} bg-light {% else %} bg-warning {% end %} fixed-top border-bottom shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Genomics-Status{% if not gs_globals['prod'] %}-Stage {% end %}</a>
      <form class="form-inline statusdb-search" role="search" id="navbar-searchbar">
        <input class="form-control typeahead" type="text" placeholder="Search" aria-label="Search">
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#genstat-main-nav-collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="genstat-main-nav-collapse">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown px-1">
            <a class="nav-link dropdown-toggle" id="nav_production_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Lists</a>
            <div class="dropdown-menu" aria-labelledby="nav_production_dropdown">
              <a class="dropdown-item" href="/deliveries">Deliveries</a>
              <a class="dropdown-item" href="/flowcells">Flowcells</a>
              <a class="dropdown-item" href="/projects">Projects</a>
              <a class="dropdown-item" href="/worksets">Worksets</a>
              <a class="dropdown-item" href="/controls">Controls</a>
              {% if user and (user.is_proj_coord or user.is_any_admin)%}
              <a class="dropdown-item" href="/invoicing">Invoicing</a>
              {% end %}
              <div role="separator" class="dropdown-divider"></div>
              <h6 class="dropdown-header">Queues</h6>
              <a class="dropdown-item" href="/libpooling_queues">Library Pooling</a>
              <a class="dropdown-item" href="/workset_queues">Pending for Workset</a>
              <a class="dropdown-item" href="/pools_qpcr">qPCR</a>
              <a class="dropdown-item" href="/sequencing_queues">Sequencing</a>
              <a class="dropdown-item" href="/smartseq3_progress">SmartSeq3 Progress</a>
            </div>
          </li>
          <li class="nav-item dropdown px-1">
            <a class="nav-link dropdown-toggle" id="nav_tools_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Tools</a>
            <div class="dropdown-menu" aria-labelledby="nav_tools_dropdown" role="menu">
              <a class="dropdown-item" href="/barcode">Barcode and Label printing</a>
              <a class="dropdown-item" href="/proj_meta">Compare Project Meta</a>
              <a class="dropdown-item" href="/pricing_quote">Cost Calculator</a>
              <a class="dropdown-item" href="/production/cronjobs">Cronjobs</a>
              <a class="dropdown-item" href="/instrument_logs">Instrument Logs</a>
              <a class="dropdown-item" href="/sample_requirements">Sample Requirements</a>
              <a class="dropdown-item" href="/yield_calculator">Yield Calculator</a>
              <a class="dropdown-item" href="/10X_chromium_hashtag_csv">10X Chromium Hashtag CSV</a>
              {% if user and (user.is_proj_coord or user.is_any_admin)%}
              <a class="dropdown-item" href="/clone_project">Clone Project in LIMS</a>
              {% end %}
              <div role="separator" class="dropdown-divider"></div>
              <h6 class="dropdown-header">External</h6>
              <a class="dropdown-item" href="https://ngi-tower.scilifelab.se/orgs/NGI/workspaces/NGI-Stockholm/launchpad" target="_blank">Seqera Platform</a>
              <a class="dropdown-item" href="https://genomics-plates.scilifelab.se/index.php">Plate Juggler</a>
              <a class="dropdown-item" href="http://lims-dashboard.scilifelab.se" target="_blank">Script Dashboard</a>
            </div>
          </li>
          <li class="nav-item dropdown px-1">
            <a class="nav-link dropdown-toggle" id="nav_stats_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Statistics</a>
            <div class="dropdown-menu" aria-labelledby="nav_stats_dropdown" role="menu">
              <a class="dropdown-item" href="/applications">Application Counts</a>
              <a class="dropdown-item" href="/data_delivered_plot">Data Delivered Trends</a>
              <a class="dropdown-item" href="https://ngi-dashboards.scilifelab.se/dbe/">External Dashboard</a>
              <a class="dropdown-item" href="/flowcells_plot">Flowcells Trends</a>
              <a class="dropdown-item" href="/ont_flowcells_plot">ONT Flowcells Trends</a>
              <a class="dropdown-item" href="/sensorpush">Sensorpush</a>
              <a class="dropdown-item" href="/lanes_ordered">Lanes Ordered</a>
              <a class="dropdown-item" href="/ngisweden_stats">NGI Sweden Website Statistics</a>
            </div>
          </li>
          {% if user and user.is_any_admin %}
          <li class="nav-item dropdown px-1">
            <a class="nav-link dropdown-toggle" id="nav_admin_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Admin</a>
            <div class="dropdown-menu" aria-labelledby="nav_admin_dropdown">
              {% if user and user.is_sample_requirements_admin %}
                <a class="dropdown-item" href="/sample_requirements_preview">Edit Sample Requirements</a>
              {% end %}
              {% if user and user.is_pricing_admin %}
                <a class="dropdown-item" href="/pricing_preview">New Cost Calculator</a>
              {% end %}
              {% if user and user.is_admin %}
                <a class="dropdown-item" href="/user_management">User Management</a>
              {% end %}
            </div>
          {% end %}
          <li class="nav-item px-1"><a class="nav-link" href="/suggestion_box">Suggestion Box</a></li>
          {% if user %}
            <li class="nav-item dropdown px-1">
              <a class="nav-link dropdown-toggle" id="userpref" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{user.name}}</a>
              <div class="dropdown-menu" aria-labelledby="userpref" role="menu">
                <a class="dropdown-item" href="/logout">Log Out</a>
                <a class="dropdown-item a-modal" href="/userpref">Preferences</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          {% end %}
        </ul>
      </div>
    </div>
  </nav>

  <main class="container-fluid">
    <!-- Content -->
    {% try %}
    {% if deprecated %}
    <div class="alert alert-danger alert-dismissible m-2" role="alert">
      <strong>Deprecation Warning!</strong> This page is deprecated and any information displayed here should be used with caution.
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    {% end %}
    {% except %}
    {% end %}
    {% block stuff %}
    {% end %}
  </main>

  <div class="container-fluid footer border-top pt-3">
      <p>Genomics Status version {{ gs_globals['gs_version'] }} (commit <a href="https://github.com/NationalGenomicsInfrastructure/genomics-status/tree/{{ gs_globals['git_commit_full'] }}" target="_blank">{{ gs_globals['git_commit'] }}</a>)</p>
      <p>Something broken or have an idea for an improvement? Please <a href="/suggestion_box">let us know</a>.</p>
  </div>

  <div class="modal fade" id="userPrefModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <p>Content!</p>
      </div>
    </div>
  </div>

  <script src="/static/js/bootstrap-5-alpha.bundle.min.js"></script>
  {% block js %}
  {% end %}
  <script>
    $('.a-modal').on('click', function(e){
      e.preventDefault();
      $('#userPrefModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
  </script>
</body>
</html>
