<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Genomics Status</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Genomics Status. Keeping track of samples in SciLifeLab">
<meta name="author" content="Phil Ewels, Denis Moreno, Kate Stepanova,Guillermo Carrasco, Remi-André Olsen, many others.">

<!-- Javascript -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/moment.min.js"></script>

<!-- Le styles -->
<link rel="stylesheet" href="/static/css/jquery-ui.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/status.css?v={{ gs_globals['git_commit'] }}" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#genstat-main-nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Genomics-Status</a>
        </div>

        <div class="collapse navbar-collapse" id="genstat-main-nav-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group statusdb-search" id="navbar-searchbar">
                    <input type="text" class="form-control typeahead" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="production">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#production">Production <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-header">General stats</li>
                      <li><a href="/applications">Application Counts</a></li>
                      <li><a href="/production/cronjobs">Cronjobs List</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Flowcells</li>
                      <li><a href="/flowcells_plot">Flowcells Trends</a></li>
                      <li><a href="/flowcell_count_plot">Flowcells Numbers</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Tools</li>
                      <li><a href="/nas_quotas">NAS Quotas</a></li>
                      <li><a href="/reads_total/">Read Count Totals</a></li>
                      <li><a href="/proj_meta">Compare Project Meta</a></li>
                      <li><a href="/instrument_logs">View Instrument Logs</a></li>
                      <li role="separator" class="divider"></li>
                    <li><a href="http://lims-dashboard.scilifelab.se">Script Dashboard</a></li>
                  </ul>
                </li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/flowcells">Flowcells</a></li>
                <li><a href="/worksets">Worksets</a></li>
                <li><a href="/deliveries">Bioinfo</a></li>
                <li><a href="/suggestion_box">Suggestion Box</a></li>
                {% try %}
                    <li><a href="/logout">Log Out {{user}}</a></li>
                {% except %}
                    <li><a href="/login">Login</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <!-- Content -->
    {% try %}
    {% if deprecated %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p><strong>Deprecation Warning!</strong> This page is deprecated and any information displayed here should be used with caution.</p>
    </div>

    {% end %}
    {% except %}
    {% end %}
    {% block stuff %}
    {% end %}
</div>
<hr>
<div class="container-fluid footer">
    <p>Genomics Status version {{ gs_globals['gs_version'] }} (commit <a href="https://github.com/SciLifeLab/genomics-status/tree/{{ gs_globals['git_commit_full'] }}" target="_blank">{{ gs_globals['git_commit'] }}</a>)</p>
    <p>Something broken or have an idea for an improvement? Please <a href="/suggestion_box">let us know</a>.</p>
</div>

<script src="/static/js/typeahead.bundle.min.js?v={{ gs_globals['git_commit'] }}"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/base.js?v={{ gs_globals['git_commit'] }}"></script>
</body>
</html>
