{% set status_css={'New': 'label-primary', 'QC-ongoing': 'label-danger', 'QC-done': 'label-warning', 'BP-ongoing': 'label-default', 'BP-done': 'label-success'} %}
{% set qc_css={ '?': 'unknown', 'Pass': 'success', 'Warning': 'warning', 'Fail': 'danger'} %}
<form class="form-inline">
  <div class="form-group">
    <label for="bioinfo_set-status">All run statuses: </label>
    <select id="bioinfo_set-status" class="form-control">
      <option>[ different values ]</option>
      <option>Ongoing</option>
      <option>Delivered</option>
      <option>Aborted</option>
    </select>
  </div>
  &nbsp; &nbsp; &nbsp;
  <button class="btn btn-default btn-sm" id="bioinfo-status-copyFirstRow">Copy first row to all</button>
  <span class="pull-right bioinfo-savespan">
    <button class="btn btn-primary" id="bioinfo-status-saveButton"
            {% if project_closed %} disabled {% end %}> Save Changes</button>
  </span>
</form>
<hr>
{% for project_id in bioinfo %}
<table class="table table-bioinfo-status">
  <colgroup span="2"></colgroup>
  <colgroup span="3"> </colgroup>
  <colgroup span="3"> </colgroup>
  <colgroup span="2"> </colgroup>
  <colgroup span="2"> </colgroup>
  <colgroup span="2"> </colgroup>
  {% if application == 'rnaseq' %}
    <colgroup class="bioinfo-app-rnaseq" span="2"></colgroup>
  {% elif application == 'exome' %}
    <colgroup class="bioinfo-app-exome" span="2"></colgroup>
  {% elif application == 'customCap' %}
    <colgroup class="bioinfo-app-customCap"></colgroup>
  {% elif application == 'WGreseq' %}
    <colgroup class="bioinfo-app-WGreseq" span="2"></colgroup>
  {% elif application == 'denovo' %}
    <colgroup class="bioinfo-app-denovo" span="2"></colgroup>
  {% elif application == 'applications' %}
    <colgroup class="bioinfo-app-applications" span="2"></colgroup>
  {% end %}
  <colgroup span="2"> </colgroup>
  <colgroup span="2"> </colgroup>
<tbody>
  <tr class="border-bottom">
    <th></th>
    <th></th>
    <th colspan="3">Sample</th>
    <th colspan="3">Multiplex QC</th>
    <th colspan="2">Quality</th>
    <th colspan="2">Contamination screen</th>
    {% if application == 'rnaseq' %}
      <th class="bioinfo-app-rnaseq" colspan="2">RNA-Seq</th>
    {% elif application == 'exome' %}
      <th class="bioinfo-app-exome" colspan="2">Exome capture</th>
    {% elif application == 'customCap' %}
      <th class="bioinfo-app-customCap">Custom capture</th>
    {% elif application == 'WGreseq' %}
      <th class="bioinfo-app-WGreseq" colspan="2">WG Reseq</th>
    {% elif application == 'denovo' %}
      <th class="bioinfo-app-denovo" colspan="2">De novo / Mate-Pair</th>
    {% elif application == 'applications' %}
      <th class="bioinfo-app-applications" colspan="2">Applications (if applicable)</th>
    {% end %}
    <th colspan="2">Reports Generated</th>
    <th colspan="2">Delivery Details</th>
  </tr>
  <tr class="bioinfo-field-names bioinfo-project" id="bioinfo-project-{{ project_id }}">
    <th class="bioinfo-project"><a href="#bioinfo-project-{{ project_id }}" class="bioinfo-expand">
      <span class="glyphicon glyphicon-chevron-right"></span></a></th>
    <th></th>
    <th>Sample</th>
    <th>Status</th>
    <th>Fill row</th>
    <th class="bioinfo-status-th undemultiplexedreads">Undemultiplexed reads</th>
    <th class="bioinfo-status-th unexpectedindexes">Unexpected indexes</th>
    <th class="bioinfo-status-th lowsampleyield">Low sample yield</th>
    <th class="bioinfo-status-th phixerrorrate">PhiX error rate</th>
    <th class="bioinfo-status-th basesq30">%bases >= Q30</th>
    <th class="bioinfo-status-th fastq_screen">fastq_screen</th>
    <th class="bioinfo-status-th blast_wrapper">blast_wrapper</th>
    {% if application =='rnaseq' %}
      <th class="bioinfo-status-th rnaseq_sequenceduplication">Sequence duplication</th>
      <th class="bioinfo-status-th rnaseq_uniquemappingrate">Unique mapping rate</th>
    {% elif application == 'exome' %}
      <th class="bioinfo-status-th exome_sequenceduplication">Sequence duplication</th>
      <th class="bioinfo-status-th exome_targets10xcoverage">% Targets @10X coverage</th>
    {% elif application == 'customCap' %}
      <th class="bioinfo-status-th customCap_enrichment">Enrichment</th>
    {% elif application == 'WGreseq' %}
      <th class="bioinfo-status-th WGreseq_sequenceduplication">Sequence duplication</th>
      <th class="bioinfo-status-th WGreseq_mappingrate">Mapping rate</th>
    {% elif application == 'denovo' %}
      <th class="bioinfo-status-th denovo_adaptertrimming">Adapter trimming</th>
      <th class="bioinfo-status-th denovo_kmerprofile">K-mer profile</th>
    {% elif application == 'applications' %}
      <th class="bioinfo-status-th bioinfo-app-applications">Data delivered</th>
      <th class="bioinfo-status-th bioinfo-app-applications">Data approved</th>
    {% end %}
    <th class="bioinfo-status-th-date samplereport">Sample report</th>
    <th class="bioinfo-status-th-date projectreport">Project report</th>
    <th class="bioinfo-status-th-date dataandreportstransferred">Data and report trasferred</th>
    <th class="bioinfo-status-th-date emailsenttouser">Email sent to user</th>
  </tr>
    {% for sample_id in bioinfo[project_id] %}
      <tr class="bioinfo-sample" id="bioinfo-sample-{{ sample_id }}" data-parent="#bioinfo-project-{{ project_id }}">
        <td class="bioinfo-status-expand"><a href="#bioinfo-sample-{{ sample_id }}" class="bioinfo-expand">
          <span class="glyphicon glyphicon-chevron-right"></span></a></td>
        <td></td>
        <td><samp>{{ sample_id }}</samp></td>
        <td class="bioinfo-status-runstate"><span class="label label-primary">New</span></td>
        <td class="bioinfo-status-row"><span class="glyphicon glyphicon-arrow-right"></span></td>
        <td class="bioinfo-status-pfw undemultiplexedreads unknown">?</td>
        <td class="bioinfo-status-pfw unexpectedindexes unknown">?</td>
        <td class="bioinfo-status-pfw lowsampleyield unknown">?</td>
        <td class="bioinfo-status-pfw phixerrorrate unknown">?</td>
        <td class="bioinfo-status-pfw basesq30 unknown">?</td>
        <td class="bioinfo-status-pfw fastq_screen unknown">?</td>
        <td class="bioinfo-status-pfw blast_wrapper unknown">?</td>
        {% if application == 'rnaseq' %}
          <td class="bioinfo-status-pfw rnaseq_sequenceduplication unknown">?</td>
          <td class="bioinfo-status-pfw rnaseq_uniquemappingrate unknown">?</td>
        {% elif application == 'exome' %}
          <td class="bioinfo-status-pfw exome_sequenceduplication unknown">?</td>
              <td class="bioinfo-status-pfw exome_targets10xcoverage unknown">?</td>
        {% elif application == 'customCap' %}
          <td class="bioinfo-status-pfw customCap_enrichment unknown">?</td>
        {% elif application == 'WGreseq' %}
          <td class="bioinfo-status-pfw WGreseq_sequenceduplication unknown">?</td>
          <td class="bioinfo-status-pfw WGreseq_mappingrate unknown">?</td>
        {% elif application == 'denovo' %}
          <td class="bioinfo-status-pfw denovo_adaptertrimming unknown">?</td>
          <td class="bioinfo-status-pfw denovo_kmerprofile unknown">?</td>
        {% elif application == 'applications' %}
          <td class="bioinfo-status-pfw applications">Data delivered</td>
          <td class="bioinfo-status-pfw applications">Data approved</td>
        {% end %}
          <td class="bioinfo-status samplereport">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
            </div>
          </td>
          <td class="bioinfo-status projectreport">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
            </div>
          </td>
          <td class="bioinfo-status dataandreportstransferred">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
            </div>
          </td>
          <td class="bioinfo-status emailsenttouser">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
            </div>
          </td>
      </tr>
      {% for flowcell_id in bioinfo[project_id][sample_id] %}
        <tr class="bioinfo-fc" id="bioinfo-fc-{{ sample_id }}-{{ flowcell_id }}"
            data-parent="#bioinfo-sample-{{ sample_id }}" style="display:none;">
          <td></td>
          <td class="bioinfo-status-expand"><a href="#bioinfo-fc-{{ sample_id }}-{{ flowcell_id }}" class="bioinfo-expand">
            <span class="glyphicon glyphicon-chevron-right"></span></a></td>
          <td><samp><a href="/flowcells/{{ flowcell_id.split('_')[0] }}_{{ flowcell_id.split('_')[-1] }}">{{ flowcell_id }}</a></samp></td>
          <td class="bioinfo-status-runstate"><span class="label label-primary">New</span></td>
          <td class="bioinfo-status-row"><span class="glyphicon glyphicon-arrow-right"></span></td>
          <td class="bioinfo-status-pfw undemultiplexedreads unknown">?</td>
          <td class="bioinfo-status-pfw unexpectedindexes unknown">?</td>
          <td class="bioinfo-status-pfw lowsampleyield unknown">?</td>
          <td class="bioinfo-status-pfw phixerrorrate unknown">?</td>
          <td class="bioinfo-status-pfw basesq30 unknown">?</td>
          <td class="bioinfo-status-pfw fastq_screen unknown">?</td>
          <td class="bioinfo-status-pfw blast_wrapper unknown">?</td>
        {% if application == 'rnaseq' %}
          <td class="bioinfo-status-pfw rnaseq_sequenceduplication unknown">?</td>
          <td class="bioinfo-status-pfw rnaseq_uniquemappingrate unknown">?</td>
        {% elif application == 'exome' %}
          <td class="bioinfo-status-pfw exome_sequenceduplication unknown">?</td>
              <td class="bioinfo-status-pfw exome_targets10xcoverage unknown">?</td>
        {% elif application == 'customCap' %}
          <td class="bioinfo-status-pfw customCap_enrichment unknown">?</td>
        {% elif application == 'WGreseq' %}
          <td class="bioinfo-status-pfw WGreseq_sequenceduplication unknown">?</td>
          <td class="bioinfo-status-pfw WGreseq_mappingrate unknown">?</td>
        {% elif application == 'denovo' %}
          <td class="bioinfo-status-pfw denovo_adaptertrimming unknown">?</td>
          <td class="bioinfo-status-pfw denovo_kmerprofile unknown">?</td>
        {% elif application == 'applications' %}
          <td class="bioinfo-status-pfw applications">Data delivered</td>
          <td class="bioinfo-status-pfw applications">Data approved</td>
        {% end %}
          <td class="bioinfo-status samplereport">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
            </div>
          </td>
          <td class="bioinfo-status projectreport">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span></div>
          </td>
          <td class="bioinfo-status dataandreportstransferred">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
            </div>
          </td>
          <td class="bioinfo-status emailsenttouser">
            <div class="input-group input-group-sm date"><input type="text" class="form-control">
              <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span></div>
          </td>
        </tr>
        {% for lane_id, lane in bioinfo[project_id][sample_id][flowcell_id].items() %}
          <tr class="bioinfo-lane" id="bioinfo-lane-{{ sample_id }}-{{ flowcell_id }}-{{ lane_id }}"
              data-parent="#bioinfo-fc-{{ sample_id }}-{{ flowcell_id }}" style="display:none;">
            <td></td>
            <td><a href="#bioinfo-lane-{{ sample_id }}-{{ flowcell_id }}-{{ lane_id }}"></a></td>
            <td class="bioinfo-status-expand"><samp>{{ lane_id }}</samp></td>
            <td class="bioinfo-status-runstate"><span class="label {{ status_css.get(lane.get('sample_status', 'New'), 'label-default') }}">{{ lane.get('sample_status') }}</span></td>
            <td class="bioinfo-status-row"><span class="glyphicon glyphicon-arrow-right"></span></td>
            <td class="bioinfo-status-pfw undemultiplexedreads {{ qc_css[lane.get('undemultiplexedreads', '?')] }}">
              {{ lane.get('undemultiplexedreads', '?') }}</td>
            <td class="bioinfo-status-pfw unexpectedindexes {{ qc_css[lane.get('unexpectedindexes', '?')] }}">
              {{ lane.get('unexpectedindexes', '?') }}</td>
            <td class="bioinfo-status-pfw lowsampleyield {{ qc_css[lane.get('lowsampleyield', '?')] }}">
              {{ lane.get('lowsampleyield', '?') }}</td>
            <td class="bioinfo-status-pfw phixerrorrate {{ qc_css[lane.get('phixerrorrate', '?')] }}">
              {{ lane.get('phixerrorrate', '?') }}</td>
            <td class="bioinfo-status-pfw basesq30 {{ qc_css[lane.get('basesq30', '?')] }}">
              {{ lane.get('basesq30', '?') }}</td>
            <td class="bioinfo-status-pfw fastq_screen {{ qc_css[lane.get('fastq_screen', '?')] }}">
              {{ lane.get('fastq_screen', '?') }}</td>
            <td class="bioinfo-status-pfw blast_wrapper {{ qc_css[lane.get('blast_wrapper', '?')] }}">
              {{ lane.get('blast_wrapper', '?') }}</td>
            {% if application == 'rnaseq' %}
              <td class="bioinfo-status-pfw rnaseq_sequenceduplication {{ qc_css[lane.get('rnaseq_sequenceduplication', '?')] }}">
                {{ lane.get('rnaseq_sequenceduplication', '?') }}</td>
              <td class="bioinfo-status-pfw rnaseq_uniquemappingrate {{ qc_css[lane.get('rnaseq_uniquemappingrate', '?')] }}">
                {{ lane.get('rnaseq_uniquemappingrate', '?') }}</td>
            {% elif application == 'exome' %}
              <td class="bioinfo-status-pfw exome_sequenceduplication {{ qc_css[lane.get('exome_sequenceduplication', '?')] }}">
                {{ lane.get('exome_sequenceduplication', '?') }}</td>
              <td class="bioinfo-status-pfw exome_targets10xcoverage {{ qc_css[lane.get('exome_targets10xcoverage', '?')] }}">
                {{ lane.get('exome_targets10xcoverage', '?') }}</td>
            {% elif application == 'customCap' %}
              <td class="bioinfo-status-pfw customCap_enrichment {{ qc_css[lane.get('customCap_enrichment', '?')] }}">
                {{ lane.get('customCap_enrichment', '?') }}</td>
            {% elif application == 'WGreseq' %}
              <td class="bioinfo-status-pfw WGreseq_sequenceduplication {{ qc_css[lane.get('WGreseq_sequenceduplication', '?')] }}">
                {{ lane.get('WGreseq_sequenceduplication', '?') }}</td>
              <td class="bioinfo-status-pfw WGreseq_mappingrate {{ qc_css[lane.get('WGreseq_mappingrate', '?')] }}">
                {{ lane.get('WGreseq_mappingrate', '?') }}</td>
            {% elif application == 'denovo' %}
              <td class="bioinfo-status-pfw denovo_adaptertrimming {{ qc_css[lane.get('denovo_adaptertrimming', '?')] }}">
                {{ lane.get('denovo_adaptertrimming', '?') }}</td>
              <td class="bioinfo-status-pfw denovo_kmerprofile {{ qc_css[lane.get('denovo_mkerprofile', '?')] }}">
                {{ lane.get('denovo_kmerprofile', '?') }}</td>
            {% elif application == 'applications' %}
              <td class="bioinfo-status-pfw applications">?</td>
              <td class="bioinfo-status-pfw applications">?</td>
            {% end %}
              <td class="bioinfo-status samplereport">
                <div class="input-group input-group-sm date"><input type="text" class="form-control">
                  <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
                </div></td>
              <td class="bioinfo-status projectreport">
                <div class="input-group input-group-sm date"><input type="text" class="form-control">
                  <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span></div></td>
              <td class="bioinfo-status dataandreportstransferred">
                <div class="input-group input-group-sm date"><input type="text" class="form-control">
                  <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
                </div></td>
              <td class="bioinfo-status emailsenttouser">
                <div class="input-group input-group-sm date"><input type="text" class="form-control">
                  <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span></div>
              </td>
          </tr>
        {% end %}
      {% end %}
    {% end %}
</tbody></table>
{% end %} <!-- end project -->
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bioinfo_tab.js"></script>