{% extends base.html %}
{% block stuff %}
<div id="page_content">

    <span id="page_title" style="display:none;">Bioinfo Analysis {{ project_id }}</span>
    {% set status_css={
      'Demultiplexing': 'label-default',
      'Transferring': 'label-default',
      'Sequencing': 'label-default',
      'New': 'label-primary',
      'QC-ongoing': 'label-warning',
      'QC-done': 'label-success',
      'BP-ongoing': 'label-warning',
      'BP-done': 'label-success',
      'ERROR': 'label-danger',
      }; %}
    {% set qc_css={ '?': 'unknown', 'Pass': 'success', 'Warning': 'warning', 'Fail': 'danger', 'N/A': 'active'} %}
    <h3>
      <a href="/project/{{ project_id }}">{{ project_id }}, {{ project_name }}</a><br>
      <small>
        &nbsp; <span class="bi-project-facility label {% if project_type == 'Application' %} label-success {% else %} label-primary {% end %}">{{ project_type }}</span>
        <span class="bi-project-application" data-toggle="tooltip" data-delay="500" title="Application">{{ application }}</span>
        &nbsp; <span class="bi-project-assigned" data-toggle="tooltip" data-delay="500" title="Bioinfo-responsible">{{ bioinfo_responsible }}</span>
      </small>
    </h3>
    <hr>
    <form class="form-inline">
      <div class="form-group">
        <label for="bioinfo-view">Select view: </label>
        <select id="bioinfo-view" class="form-control">
          <option selected="selected" value="run-view">Run-lane-sample (default)</option>
          <option value="sample-view">Sample-run-lane</option>
        </select>
      </div>
      &nbsp; &nbsp; &nbsp;
      <span class="pull-right bioinfo-savespan">
        <button class="btn btn-primary" id="bioinfo-status-saveButton"
          {% if project_closed %} disabled {% end %}> Save Changes</button>
      </span>
    </form>

    {% include "bioinfo_tab/run_lane_sample_view.html" %}
    {% include "bioinfo_tab/sample_run_lane_view.html" %}

    <button id="bioinfo-show-history-button" class="btn btn-default" data-target="#bioinfo-show-history">Show Edit History</button>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/bioinfo_tab.js"></script>
  </div>

<div id='bioinfo-confirm-dialog' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>After 'Data Delivered' is set, you cannot make any changes. Do you want to save changes? </p>
      </div>
      <div class="modal-footer">
        <button id="bioinfo-confirm-save" type="button" class="btn btn-primary">Save changes</button>
        <button id="bioinfo-confirm-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="bioinfo-show-history" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit history for project {{ project_id }}</h4>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="bioinfo_history_accordion">
          {% for user_timestamp in sorted(edit_history.keys(), reverse=True) %}
          {% set history=edit_history.get(user_timestamp, {}) %}
          <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">
                 <a data-toggle="collapse" data-parent="#bioinfo_history_accordion"
                    href="#history_{{ user_timestamp[1].replace(' ', '-') }}_{{ user_timestamp[0].replace(' ', '-').replace(':', '-') }}">
                   {{ user_timestamp[0] }}
                   <small class="pull-right"><em>User:</em> <strong>{{ user_timestamp[1] }}</strong></small>
                 </a>
               </h4>
            </div>
            <div id="history_{{ user_timestamp[1].replace(' ', '-') }}_{{ user_timestamp[0].replace(' ', '-').replace(':', '-') }}"
                 class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-bordered">
                  <tbody>
                    {% for flowcell_lane_sample in sorted(history.keys()) %}
                      <tr>
                        <th colspan="2">{{ flowcell_lane_sample[0] }}-{{ flowcell_lane_sample[1] }}-{{ flowcell_lane_sample[2] }}</th>
                      </tr>
                      <tr>
                        <td>Sample Status</td>
                        <td>{{ history[flowcell_lane_sample].get('sample_status') }}</td>
                      </tr>
                      <tr>
                        <td>User</td>
                        <td>{{ history[flowcell_lane_sample].get('user') }}</td>
                      </tr>
                      {% for qc, value in history[flowcell_lane_sample].get('qc', {}).items() %}
                        <tr>
                          <td>{{ qc }}</td>
                          <td>{{ value }}</td>
                        </tr>
                      {% end %}
                      {% for bp, value in history[flowcell_lane_sample].get('bp', {}).items() %}
                        <tr>
                          <td>{{ bp }}</td>
                          <td>{{ value }}</td>
                        </tr>
                      {% end %}
                    {% end %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% end %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/js/bioinfo_tab.js"></script>
{% end %}