{% extends "base.html" %}
<!--
Template file: controls.html
URL: /controls/
Title: Controls
Description: Overview of positive and negative controls
-->

{% block stuff %}
<div class="row">
    <h1><span id="page_title">Positive and Negative Controls</span></h1>
</div>
  <div id="page_content" >
    <div class="tabbable">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="#tab_negative_controls" role="tab" data-toggle="tab" aria-selected="true">Negative Controls</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab_positive_controls" role="tab" data-toggle="tab">Positive Controls</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_negative_controls">
          <h2 class="negative_controls_heading"><small class="text-muted">all negative controls with worksets</small></h2>
          <div id="neg_control-list">
            &nbsp;
            <table class="table table-striped table-bordered sortable" id="negative_controls_table">
              <thead id="negative_controls_table_head">
                <tr class="sticky darkth">
                 {% for onekey in headers %}
                    <th class="sort">{{ onekey[0] }}</th>
                 {% end %}
                 </tr>
              </thead>
              <tfoot id="workset_table_footer">
                <tr class="sticky darkth">
                  {% for onekey in headers %}
                     <th class="sort">{{ onekey[0] }}</th>
                  {% end %}
                  </tr>
              </tfoot>
              <tbody id="negative_controls_table_body"></tbody>
                {% for control in negative_control_data%}
                <tr>
                  {% for onekey in headers %}
                    {% if onekey[1] == 'project' %}
                    <td>
                      <span class="label label-date sentenceCase">{{ negative_control_data[control].get(onekey[1]) }}</span>
                    </td>
                    {% elif onekey[1] == 'sample_id' %}
                    <td>
                      <span class="label label-date sentenceCase">{{ negative_control_data[control].get(onekey[1]) }}</span>
                    </td>
                    {% elif onekey[1] == 'customer_name' %}
                    <td>
                      <span class="label label-date sentenceCase">{{ negative_control_data[control].get(onekey[1]) }}</span>
                    </td>
                    {% elif onekey[1] == 'status_manual' %}
                    <td>
                      <span class="label label-date sentenceCase">{{ negative_control_data[control].get(onekey[1]) }}</span>
                    </td>
                    {% elif onekey[1] == 'workset_name' %}
                    <td>
                      <a href="/workset/{{ negative_control_data[control].get(onekey[0]) }}" style="color:#000000;">{{ negative_control_data[control].get(onekey[1]) }}</a>
                    </td>
                    {% elif onekey[1] == 'workset_projects' %}
                      <td>
                        {% if negative_control_data.get(control).get('ws_name_used_only') %} <!-- labels if projects have been retrieved based on the workset name only -->
                          <span class="label label-date sentenceCase">**</span>
                        {%end%}
                        {% for i in range(0,len(negative_control_data.get(control).get(onekey[1]).get('ws_project_names'))) %}
                          <a href="/project/{{ negative_control_data.get(control).get(onekey[1]).get('ws_project_numbers')[i] }}" class="text-success text-decoration-none" data-toggle="tooltip" title="Status"><i class="fa fa-folder-open">&nbsp;</i> {{ negative_control_data.get(control).get(onekey[1]).get('ws_project_names')[i] }} </a>                     
                          &nbsp;<br>
                        {%end%}
                      </td>
                    {% elif onekey[1] == 'prep_status' %}
                    <td>
                      <span class="label label-date sentenceCase">{{ negative_control_data[control].get(onekey[1]) }}</span>
                    </td>
                    {% elif onekey[1] == 'sequenced_fc' %}
                    <td>
                      {% for fc in negative_control_data.get(control).get(onekey[1]) %}
                        <a href="/flowcells/{{fc}}" style="color:#2856E5;text-decoration: none;"><i class="fa fa-folder-open">&nbsp;</i> {{ fc }} </a>                     
                        <br>
                      {%end%}
                    </td>
                    {%end%}
                    {%end%}
                </tr>
                {%end%}
            </table>
          </div>
        </div>
      <div class="tab-pane fade" id="tab_positive_controls">
        <h2 class="positive_controls_heading"><small class="text-muted">all positive controls with worksets</small></h2>
        <div id="neg_control-list">
          &nbsp;
          <table class="table table-striped table-bordered sortable" id="positive_controls_table">
            <thead id="positive_controls_table_head">
              <tr class="sticky darkth">
                {% for onekey in headers %}
                  <th class="sort">{{ onekey[0] }}</th>
                {% end %}
              </tr>
            </thead>
            <tfoot id="workset_table_footer">
              <tr class="sticky darkth">
                {% for onekey in headers %}
                  <th class="sort">{{ onekey[0] }}</th>
                {% end %}
              </tr>
            </tfoot>
            <tbody id="positive_controls_table_body"></tbody>
              {% for control in positive_control_data%}
              <tr>
                {% for onekey in headers %}
                  {% if onekey[1] == 'project' %}
                  <td>
                    <span class="label label-date sentenceCase">{{ positive_control_data[control].get(onekey[1]) }}</span>
                  </td>
                  {% elif onekey[1] == 'sample_id' %}
                  <td>
                    <span class="label label-date sentenceCase">{{ positive_control_data[control].get(onekey[1]) }}</span>
                  </td>
                  {% elif onekey[1] == 'customer_name' %}
                  <td>
                    <span class="label label-date sentenceCase">{{ positive_control_data[control].get(onekey[1]) }}</span>
                  </td>
                  {% elif onekey[1] == 'status_manual' %}
                  <td>
                    <span class="label label-date sentenceCase">{{ positive_control_data[control].get(onekey[1]) }}</span>
                  </td>
                  {% elif onekey[1] == 'workset_name' %}
                  <td>
                    <a href="/workset/{{ positive_control_data[control].get(onekey[1]) }}" style="color:#000000;">{{ positive_control_data[control].get(onekey[1]) }}</a>
                  </td>
                  {% elif onekey[1] == 'workset_projects' %}
                    <td>
                      {% if positive_control_data.get(control).get('ws_name_used_only') %} <!-- labels if projects have been retrieved based on the workset name only -->
                        <span class="label label-date sentenceCase">**</span>
                      {%end%}
                      {% for i in range(0,len(positive_control_data.get(control).get(onekey[1]).get('ws_project_names'))) %}
                          <a href="/project/{{ positive_control_data.get(control).get(onekey[1]).get('ws_project_numbers')[i] }}" class="text-success text-decoration-none" data-toggle="tooltip" title="Status"><i class="fa fa-folder-open">&nbsp;</i> {{ positive_control_data.get(control).get(onekey[1]).get('ws_project_names')[i] }} </a>                     
                          &nbsp;<br>
                        {%end%}
                    </td>
                  {% elif onekey[1] == 'prep_status' %}
                  <td>
                    <span class="label label-date sentenceCase">{{ positive_control_data[control].get(onekey[1]) }}</span>
                  </td>
                  {% elif onekey[1] == 'sequenced_fc' %}
                  <td>
                    {% for fc in positive_control_data.get(control).get(onekey[1]) %}
                      <a href="/flowcells/{{fc}}" style="color:#2856E5;text-decoration: none;"><i class="fa fa-folder-open">&nbsp;</i> {{ fc }} </a>                     
                      <br>
                    {%end%}
                  </td>
                  {%end%}
                  {%end%}
              </tr>
              {%end%}
          </table>
        </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% end %}