{% extends "base_new.html" %}

<!-- 
Template file: cronjobs.html
URL: /production/cronjobs
Title: Production cronjobs
Description: Diagnostic page showing all cron jobs on all servers
-->

{% block stuff %}

<div class="container-fluid" id="content">
	<h1>Production cronjobs</h1>

	<p>The tables below show information about all cronjobs running on production servers.</p>
	<p><em>Deactivated (i.e commented) cronjobs will appear in red.</em></p>
</div>

<script>
$(document).ready(function(){
	var container = $("#content");
	$.getJSON('/api/v1/production/cronjobs', function(data){
		$.each(data, function(server, cronjobs){
			// Header with server name and last updated
			$("#content").append('<h3>'+server+' (last updated '+cronjobs['last_updated'].split(' ')[0]+')</h3>');

			// Table and Header
			tbl = $('<table class="table"><thead><tr>'+
			'<th>User</th>'+
			'<th>Minute</th>'+
			'<th>Hour</th>'+
			'<th>Day of month</th>'+
			'<th>Month</th>'+
			'<th>Day of week</th>'+
			'<th>Command</th>'+
			'</tr></thead><tbody></tbody></table>');
	  
			// Create table body
			users = cronjobs['users'];
			$.each(users, function(user, cronjobs){
				$.each(cronjobs, function(cronjob_id, cronjob_data){
					var tbl_row = '<tr>';
					tbl_row += '<td><samp>'+user+'</samp></td>';
					tbl_row += '<td>'+cronjob_data['Minute']+'</td>';
					tbl_row += '<td>'+cronjob_data['Hour']+'</td>';
					tbl_row += '<td>'+cronjob_data['Day of month']+'</td>';
					tbl_row += '<td>'+cronjob_data['Month']+'</td>';
					tbl_row += '<td>'+cronjob_data['Day of week']+'</td>';
					tbl_row += '<td><pre';
					if (!cronjob_data['Enabled']) {
						tbl_row += ' class="bg-danger"';
					}
					tbl_row += '><code>'+cronjob_data['Command']+'</code></pre></td>';
					tbl_row += '</tr>';
					$(tbl).find('tbody').append(tbl_row);
				});
			});
			$("#content").append(tbl);
		});
	});
});
</script>

{% end %}
