{% extends "base.html" %}

<!--
Template file: data_delivered_plot.html
URL: /delivered_plot/[timestamp1]-[timestamp]2
Title: Data delivered plot
Description: Plots the data delivered.
-->

{% block stuff %}

<div id="page_content">
<h1>Data Delivered Plot</h1>
<p>The default view shows the file size of each project </p>
<div id="main_plot" style="height: 700px;">
</div>
<div id="control_container" style="margin-top:40px;">
  <div class="row">
    <div id="logs_date" class="col-md-6">
            <form class="form-inline" id="logs_date_form">
                Select data delivered from:
                <div class='input-group input-group-sm date' id='datepick1'>
                    <input id="inp_date_1" type='text' class="form-control" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            to
            <div class='input-group input-group-sm date' id='datepick2'>
                <input id="inp_date_2" type='text' class="form-control"/><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span> 
            </div>
            <button id="submit_interval" class="btn btn-primary btn-sm">Search</button>
            </form>
    </div>
  <div class="col-md-3">
            <div id="view_select_div">
                <form class='form-inline' id="view_select_form" >
                    View by:
                    <select class="form-control input-sm" id="view_select">
                        <option class="view_option" value='sequencing_platform'>Sequencing Platform</option>
                        <option class="view_option" value='application'>Application</option>
                        <option class="view_option" value='type'>Department</option>
                        <option class="view_option" value='delivery_type'>Delivery</option>
                        <option class="view_option" value='sample_type'>Sample library</option>
                        <option class="view_option" value='best_practice_bioinformatics'>Best Practice</option>
                    </select>
                </form>
            </div>
  </div>
  <div class="col-md-3">
            <div id="inst_type_filter_div">
                 <form class='form-inline' id="inst_type_filter_form">
                     Filter by:
                     <input id="filter_novaseq" class="filter_inst_type" type="checkbox" name="inst_type_filter" value="NovaSeq" checked/> NovaSeq
                     <input id="filter_miseq" class="filter_inst_type" type="checkbox" name="inst_type_filter" value="MiSeq" checked/> MiSeq
                     <input id="filter_nextseq" class="filter_inst_type" type="checkbox" name="inst_type_filter" value="NextSeq" checked/> NextSeq
                     <input id="filter_hiseq" class="filter_inst_type" type="checkbox" name="inst_type_filter" value="HiSeq" checked/> HiSeq
                 </form>
            </div>
  </div>
  </div>
  </div>
  </div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="/static/js/chroma.min.js" ></script>
<script src="/static/js/data_del_plot.js?v={{ gs_globals['git_commit'] }}"></script>
{% end %}
