{% extends "base.html" %}

<!--
Template file: deliveries.html
URL: /deliveries
Title: Summary of all Ongoing and Incoming deliveries
Description: Shows a table with all ongoing and incoming bioinformatics projects.
-->

{% block stuff %}

{% set status_css={
    'Sequencing': 'bg-secondary',
    'Demultiplexing': 'bg-secondary',
    'New': 'bg-primary',
    'Transferring': 'bg-secondary',
    'QC-ongoing': 'bg-warning',
    'QC-done': 'bg-success',
    'BP-ongoing': 'bg-warning',
    'BP-done': 'bg-success',
    'ERROR': 'bg-danger',
    }; %}

<div id="page_content" class="deliveries-page">
  <div id="ongoing_deliveries">
    <h1 class="mt-4">Ongoing <span id="page_title">Deliveries</span></h1>
    <div class="row mt-5">
      <div class="form col-md-3">
        <h4>Number of</h4>
        <dl class="dl-horizontal">
          <dt>Ongoing Projects: </dt><dd><span class="badge rounded-pill bg-secondary">{{ ongoing_projects }}</span></dd>
          <dt>Projects to be closed: </dt><dd><span class="badge rounded-pill bg-secondary">{{ projects_to_be_closed }}</span></dd>
          <dt>Flowcells: </dt><dd><span class="badge rounded-pill bg-secondary">{{ number_of_flowcells }}</span></dd>
          <dt>Lanes: </dt><dd><span class="badge rounded-pill bg-secondary">{{ number_of_lanes }}</span></dd>
          <dt>Samples: <dd><span class="badge rounded-pill bg-secondary">{{ number_of_samples }}</span></dd>
        </dl>
      </div>
      <div class="form col-md-3 status-filters">
        <h4>Flowcell status
          <div class="btn-group">
            <a href="#" class="btn btn-sm btn-outline-dark all-statuses">All</a>
            <a href="#" class="btn btn-sm btn-outline-dark none-statuses">None</a>
          </div>
        </h4>
        <div id="visible-classes" class="{{ ' '.join(status_list.keys()) }}"></div>
        <div id="filtered-classes" class=""></div>
        {% for status, number in status_list.items() %}
	        {% if number != 0 %}
	        <div class="chkbox mb-2">
	          <label class="checkbox-inline">
	            <input class="fc-status-checkbox mr-1" type="checkbox" value="{{ status }}" checked> {{ status }}
	              <span class="badge rounded-pill bg-secondary"> {{ number }}</span></label>
	        </div>
	        {% end %}
        {% end %}
      </div>
      <div class="form col-md-3 type-filters">
        <h4>Project type
          <div class="btn-group">
            <a href="#" class="btn btn-sm btn-outline-dark all-types">All</a>
            <a href="#" class="btn btn-sm btn-outline-dark none-types">None</a>
          </div>
        </h4>
        <div id="visible-classes" class="{{ ' '.join(project_type_list.keys()) }}"></div>
        <div id="filtered-classes" class=""></div>
        {% for type, number in project_type_list.items() %}
	        {% if number != 0 %}
	        <div class="chkbox mb-2">
	          <label class="checkbox-inline">
	            <input class="proj-type-checkbox mr-1" type="checkbox" value="{{ type }}" checked> {{ type }}
	              <span class="badge rounded-pill bg-secondary"> {{ number }}</span></label>
	        </div>
	        {% end %}
        {% end %}
      </div>
      <div class="form col-md-3 responsible-filters">
        <h4>Bioinfo responsible
          <div class="btn-group">
            <a href="#" class="btn btn-sm btn-outline-dark all-responsibles">All</a>
            <a href="#" class="btn btn-sm btn-outline-dark none-responsibles">None</a>
          </div>
        </h4>
        {% for responsible, number in sorted(responsible_list.items()) %}
          <div class="chkbox mb-2">
            <label class="checkbox-inline">
              <input class="bi-responsible-checkbox mr-1" type="checkbox" value="{{ responsible }}" checked> {{ responsible }}
                <span class="badge rounded-pill bg-secondary"> {{ number }}</span></label>
          </div>
        {% end %}
      </div>
    </div>

    {% for project_id, project in sorted(deliveries.items()) %}
      <div class="delivery {{ ' '.join(project_status.get(project_id, [])) }} mt-5" id="bioinfo-delivery-project-{{ project_id }}">
        {% if 'error' in project %}
          <h3><a href="project/'+pid+'" class="bi-project-id">'+pid+'</a></h3><div class="alert alert-danger"><strong>Error</strong> - could not find project information for {{ project_id }}</div>
        {% else %}
        <h3>
          <a class="text-decoration-none" href="/project/{{ project_id }}" data-toggle="tooltip" title="Project Page" class="bi-project-id">{{ project_id }}</a>:
          <a class="text-decoration-none" href="/bioinfo/{{ project_id }}" data-toggle="tooltip" title="Bioinfo Tab" class="bi-project-name">{{ project['project_name'] }}</a><br>
          <small>
            &nbsp; <span class="bi-project-facility badge {% if project['type'] == 'Application' %} bg-success {% else %} bg-primary {% end %}">{{ project.get('type') }}</span>
            <span class="bi-project-application text-muted" data-toggle="tooltip" data-delay="500" title="Application">{{ project['application'] }}</span>
            &nbsp; <span class="bi-project-assigned text-muted" data-toggle="tooltip" data-delay="500" title="Bioinfo-responsible">{{ project['bioinfo_responsible'] }} </span>
              <select class="input-small edit-bi-project-assigned text-muted" style="display:none;">
                {% for responsible in lims_responsibles %}
                  <option value="{{ responsible }}" {% if project['bioinfo_responsible'] == responsible %} selected {% end %}>{{ responsible }}</option>
                {% end %}
              </select>
              <span class="button-edit-bioinfo-responsible fa fa-edit text-muted"></span>
              <span class="button-save-bioinfo-responsible fa fa-check text-muted" style="display:none;"></span>
              <span class="button-reset-bioinfo-responsible fa fa-times text-muted" style="display:none;"></span>
          </small>
        </h3>
        <div class="col-10 offset-1 pb-3">
          <p class="mt-3 fw-bold">Latest running note:</p>
          <div class="card">
              <div class="card-header bi-project-note-header">
                <a class="text-decoration-none" href="#">{{ project['latest_running_note']['user'] }}</a> - <span class="todays_date">{{ form_date(project['latest_running_note']['created_at_utc']) }}</span>
                  {% if project['latest_running_note']['categories'] %} - <span class="fillbadgecolour"> {{ project['latest_running_note']['categories'] }} </span> {% end %}
              </div>
              <div class="card-body bi-project-note-text">
                  <div class="running-note-body text-muted">{% autoescape None %} {{ project['latest_running_note']['note'] }}</div>
              </div>
          </div>
        </div>
        <div class="col-10 offset-1">
          <table class="table table-bordered table-bioinfo-status table-bioinfo-status-runview">
            <thead>
              <tr class="bioinfo-project darkth" id="bioinfo-project-{{ project_id }}">
                <th class="bioinfo-project" style="width: 3%;">
                  <a href="#bioinfo-project-{{ project_id }}" class="bioinfo-expand">
                    <span class="fa fa-chevron-right"></span>
                  </a>
                </th>
                <th style="width: 3%;"></th>
                <th style="width: 39%;">Run ID</th>
                <th style="width: 15%;">Status</th>
                <th class="hide-incoming" style="width: 40%;">Checklists</th>
              </tr>
            </thead>
            <tbody>
              {% for flowcell_id, flowcell in sorted(project['runs'].items()) %}
              <tr class="bioinfo-fc" id="bioinfo-fc-{{ project_id }}-{{ flowcell_id }}" data-parent="#bioinfo-project-{{ project_id }}">
                <td class="bioinfo-status-expand"><a href="#bioinfo-fc-{{ project_id }}-{{ flowcell_id }}" class="bioinfo-expand">
                    <span class="fa fa-chevron-right"></span></a></td>
                <td></td>
                {% set url_addition = "" %}
                {% if flowcell.get("instrument_type") == "element"%}
                  {% set url_addition = "_element" %}
                {% elif flowcell.get("instrument_type") == "ont"%}
                  {% set url_addition = "_ont" %}
                {% end %}
                <td class="bioinfo-granularity"><samp><a class="text-decoration-none" href="/flowcells{{url_addition}}/{{ flowcell_id }}">{{ flowcell_id }}</a></samp></td>
                <td><span class="bioinfo-status badge {{ status_css.get(flowcell['flowcell_status'], 'bg-primary') }}">{{ flowcell['flowcell_status'] }}</span></td>
                  <td class="bi-run-pwf hide-incoming {% if flowcell['checklist']['total'] == flowcell['checklist']['completed'] %} table-success {% else %} table-warning {% end %}">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success" style="width:{{ float(flowcell['checklist']['completed']) / float(flowcell['checklist']['total']) * 100.0 }}%"
                           title="{{ flowcell['checklist']['completed'] }} completed" data-toggle="tooltip">{{ flowcell['checklist']['completed'] }}</div>
                    </div>
                  </td>
              </tr>
              {% for lane_id, lane in sorted(flowcell['lanes'].items()) %}
                <tr class="bioinfo-lane" id="bioinfo-lane-{{ project_id }}-{{ flowcell_id }}-{{ lane_id }}"
                    data-parent="#bioinfo-fc-{{ project_id }}-{{ flowcell_id }}" style="display:none;">
                  <td></td>
                  <td class="bioinfo-status-expand"><a href="#bioinfo-lane-{{ project_id }}-{{ flowcell_id }}-{{ lane_id }}" class="bioinfo-expand">
                      <span class="fa fa-chevron-right"></span></a></td>
                  <td class="bioinfo-granularity"><samp>{{ lane_id }}</samp></td>
                  <td><span class="bioinfo-status badge {{ status_css.get(lane['lane_status'], 'bg-primary') }}">{{ lane['lane_status'] }}</span></td>
                  <td class="bi-run-pwf hide-incoming {% if lane['checklist']['total'] == lane['checklist']['completed'] %} table-success {% else %} table-warning {% end %}">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success" style="width:{{ float(lane['checklist']['completed']) / float(lane['checklist']['total']) * 100.0 }}%"
                           title="{{ lane['checklist']['completed'] }} completed" data-toggle="tooltip">{{ lane['checklist']['completed'] }}</div>
                    </div>
                  </td>
                </tr>
                {% for sample_id, sample in sorted(lane['samples'].items()) %}
                  {% set passed = len(sample['checklist']['passed']) %}
                  {% set warnings = len(sample['checklist']['warnings']) %}
                  {% set failed = len(sample['checklist']['failed']) %}
                  <!--division by zero-->
                  {% set total = max(len(sample['checklist']['total']), 1) %}
                  <tr class="bioinfo-sample" id="bioinfo-sample-{{ project_id }}-{{ flowcell_id }}-{{ lane_id }}-{{ sample_id }}"
                      data-parent="#bioinfo-lane-{{ project_id }}-{{ flowcell_id }}-{{ lane_id }}" style="display:none;">
                    <td></td>
                    <td><a href="#bioinfo-sample-{{ project_id }}-{{ flowcell_id }}-{{ lane_id }}-{{ sample_id }}"
                        class="bioinfo-expand text-decoration-none"></a></td>
                    <td class="bioinfo-granularity"><samp>{{ sample_id }}</samp></td>
                    <td><span class="bioinfo-status badge {{ status_css.get(sample['status'], 'bg-primary') }}">{{ sample['status'] }}</span></td>
                    <td class="bi-run-pwf hide-incoming {% if passed + warnings + failed < total %} table-warning {% else %} table-success {% end %}">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" style="width:{{ float(passed) / float(total) * 100.0 }}%" title="{{ passed }} Passes" data-toggle="tooltip">{{ passed }}</div>
                        <div class="progress-bar progress-bar-striped bg-warning" style="width:{{ float(warnings) / float(total) * 100.0 }}%" title="{{ warnings }} Warnings" data-toggle="tooltip">{{ warnings }}</div>
                        <div class="progress-bar progress-bar-striped bg-danger" style="width:{{ float(failed) / float(total) * 100.0 }}%" title="{{ failed }} Fail" data-toggle="tooltip">{{ failed }}</div>
                      </div>
                    </td>
                  </tr>
                {% end %} <!-- end samples-->
              {% end %} <!--end lanes-->
            {% end %} <!--end flowcells-->
            </tbody>
          </table>
        </div>
      {% end %} <!-- end if -->
    </div>
  {% end %} <!--end ongoing-->
  </div> <!-- .col-lg-6 -->
</div>

<!-- Javascript -->
<script src="../static/js/deliveries.js" id="deliveries-js" data-user="{{ user.name }}"></script>
<script src="../static/js/running_notes.js"></script>
{% end %}
