{% extends 'base.html' %}
{% block stuff %}
<div id="element_vue_app">
    <v-element-flowcell ngi_run_id="{{ngi_run_id}}"/>
</div>
{% end %}

{% block js %}

<script src="/static/js/vue.v3.2.47.global.prod.js"></script>
<script src="/static/js/axios.v1.3.4.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/external/textarea-caret.3.1.0.js"></script>
<script type="module" src="/static/js/element_flowcell.js?v={{ gs_globals['git_commit'] }}"></script>

{% end %}

