{% extends "base.html" %}
<!--
Template file: error_page.html
URL: /<any>
Title: Error Template
Description: Defaut response page for an error - usually 404 (page not found) or 500 (internal server error)
NOTE: Returns JSON if an API call, this template if not.
-->

{% block stuff %}

<h1 id="page_title">Error {{ status }}: {{ reason }}</h1>

<div class="alert alert-danger" role="alert">
  <h4>Oops, something went wrong with your page request. Sorry about that!</h4>
  If you don't think that you did anything wrong, please let us know what page
  you were trying to access, using the <a href="/suggestion_box">Suggestion Box</a>
  page.
</div>

<p>For debugging purposes, we've tried to grab the error that triggered this page for you:</p>
<pre class="well text-muted"><small>{{ gs_globals['exception_fulltext'] }}</small></pre>

<h1></h1>

{% end %}
