{% extends 'base.html' %}
{% block stuff %}
<div id="page_content">
  {% if locals().get('error', False) %}
    <h1>Error - Flow Cell Not Found</h1>
    <div class="alert alert-danger">{{ error }}</div>
  {% else %}
    <h1>Flow Cell <span id="page_title">{{ flowcell_id }}</span></h1>
    <table class="table table-bordered narrow-headers" id="fc_info">
      <tr>
        <th>Projects:</th>
        <td>{{ ', '.join(sorted(flowcell['plist'])) }} </td>
      </tr>
    </table>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <!--href="tab_details_content"-->
          <a href="#tab_flowcell_information" role="tab" data-toggle="tab">Flowcell Information</a>
        </li>
        <li>
          <a href="#tab_running_notes_content" role="tab" data-toggle="tab">Running Notes</a>
        </li>
        <li>
          <a href="#tab_links_content" role="tab" data-toggle="tab">Links</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab_flowcell_information">
        <h3>Lane Information</h3>
        <div id="lanes">
          {% for lane_number, lane in flowcell['lanedata'].items() %}
            <div id="lane_{{ lane_number }}" class="sublane">
              <h4>Lane {{ lane_number }}
                <button id="ud_button_lane_' +lid + '" class="undetermined-btn btn btn-info btn-sm"
                           type="button" onclick="display_undetermined('{{ lane_number }}')" >Show Undetermined</button>
              </h4>
              <table class="table table-bordered narrow-headers no-margin" id="summary_lane_{{ lane_number }}">
                <tbody>
                  <tr>
                    <th>Total yield (Mb):</th>
                    <td>{{ lane['yield'] }}</td>
                    <th>Total clusters:</th> {% set treshold = tresholds.get(flowcell.get('run_mode', ''), 0) %}
                    <td class="text-left
                    {% if flowcell.get('run_mode') %}
                      {% if int(lane.get('clustersnb', '0').replace(',', '')) < treshold * 1000000 %} warning
                      {% else %} success {% end %}
                    {% end %}" data-toggle="tooltip" data-placement="bottom"
                        title="Treshold: {{ treshold }} million">{{ lane.get('clustersnb') }}
                    </td>
                    <th>% bases > Q30:</th>
                    <td class="text-left {% if lane.get('overthirty', 0) < 30 %} danger {% elif lane.get('overthirty', 0) < 80 %}
                      warning {% else %} success {% end %}">{{ lane.get('overthirty', 0) }}
                    </td>
                    <th>Mean Quality Score:</th>
                    <td class="text-left">{{ lane.get('mqs', 0) }}</td>
                    <th>% perfect barcode :</th>
                    <td class="text-left">{{ lane.get('perf', 0) }}</td>
                    {% if 'phix' in lane %}
                      <th>% Phix:</th>
                      <td class="text-left">{{ lane['phix'] }}</td>
                    {% end %}
                    {% if 'er_rate' in lane %}
                      <th>Err. rate</th>
                      <td class="text-left">{{ lane['er_rate'] }}</td>
                    {% end %}
                  </tr>
                </tbody>
                <!--// here can be a problem -->
                <!--} else if (data['yields'][lid] != 0){-->
                        <!--sbody='<tr><th>Total Yield (<abbr title="Megabases">Mb</abbr>):</th> \-->
                        <!--<td>' + data['yields'][lid]+ '</td></tr>';-->
                <!--}-->
              </table>

              <br>
              <table class="table table-bordered" id="table_lane_{{ lane_number }}">
                <tbody>
                  <tr>
                    <th>Project Name</th>
                    <th>Sample Name</th>
                    <th>Yield (<abbr title="Megabases">Mb</abbr>)</th>
                    {% if 'readsnb' in lane %}
                      <th>Reads</th>
                    {% elif 'clustersnb' in lane %}
                      <th>Clusters</th>
                    {% end %}
                    <th>Q30</th>
                    {% if 'desc' in lane %}
                      <th>Index Description</th>
                    {% end %}
                    {% if 'lanepc' in lane %}
                      <th>% of the lane</th>
                    {% end %}
                    <th>Barcode</th>
                    <th>% of the lane</th>
                    {% if 'mqs' in lane %}
                      <th>Mean Quality Score</th>
                    {% end %}
                  </tr>
                {% set total_undetermined = 0 %}
                {% for sample in flowcell['lane'][lane_number] %}
                  <tr>
                    <td>{{ sample.get('Project', '').replace('__', '.') }}</td>
                    <td>{{ sample.get('SampleName') }}</td>
                    <td>{{ sample.get('yield') }}</td>
                    <td>{{ sample.get('readsnb', sample.get('clustersnb', 0)) }}</td>
                    <td class="{% if sample.get('overthirty', 0) < 30 %} danger {% elif sample.get('overthirty', 0) < 80 %} danger {% else %} success {% end %}">
                      {{ sample.get('overthirty', 0) }}
                    </td>
                    <td>{{ sample.get('barcode') }}</td>
                    {% if 'lanepc' in sample %} <td>{{ float("{0:.2f}".format(sample['lanepc'])) }}</td> {% end %}
                    {% if 'mqs' in sample %}<td>{{ sample['mqs'] }}</td> {% end %}
                  </tr>
                  {% if sample.get('SampleName') == 'Undetermined' %}
                    {% set total_undetermined = sample.get('clustersnb').replace(',', '') %}
                  {% end %}
                {% end %}
                </tbody>
              </table>
              {% if 'undetermined' in flowcell %}
                <table class="undetermined " id="table_ud_lane_{{ lane_number }}" style="display:none;">
                  <tr>
                    <th>Total:</th><th>{{ total_undetermined }}</th><th>100%</th>
                    {% for sample in flowcell['lane'][lane_number] %}
                      {% if sample['barcode'] != 'unknown' %}
                        {% if re.match(('N|)(').join(sample.get('barcode').split() + 'N)$'), undetermined)
                            bc = '^('+bc.split('').join('|N)(')+'|N)$';
                        <th>{{ sample['barcode'] }} mismatches</th>
                      {% end %}
                    {% end %}
                    </tr>
                  {% for undetermined, number in sorted(flowcell['undetermined'][lane_number].items(), key=lambda x: x[1], reverse=True) %}
                    <tr class="">
                      <td><samp>{{ undetermined }}</samp></td>
                      <td>{{ number }}</td>
                      <td>{{ float("{0:.2f}".format(100 * float(number)/float(total_undetermined))) }}%</td>
                      {% for sample in flowcell['lane'][lane_number] %}
                        {% if sample['barcode'] != 'unknown' %}
                          {% set mismatches=sum([sample['barcode'][i] != undetermined[i] and sample['barcode'][i] != 'N' and undetermined[i] != 'N' for i in range(len(undetermined)) ]) %}
                          {% set fr_matched = float( "{0:.2f}".format( (float(len(undetermined)) - float(mismatches)) / float(len(undetermined))) ) %}
                          <td class="{% if fr_matched > 0.8 %}undetermined-highlight{% elif fr_matched > 0.6 %}undetermined-warning{% end %}">{{ mismatches }}</td>
                        {% end %}
                      {% end %}
                    </tr>
                  {% end %}
                </table>
            {% end %}
            </div>
          {% end %}
        </div>
      </div>

      <!-- FLOWCELL NOTES TAB -->
      {% include "running_notes_tab.html" %}
      <!-- LINK TAB -->
      {% include "link_tab.html" %}
      <!-- RUNNING NOTES HELP -->
      {% include "running_notes_help.html" %}
    </div>
  {% end %}
</div>

<script src="/static/js/running_notes.js?v={{ gs_globals['git_commit'] }}" id="rn-js" data-workset="{{ flowcell_id }}"></script>
<script src="/static/js/links.js?v={{ gs_globals['git_commit'] }}" id="ln-js" data-workset="{{ flowcell_id }}"></script>
<!--<script src="/static/js/flowcell.js?v={{ gs_globals['git_commit'] }}" id="flowcells-js" data-flowcell="{{ flowcell_id }}"></script>-->
<script src="/static/js/flowcell_samples.js?v={{ gs_globals['git_commit'] }}" id="flowcells-js" data-flowcell="{{ flowcell_id }}"></script>
{% end %}