{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid" id="sample_list">

  <h2>{{ flowcell }}</h2>
  <table class="table table-bordered" id="fc_info">
    <tbody></tbody>
  </table>


  <h3>Lane info</h3>
  <div id="lanes">
  </div>
  
  </div>

<script>

f = d3.format(',g')
fpr = d3.format('.2%')

for (var i = 1; i < 9; i++) {
    $("#lanes").append('<div id="lane_' + i + '"><h4>Lane ' + i + '</h4>');
    $("#lanes").append('<table class="table table-bordered narrow-headers" id="summary_lane_'+i+'""><tbody></tbody></table><br></div>')
    $("#lanes").append('<table class="table table-bordered" id="table_lane_'+i+'""><tbody></tbody></table><br></div>')
};

$.getJSON("/api/v1/flowcell_info2/{{ flowcell }}", function(data) {
    tbody = "<tr><th>Sequencing done</th><td>" + data["seqdone"]+"</td></tr>";
    tbody += "<tr><th>Demultiplex</th>";
    if(data.hasOwnProperty("demuldone")){
        tbody+="<td class='text-success'>Done</td>"
        tbody += "</tr><tr>"
        tbody += "<th>Projects :</th><td>";
        tbody += data["plist"].join(", ")
        tbody += "</td></tr>";
        for (lid=1;lid<9;lid++){
            sbody="<tr><th>Total Yield :</th><td>";
            sbody+=data['yields'][lid];
            sbody+="</td>";
            for(i=1;i<4;i++){
            sbody+="<tr>";
                sbody+="<th>Read "+i+" Error rate :</th>";
                sbody+="<td>"+data['err'+i][lid]+"</td>";
            }
            sbody+="</tr>";
            $("#summary_lane_"+lid+" tbody").html(sbody);
        }
        for (lid in data['lane']){
            lbody="";
            lbody+="<tr><th>Project Name</th><th>Sample Name</th><th>Yield (Mbases)</th><th># Reads</th><th>% >Q30</th><th>Barcode</th><th>Index description</th></tr>";
            for (samplerunid in data['lane'][lid]){
                lbody+="<tr><td>"+data['lane'][lid][samplerunid]['Project']+"</td>";
                lbody+="<td>"+data['lane'][lid][samplerunid]['SampleName']+"</td>";
                lbody+="<td>"+data['lane'][lid][samplerunid]['yield']+"</td>";
                lbody+="<td>"+data['lane'][lid][samplerunid]['readsnb']+"</td>";
                if(parseFloat(data['lane'][lid][samplerunid]['overthirty']) < 30){
                    lbody+="<td class='label-danger'>"
                }else if(parseFloat(data['lane'][lid][samplerunid]['overthirty']) < 80){
                    lbody+="<td class='label-warning'>"
                }else if(parseFloat(data['lane'][lid][samplerunid]['overthirty']) < 100){
                    lbody+="<td class='label-success'>"
                }else{
                    lbody+="<td>"
                }
                lbody+=data['lane'][lid][samplerunid]['overthirty']+"</td>";
                lbody+="<td>"+data['lane'][lid][samplerunid]['barcode']+"</td>";
                lbody+="<td>"+data['lane'][lid][samplerunid]['desc']+"</td>";
                lbody+="</tr>";
            }
            console.log("#table_lane_"+lid+" tbody0>\n"+lbody);
            $("#table_lane_"+lid+" tbody").html(lbody);
            
        }

      }else{

      tbody+="<td class ='text-warning'>Pending</td></tr>"
    
  }

  $("#fc_info tbody").html(tbody);

  console.log(data)
});

</script>

{% end %}
