{% extends "base.html" %}

<!--
Template file: flowcells.html
URL: /flowcells
Title: Summary of all Flowcells
Description: Shows a table with all flow cells.
-->

{% block stuff %}

<div class="container-fluid" id="flowcell_list">
  <div id="fc_table_div">
      <h1><span id="page_title">Flowcells</span> </h1>
      <table class="table table-striped table-bordered sortable" id="fc_table">
        <thead>
          <tr>
            <th class="sort" data-sort="run_id">Run id</th>
            <th class="sort" data-sort="start_date">Start date</th>
            <th class="sort" data-sort="system">System</th>
            <th class="sort" data-sort="mode">Mode</th>
            <th class="sort" data-sort="chemistry">Chemistry</th>
            <th class="sort" data-sort="recipe">Recipe</th>
            <th class="sort" data-sort="lane">Lane</th>
            <th class="sort" data-sort="project">Project</th>
            <th class="sort" data-sort="pf_clusters">PF Clusters (M)</th>
            <th class="sort" data-sort="q30_bases">% bases > Q30</th>
            <th class="sort" data-sort="er_rate">PhiX error rate</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="sort" data-sort="run_id">Run id</th>
            <th class="sort" data-sort="start_date">Start date</th>
            <th class="sort" data-sort="system">System</th>
            <th class="sort" data-sort="mode">Mode</th>
            <th class="sort" data-sort="chemistry">Chemistry</th>
            <th class="sort" data-sort="recipe">Recipe</th>
            <th class="sort" data-sort="lane">Lane</th>
            <th class="sort" data-sort="project">Project</th>
            <th class="sort" data-sort="pf_clusters">PF Clusters (M)</th>
            <th class="sort" data-sort="q30_bases">% bases > Q30</th>
            <th class="sort" data-sort="er_rate">PhiX error rate</th>
          </tr>
        </tfoot>
        <tbody class="list">

         {% for onefc in flowcells %}
            <tr>
                <td class="run_id">
                    <a href="/flowcells/{{ onefc }}">{{ flowcells[onefc]["run id"] }}</a>
                    {% if flowcells.get(onefc).get('demultiplexing') == 'Done' %}
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    {% end %}
                </td>
                <td class="start_date">{{ flowcells[onefc]["startdate"]}}</td>
                <td class="system">
                {% if 'type' in flowcells[onefc]%}
                    {{ flowcells[onefc]['type'].replace(" Control Software", "") }}
                {% else%}
                    -
                {% end %}
                </td>
                <td class="mode">{{ flowcells[onefc].get('mode', '-') }}</td>
                <td class="chemistry" class="text-center">
                {% if 'fctype' in flowcells[onefc] %}
                    {{ flowcells[onefc]['fctype'].split(" ")[-1] }}
                {% elif 'kitver' in flowcells[onefc] %}
                    v{{ flowcells[onefc]['kitver'][-1:] }}
                {% elif 'workflow' in flowcells[onefc] %}
                    {{ flowcells[onefc]['workflow'].replace("NovaSeq", "") }}
                {% else %}
                -
                {% end %}
                </td>
                <td class="recipe">{{ flowcells[onefc].get('recipe', '-') }}</td>
                <td class="lane" class="text-center">
                     {% if 'lane_info' in flowcells[onefc] > 0 %}
                         {% for onelane in flowcells[onefc]['lane_info'] %}
                             <samp style="max-width:50px;">{{ onelane }}</samp><br>
                         {% end %}
                    {% end %}
                </td>
                <td class="project" class="text-center">
                     {% if 'lane_info' in flowcells[onefc] > 0 %}
                         {% for onelane in flowcells[onefc]['lane_info'] %}
                             <samp style="max-width:50px;">
                             {% for oneproj in flowcells[onefc]['lane_info'][onelane]['project_name'] %}
                                 <a href="/project/{{ flowcells[onefc]['lane_info'][onelane]['project_id'][flowcells[onefc]['lane_info'][onelane]['project_name'].index(oneproj)] }}">{{ oneproj }}</a>
                             {% end %}
                             </samp><br>
                         {% end %}
                    {% end %}
                </td>
                <td class="pf_clusters" class="text-center">
                     {% if 'lane_info' in flowcells[onefc] > 0 %}
                         {% for onelane in flowcells[onefc]['lane_info'] %}
                             {% if flowcells[onefc]['lane_info'][onelane].get('pf_clusters') %}
                                 <samp style="max-width:50px;">{{ int(flowcells[onefc]['lane_info'][onelane].get('pf_clusters').replace(',',''))/1000000 }}</samp><br>
                             {% else %}
                                 <samp style="max-width:50px;">{{ 'NA' }}</samp><br>
                             {% end %}
                         {% end %}
                    {% end %}
                </td>
                <td class="q30_bases" class="text-center">
                     {% if 'lane_info' in flowcells[onefc] > 0 %}
                         {% for onelane in flowcells[onefc]['lane_info'] %}
                             <samp style="max-width:50px;">{{ flowcells[onefc]['lane_info'][onelane].get('q30_bases', 'NA') }}</samp><br>
                         {% end %}
                    {% end %}
                </td>
                <td class="er_rate" class="text-center">
                     {% if 'lane_info' in flowcells[onefc] > 0 %}
                         {% for onelane in flowcells[onefc]['lane_info'] %}
                             {% if flowcells[onefc]['lane_info'][onelane].get('er_rate') %}
                                 <samp style="max-width:50px;">{{ round(flowcells[onefc]['lane_info'][onelane].get('er_rate'),2) }}</samp><br>
                             {% else %}
                                 <samp style="max-width:50px;">{{ 'NA' }}</samp><br>
                             {% end %}
                         {% end %}
                    {% end %}
                </td>
            </tr>
         {% end %}
        </tbody>
      </table>
    </div>
</div>

<script src="/static/js/jquery.dataTables.min.js"></script>
<!-- Table Sorting -->
<script type="text/javascript">
$( document ).ready(function() {
init_listjs();
});
// Initialize sorting and searching javascript plugin
function init_listjs() {
    // Setup - add a text input to each footer cell
    $('#fc_table tfoot th').each( function () {
      var title = $('#fc_table thead th').eq( $(this).index() ).text();
      $(this).html( '<input size=10 type="text" placeholder="Search '+title+'" />' );
    } );

    var table = $('#fc_table').DataTable({
      "paging":false,
      "info":false,
      "order": [[ 0, "desc" ]]
    });

    //Add the bootstrap classes to the search thingy
    $('div.dataTables_filter input').addClass('form-control search search-query');
    $('#fc_table_filter').addClass('form-inline pull-right');
    $("#fc_table_filter").appendTo("h1");
    $('#fc_table_filter label input').appendTo($('#fc_table_filter'));
    $('#fc_table_filter label').remove();
    $("#fc_table_filter input").attr("placeholder", "Search..");
    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
            .search( this.value )
            .draw();
        } );
    } );
}
</script>


{% end %}
