{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid" id="flowcell_list">
  <h2>Flowcells</h2><br>
  <table class="table table-striped" id="fc_table">
    <thead>
      <tr>
        <th>Run id</th>
        <th>Start date</th>
        <th>System</th>
        <th>Mode</th>
        <th>Chemistry</th>
        <th>Recipe</th>
        <th>Software Version</th>
        <th>Yield (Gb)</th>
        <th>Flowcell</th>
        <th>Pos</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script src="/static/js/flowcells.js" id="flowcells-js" ></script>


{% end %}
