{% extends "base_new.html" %}

<!-- 
Template file: flowcell_samples.html
URL: /flowcells/[flowcell]
Title: Individual Flowcell Page 
Description: Shows information about a specific flow cell
-->

{% block stuff %}

<div class="container-fluid" id="sample_list">

    <h2>Flow Cell {{ flowcell }}</h2>
    <table class="table table-bordered narrow-headers" id="fc_info">
        <tbody></tbody>
    </table>


    <h3>Lane Information</h3>
    <div id="lanes"></div>
  
</div>

<script>

for (var i = 1; i < 9; i++) {
    $("#lanes").append('<div id="lane_' + i + '"> \
        <h4>Lane ' + i + '</h4> \
        <table class="table table-bordered narrow-headers" id="summary_lane_'+i+'""> \
            <tbody></tbody> \
        </table> \
    </div>')
};

$.getJSON("/api/v1/flowcell_info2/{{ flowcell }}", function(data) {
    var tbody = '<tr> \
                     <th>Sequencing done</th> \
                     <td>' + data['seqdone'] + '</td> \
                 </tr> \
                 <tr> \
                     <th>Demultiplex</th>';
    if(data.hasOwnProperty("demuldone")){
        tbody+="<td><span class='label label-success'>Done</label></td> \
        </tr>\
        <tr> \
            <th>Projects :</th>\
            <td>" + data["plist"].join(", ") + "</td>\
        </tr>";
        for (lid=1;lid<9;lid++){
            if (data['yields'][lid] !== 0){
                var sbody="<tr> \
                    <th>Total Yield :</th> \
                    <td>" + data['yields'][lid] + "</td> \
                </tr>";
            }
            if (data['seq_qc'][lid] !== 0){
                sbody+="<tr> \
                    <th>Sequencing QC:</th> \
                    <td>" + data['seq_qc'][lid] + "</td> \
                </tr>";
            }
            for(i=1;i<4;i++){
                if(data.hasOwnProperty('err'+i)){
                    sbody+="<tr> \
                        <th>Read "+i+" Error rate :</th> \
                        <td>"+data['err'+i][lid]+"</td> \
                    </tr>";
                }
            }
            $("#summary_lane_"+lid+" tbody").html(sbody);
        }
        for (lid in data['lane']){
            if(data['lane'][lid].length == 0){
                continue;
            }
            var lbody='<table class="table table-bordered" id="table_lane_' + i + '"> \
                        <tbody> \
                            <tr> \
                                <th>Project Name</th> \
                                <th>Sample Name</th> \
                                <th>Yield (<abbr title="Megabases">Mb</abbr>)</th> \
                                <th># Reads</th> \
                                <th>% &gt; Q30</th> \
                                <th>Barcode</th> \
                                <th>Index description</th> \
                            </tr>';
            for (samplerunid in data['lane'][lid]){
                var q30 = parseFloat(data['lane'][lid][samplerunid]['overthirty']);
                lbody += "<tr> \
                    <td>" + data['lane'][lid][samplerunid]['Project'] + "</td> \
                    <td>" + data['lane'][lid][samplerunid]['SampleName'] + '</td> \
                    <td class="text-right">' + data['lane'][lid][samplerunid]['yield'] + '</td> \
                    <td class="text-right">' + data['lane'][lid][samplerunid]['readsnb'] + '</td> \
                    <td class="text-right ';
                    if (q30 < 30) lbody += 'danger';
                    else if(q30 < 80) lbody += 'warning';
                    else if(q30 < 100) lbody += 'success';
                lbody += '">' + data['lane'][lid][samplerunid]['overthirty'] + "</td>\
                    <td>" + data['lane'][lid][samplerunid]['barcode'] + "</td> \
                    <td>" + data['lane'][lid][samplerunid]['desc'] + "</td> \
                </tr>";
            }
            lbody += '</tbody></table>';
            $("#lane_"+lid).append(lbody);
            
        }

    } else {
        tbody+="<td class ='label label-warning'>Pending</td></tr>"
    }

    $("#fc_info tbody").html(tbody);

    // console.log(data)
});

</script>

{% end %}
