{% extends "base.html" %}

<!--
Template file: flowcell_samples.html
URL: /flowcells/[flowcell]
Title: Individual Flowcell Page
Description: Shows information about a specific flow cell
-->

{% block stuff %}

<div id="loading_spinner" style="text-align:center; margin:100px 0;"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span>  Loading flowcell page..</div>
<div id="page_content" style="display:none;">

    <h1>Flow Cell <span id="page_title">{{ flowcell }}</span></h1>
    <table class="table table-bordered narrow-headers" id="fc_info">
        <tbody>
            <tr>
                <td class="text-muted"><span class='glyphicon glyphicon-refresh glyphicon-spin'></span> <em>Loading..</em></td>
            </tr>
        </tbody>
    </table>


    <h3>Lane Information</h3>
    <div id="lanes"></div>

</div>

<script src="/static/js/flowcell_samples.js?v={{ gs_globals['git_commit'] }}" id="flowcells-js" data-flowcell="{{ flowcell }}"></script>

{% end %}
