{% extends "base.html" %}

<!--
Template file: flowcell_count_plot.html
URL: /flowcell_count_plot/[timestamp1]-[timestamp]2
Title: Flowcell Count Plot
Description: Plots the number of recent flowcells per instrument.
-->

{% block stuff %}

<div id="page_content">
<h1>Yield Plot</h1>
<p>The default view shows 1 year worth of flowcells. </p>
<div id="main_plot" style="height: 700px;">
</div>
<div id="control_container">
    <div class="row">
        <div id="logs_date" class="col-md-8">
            <form class="form-inline" id="logs_date_form">
                Select flowcells from 
                <div class='input-group input-group-sm date' id='datepick1'>
                    <input id="inp_date_1" type='text' class="form-control" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            to
            <div class='input-group input-group-sm date' id='datepick2'>
                <input id="inp_date_2" type='text' class="form-control"/><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span> 
            </div>
            <button id="submit_interval" class="btn btn-primary btn-sm">Search</button>
            </form>
        </div>
        <div id="display_select_div" class="col-md-4">
            <form class='form-inline' id="display_select_form">
                Display by :
                <select class="form-control input-sm" id="display_select">
                    <option class="display_option" value='instrument'>Instrument</option>
                    <option class="display_option" value='inst_type' selected>Instrument Type</option>
                </select>
                and
                <select class="form-control input-sm" id="display_time_select">
                    <option class="display_option" value=2>Year</option>
                    <option class="display_option" value=3>Month</option>
                    <option class="display_option" value=4 selected>Week</option>
                    <option class="display_option" value=5>Day</option>
                </select>

            </form>

        </div>
    </div>
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/chroma.min.js" ></script>
<script src="/static/js/flowcell_count_plot.js"></script>
{% end %}
