{% extends "base.html" %}

{% block stuff %}
<h1 id="scilifelabgenomics-status">SciLifeLab Genomics - Status</h1>

{% if not user %}

<h2> Get Access </h2>
<p>To get access to the resources on this site, you first need to log in with the account given to you by your manager.</p>
<p><a class="btn btn-primary btn-lg", href="/login">Log in</a></p>

{% else %}

<p>Genomics status displays information from multiple data sources. <span id="updated-status"></span></p>

<form class="form-horizontal" role="form">
    <div class="form-group form-group-lg statusdb-search" id="homepage-searchbar">
        <label for="typeahead-input" class="control-label">Search for Project, Workset or Flow Cell:</label>
        <input autofocus class="typeahead form-control input-lg" type="text" placeholder="Project, Workset or Flowcell Name / ID">
        <span class="glyphicon glyphicon-refresh glyphicon-spin input-spinner subtle-spinner"></span>
    </div>
</form>

<div class="row homepage-ctas">
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="/projects/all"><i class="glyphicon glyphicon-search"></i></a></h3>
			<p><a class="btn btn-primary" href="/projects/all">View All Projects</a></p>
		</div>
	</div>
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="/projects/pending"><i class="glyphicon glyphicon-time"></i></a></h3>
			<p><a class="btn btn-primary" href="/projects/pending">Pending Projects</a></p>
		</div>
	</div>
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="/projects/reception_control"><i class="glyphicon glyphicon-tags"></i></a></h3>
			<p><a class="btn btn-primary"  href="/projects/reception_control">Reception Control</a></p>
		</div>
	</div>

	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="/projects/ongoing"><i class="glyphicon glyphicon-road"></i></a></h3>
			<p><a class="btn btn-primary" href="/projects/ongoing">Ongoing Projects</a></p>
		</div>
	</div>
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="http://genomics-dashboard.scilifelab.se/"><i class="glyphicon glyphicon-barcode"></i></a></h3>
			<p><a class="btn btn-primary"  href="http://genomics-dashboard.scilifelab.se/">Production Dash</a></p>
		</div>
	</div>
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="http://genomics-dashboard.scilifelab.se/Application/"><i class="glyphicon glyphicon-qrcode"></i></a></h3>
			<p><a class="btn btn-primary"  href="http://genomics-dashboard.scilifelab.se/Application/">Applications Dash</a></p>
		</div>
	</div>
</div>

<div class="alert alert-info">
    <p style="text-align:center;">Want to see something different here? Let us know on the
      <a href="/suggestion_box">suggestions page</a>! We're currently collecting feedback on
      how the homepage should look..</p>
</div>

<!-- sparkline plots table -->
<div class="row">
	<div class="col-lg-6">
		<h3>Storage Usage</h3>
		<table id="project_quotas" class="table table-bordered">
		    <thead>
		        <tr>
		            <th>Project</th>
		            <th>Disk Usage</th>
		            <th>Nobackup Disk</th>
		            <th>CPU Hours</th>
		        </tr>
		    </thead>
		    <tbody>
		    </tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<h3>Latest Updated Data</h3>
		<table class="table table-striped table-bordered" id="update_table">
			<thead>
				<tr>
					<th>Type</th>
					<th>Data</th>
					<th>Update Time</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="/static/js/index.js?v={{ gs_globals['git_commit'] }}" id="indexpage-js-import" data-uppmax_projects="{{ ','.join(uppmax_projects) }}" ></script>

{% end %}

{% end %}
