{% extends "base.html" %}

{% block stuff %}
<div class="container-xxl">
  <div class="col-10 mb-5 mx-auto text-center">
    <h1 class="mt-4 display-1">Genomics Status</h1>
    <p class="lead fs-3">Status page for the Stockholm node of National Genomics Infrastructure</p>

    {% if not user %}

    <h2> Get Access </h2>
    <p>To get access to the resources on this site, you first need to log in with the account given to you by your manager.</p>
    <p><a class="btn btn-primary btn-lg", href="/login">Log in</a></p>

    {% else %}
    <p class="lead" id="updated-status">
    </p>
    <div class="mb-5 mt-3">
      <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary btn-lg" href="/projects">Projects</a>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-lg mr-3 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <h6 class="dropdown-header">Default Presets</h6>
            {% for preset_name in presets['default'].keys() %}
              <li><a class="dropdown-item" href="/projects?load_preset={{preset_name}}">{{preset_name}}</a></li>
            {% end %}
            {% if presets['user'] %}
              <div role="separator" class="dropdown-divider"></div>
              <h6 class="dropdown-header">User Presets</h6>
              {% for preset_name in presets['user'].keys() %}
                <li><a class="dropdown-item" href="/projects?load_preset={{preset_name}}">{{preset_name}}</a></li>
              {% end %}
            {% end %}
            <div role="separator" class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/project_cards">Experimental: Project Cards</a></li>
          </ul>
        </div>
      </div>
      <a type="button" class="btn btn-primary btn-lg px-4 mr-3" href="/flowcells">Flowcells</a>
      <a type="button" class="btn btn-primary btn-lg px-4 mr-3" href="/worksets">Worksets</a>
      <a type="button" class="btn btn-primary btn-lg px-4" href="/deliveries">Deliveries</a>
    </div>
    <div class="col-8 fs-4 mx-auto" id="sensorpush_status">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="lead fs-3 mt-5">Want to see something different here? Let us know on the
      <a class="text-decoration-none" href="/suggestion_box">suggestions page.</a>
    </p>

  </div>

  <div class="row pt-5">
    <div class="col-lg-7" id="vue_index_main">
    </div>

    <div class="col-lg-5">
    <h3>Server Status</h3>
      <table class="table table-bordered table-disk-quotas">
        <thead>
          <tr class="darkth">
            <th>Server</th>
            <th>Instrument</th>
            <th>Disk (Used / Quota)</th>
          </tr>
        </thead>
        <tbody>
          {% for server, status in server_status %}
          <tr>
            <td>{{ server }}</td>
            <td>{{ status.get('instrument') }}</td>
            <td class="disk-quotas-highcharts {{ status.get('css_class') }}"><div class="wrapper"><span class="val" style="width:{{ status.get('used_percentage') }};">
              <span>{{ status.get('space_used') }}</span></span>
              <span class="percent float-right">{{ status.get('disk_size') }}</span></div>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/static/js/vue.v3.2.47.global.prod.js"></script>
<script src="/static/js/axios.v1.3.4.min.js"></script>
<script src="/static/js/external/textarea-caret.3.1.0.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="/static/js/index.js?v={{ gs_globals['git_commit'] }}" id="indexpage-js-import"></script>
<script src="/static/js/dataTables-extensions-1.13.6.min.js"></script>
<script type="module" src="/static/js/index_vue.js"></script>
{% end %}

{% end %}
