{% extends "base.html" %}

{% block stuff %}
<h1 class="mt-4" id="scilifelabgenomics-status">SciLifeLab Genomics - Status</h1>

{% if not user %}

<h2> Get Access </h2>
<p>To get access to the resources on this site, you first need to log in with the account given to you by your manager.</p>
<p><a class="btn btn-primary btn-lg", href="/login">Log in</a></p>

{% else %}

<p>Genomics status displays information from multiple data sources. <span id="updated-status"></span></p>

<form role="form">
    <div class="form-group form-group-lg statusdb-search" id="homepage-searchbar">
        <label for="typeahead-input" class="col-form-label fs-5 fw-bold">Search for Project, Workset or Flow Cell:</label>
        <input autofocus class="typeahead form-control form-control-lg input-lg" type="text" placeholder="Project, Workset or Flowcell Name / ID">
        <span class="fa fa-sync fa-spin input-spinner subtle-spinner"></span>
    </div>
</form>

<div class="row homepage-ctas mt-3 justify-content-md-center">
	<div class="col-lg-offset-3 col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			<h3><a href="/projects"><i class="fa fa-search"></i></a></h3>
			<p><a class="btn btn-primary btn-lg" href="/projects">View All Projects</a></p>
		</div>
	</div>
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			  <h3><a href="https://ngi-dashboards.scilifelab.se/dbi/"><i class="fa fa-tachometer"></i></a></h3>
			<p><a class="btn btn-primary btn-lg"  href="https://ngi-dashboards.scilifelab.se/dbi/">Internal Dashboard</a></p>
		</div>
	</div>
	<div class="col-lg-2 col-sm-4 col-xs-6">
		<div class="well">
			  <h3><a href="https://ngi-dashboards.scilifelab.se/dbe/"><i class="fa fa-globe-europe"></i></a></h3>
			<p><a class="btn btn-primary btn-lg"  href="https://ngi-dashboards.scilifelab.se/dbe/">External Dashboard</a></p>
		</div>
	</div>
</div>

<div class="alert alert-info">
    <p class="mb-0" style="text-align:center;">Want to see something different here? Let us know on the
      <a class="text-decoration-none" href="/suggestion_box">suggestions page</a>! We're currently collecting feedback on
      how the homepage should look...</p>
</div>
<div class="row mt-5">
  <div class="col-lg-8">
    <h3>Longest waiting projects</h3>
    <div style="height:720px; overflow-y:auto;">
    <table class="table table-bordered sortable" id="prio_projs_table">
      <thead id="prio_projs_table_head">
        <tr class="darkth">
          <th class="sort">Project:</th>
          <th class="sort">Library:</th>
          <th class="sort">Status:</th>
          <th class="sort">Days waiting:</th>
        </tr>
      </thead>
      <tbody id="prio_projs_table_body"></tbody>
    </table>
    </div>
  </div>
<!-- sparkline plots table -->
	<div class="col-lg-4">
		<h3>Server Status</h3>
		<table class="table table-bordered table-disk-quotas">
			<thead>
				<tr class="darkth">
					<th>Server</th>
					<th>Instrument</th>
					<th>Disk (Used / Quota)</th>
				</tr>
			</thead>
			<tbody>
      {% for server, status in server_status %}
      <tr>
        <td><a class="text-decoration-none" href="/nas_quotas#{{ server.replace('.', '--') }}">{{ server }}</a></td>
        <td>{{ status.get('instrument') }}</td>
        <td class="disk-quotas-highcharts {{ status.get('css_class') }}"><div class="wrapper"><span class="val" style="width:{{ status.get('used_percentage') }};">
          <span>{{ status.get('space_used') }}</span></span>
          <span class="percent float-right">{{ status.get('disk_size') }}</span></div>
        </td>
      </tr>
      {% end %}
      </tbody>
		</table>
  </div>
  </div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="/static/js/index.js?v={{ gs_globals['git_commit'] }}" id="indexpage-js-import"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>

{% end %}

{% end %}
