{% extends "base.html" %}
{% block stuff %}
  <h1 id="page_title">Storage quotas used on NAS servers</h1>
  <p>The quota limit is indicated with a dashed red line.</p>
  <p><span id="show_all_text">Showing data from last two months.</span> &nbsp; <button id="show_all_data" class="btn btn-default btn-xs">Show all data</button></p>
  <div id="plots">
    {% for nas_url in nases.keys() %}
    <div class="row" id='{{ nas_url.replace(".", "--") }}'>
        <h4>{{ nas_url }}</h4>
        <!--replace the '.', otherwise selector will not work-->
        <div class="quota_plot" id="quota_{{ nas_url.replace('.', '--') }}"></div>
    </div>
    {% end %}
  </div>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="/static/js/quota.js"></script>
  <script>
    $(document).ready(function(){
      {% for nas_url, data in nases.items() %}
        var nas_url = "{{ nas_url }}";
        var title = "Storage Usage Over Time";
        // normalize is defined in quotas.js
        var plot_data = normalize_data("{{ data['plot_data'] }}");
        var limit_data = normalize_data("{{ data['limit_data'] }}");
        var max_value = "{{ data['max_x_value'] }}";
        var div_id = "quota_{{ nas_url.replace('.', '--') }}";
        // plot_chart is defined in quotas.js
        plot_chart(title, plot_data, limit_data, max_value, div_id);
      {% end %}
    });
  </script>
{% end %}