{% extends 'base.html' %}
{% block stuff %}

<div class="container-fluid">
    <h1>NGI Sweden Website Statistics</h1>
    <p>Created with Looker Studio based on GA4 Data</p>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="iframe-container">
                <iframe src="https://lookerstudio.google.com/embed/reporting/4373b578-75f5-4bcf-8c9d-a64b5a92aea8/page/GcJvD"
                    frameborder="0" allowfullscreen
                    sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
                    id="reportFrame">
                </iframe>
            </div>
        </div>
    </div>
</div>

{% end %}

