{% extends 'base.html' %}
{% block stuff %}

<div class="container-fluid">
    <h1>NGI Sweden Website Statistics</h1>
    <p>Created with Looker Studio based on GA4 Data</p>
    <br>
    <div class="iframe-container">
        <iframe src="https://lookerstudio.google.com/embed/reporting/4092d207-dc00-4123-bfb0-5dcc4588a8b5/page/GcJvD" 
            frameborder="0" allowfullscreen 
            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
        </iframe>
    </div>
</div>
{% end %}

