{% extends 'base.html' %}
{% block stuff %}
{% import re %}
<div id="page_content">
    <h1>Flow Cell <span id="page_title">{{ flowcell.get('run_name') }}</span></h1>

    <div class="row">
      <hr>
      <div class="col-md-4 borderRight">
        <h4>MinKNOW identifiers</h4>
        <dl class="dl-horizontal">
          <dt>Experiment name</dt>  <dd> {{ display(flowcell.get("experiment_name")) }} </dd>
          <dt>Sample name</dt>		  <dd> {{ display(flowcell.get("sample_name")) }} </dd>
          <dt>Run name</dt>	        <dd> {{ display(flowcell.get("run_name")) }} </dd>
          <dt>Run ID</dt>		        <dd> {{ display(flowcell.get("run_id")) }} </dd>
        </dl>
      </div>
      <hr>
      <div class="col-md-4 borderRight">
        <h4>Hardware</h4>
        <dl class="dl-horizontal">
          <dt>Instrument</dt>       <dd> {{ display(flowcell.get("instrument")) }} </dd>
          <dt>Position</dt>		      <dd> {{ display(flowcell.get("position")) }} </dd>
          <dt>Flowcell type</dt>	  <dd> {{ display(flowcell.get("flow_cell_type")) }} </dd>
          <dt>Flowcell ID</dt>		  <dd> {{ display(flowcell.get("flow_cell_id")) }} </dd>
          <dt>Prep kit</dt>	        <dd> {{ display(flowcell.get("prep_kit")) }} </dd>
          <dt>Barcoding kit</dt>		<dd> {{ display(flowcell.get("barcoding_kit")) }} </dd>
        </dl>
      </div>
      <hr>
      <div class="col-md-4 borderRight">
        <h4>Time and status</h4>
        <dl class="dl-horizontal">
          <dt>Run status</dt>				<dd> {{ display(flowcell.get("TACA_run_status")) }} </dd>
          <dt>Start date</dt>				<dd> {{ display(flowcell.get("start_date")) }} </dd>
          <dt>End date</dt>					<dd> {{ display(flowcell.get("end_date")) }} </dd>
        </dl>
      </div>

    </div>

    <div class="tabbable mb-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#tab_barcode_information" role="tab" data-toggle="tab">Barcode Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/flowcells/ont_{{ flowcell.get('run_name') }}/report" target="_blank">MinKNOW run report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab_running_notes_content" role="tab" data-toggle="tab">Running Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab_links_content" role="tab" data-toggle="tab">Links</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab_barcode_information">
        <h3>Barcode information (passed)</h3>
        <table class="table table-bordered narrow-headers no-margin right_align_headers" id="ont_barcodes">
            <thead id="ont_fc_table_head">
                <tr class="sticky darkth">
                    <th>Barcode</th>
                    <th>Alias</th>
                    <th class="text-right">Read count</th>
                    <th>% total</th>
                    <th class="text-right">Bases (bp)</th>
                    <th>% total</th>
                    <th class="text-right">Avg. length (bp)</th>
                    <th class="text-right">% Pass / Fail</th>
                </tr>
            </thead>
            <tbody>
            {% if barcodes %}
              {% for bc in barcodes %}
              <tr>
                  <td>{{ barcodes[bc]["bc_name"] }}</td>
                  <td>{{ barcodes[bc]["barcode_alias"] }}</td>
                  <td class="text-right">{{ '{:,}'.format(barcodes[bc]["basecalled_pass_read_count"]).replace(',', ' ') }}</td>
                  <td>{{ barcodes[bc]["basecalled_pass_read_count_pc"] }}</td>
                  <td class="text-right">{{ '{:,}'.format(barcodes[bc]["basecalled_pass_bases"]).replace(',', ' ') }}</td>
                  <td>{{ barcodes[bc]["basecalled_pass_bases_pc"] }}</td>
                  <td class="text-right">{{ '{:,}'.format(barcodes[bc]["average_read_length_passed"]).replace(',', ' ') }}</td>
                  <td class="text-right">{{ barcodes[bc]["accuracy"] }}</td>
              </tr>
              {% end %} 
            {% end %}
            </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="tab_running_notes_content">
      </div>
      <div class="tab-pane fade" id="tab_links_content">
      </div>
    </div>
</div>

<script src="/static/js/jquery.dataTables.min.js"></script>

{% end %}