

<h1 class="ont_fc_page_heading" id="ont_page_title">ONT Flowcells</h1>
 <table class="table table-bordered sortable" id="ont_fc_table">
   <thead id="ont_fc_table_head">
       <tr class="sticky darkth">
        <th>Start Date</th>

        <th>Run name</th>
        <th>Sample name</th>
        <th>Experiment name</th>

        <th>Project</th>

        <th>Prep Kit</th>
        <th>Barcoding Kit</th>
        <th>Flow Cell Type</th>

        <th class="text-center">Yield passed (Gbp)</th>
        <th class="text-center">Read count passed (M)</th>
        <th class="text-center">N50 passed (Kbp)</th>
        <th class="text-center">Pass/Fail (%)</th>
       </tr>
   </thead>
   <tfoot id="ont_fc_table_footer">
       <tr class="sticky darkth">
        <th>Start Date</th>

        <th>Run name</th>
        <th>Sample name</th>
        <th>Experiment name</th>

        <th>Project</th>

        <th>Prep Kit</th>
        <th>Barcoding Kit</th>
        <th>Flow Cell Type</th>

        <th class="text-center">Yield passed (Gbp)</th>
        <th class="text-center">Read count passed (M)</th>
        <th class="text-center">N50 passed (Kbp)</th>
        <th class="text-center">Pass/Fail (%)</th>
       </tr>
   </tfoot>
    <tbody class="align-middle" id="ont_fc_table_body">
    {% for onefc in ont_flowcells %}
    <tr>
        <td>{{ ont_flowcells[onefc]["start_date"] }}</td>

        <td>
            <a class="text-decoration-none" href="/flowcells/{{ onefc }}">{{ onefc }}</a>
            {% if ont_flowcells.get(onefc).get('TACA_run_status') == 'finished' %}
                <abbr title="Run completed"><span class="fa fa-check-circle"></span></abbr>
            {% else %}
                <abbr title="Ongoing"><span class="fa fa-hourglass-half"></span></abbr>
            {% end %}
        </td>


        {% if find_id(ont_flowcells[onefc]['sample_name'], 'sample') %}
            <td class="sample">
                <a class="text-decoration-none" href="https://ngi-lims-prod.scilifelab.se/clarity/search?scope=Sample&query={{ find_id(ont_flowcells[onefc]['sample_name'], 'sample') }}">
                {{ ont_flowcells[onefc]["sample_name"] }}
                </a>
            </td>
        {% elif find_id(ont_flowcells[onefc]['sample_name'], 'pool') %}
            <td class="pool">
                <a class="text-decoration-none" href="https://ngi-lims-prod.scilifelab.se/clarity/search?scope=Sample&query={{ find_id(ont_flowcells[onefc]['sample_name'], 'pool') }}">
                {{ ont_flowcells[onefc]["sample_name"] }}
                </a>
            </td>
        {% else %}
            <td>{{ ont_flowcells[onefc]["sample_name"] }}</td>
        {% end %}

        {% if find_id(ont_flowcells[onefc]['experiment_name'], 'step') %}
            <td class="experiment">
                <a class="text-decoration-none" href="https://ngi-lims-prod.scilifelab.se/clarity/work-complete/{{ find_id(ont_flowcells[onefc]['experiment_name'], 'step')[-6:] }}">
                {{ ont_flowcells[onefc]["experiment_name"] }}
                </a>
            </td>
        {% else %}
            <td>{{ ont_flowcells[onefc]["experiment_name"] }}</td>
        {% end %}

        <td class="project">
            <a class="text-decoration-none" href="/project/{{ ont_flowcells[onefc]['project'] }}">
            {{ ont_flowcells[onefc]["project_name"] }}
            </a>
        </td>

        <td>{{ ont_flowcells[onefc]["prep_kit"] }}</td>
        <td>{{ ont_flowcells[onefc]["barcoding_kit"] }}</td>
        <td>{{ ont_flowcells[onefc]["flow_cell_type"] }}</td>

        <td class="text-center
        {% if ont_flowcells[onefc]['basecalled_pass_bases_Gbp_rank'] != '' %}
            {% if ont_flowcells[onefc]['basecalled_pass_bases_Gbp_rank'] > 66.66 %}
                table-success
            {% elif ont_flowcells[onefc]['basecalled_pass_bases_Gbp_rank'] > 33.33 %}
                table-warning
            {% else %}
                table-danger
            {% end %}
        {% end %}">{{ ont_flowcells[onefc]["basecalled_pass_bases_Gbp"] }}</td>
        <td class="text-center">{{ ont_flowcells[onefc]["basecalled_pass_read_count_M"] }}</td>
        <td class="text-center
        {% if ont_flowcells[onefc]['n50_rank'] != '' %}
            {% if ont_flowcells[onefc]['n50_rank'] > 66.66 %}
                table-success
            {% elif ont_flowcells[onefc]['n50_rank'] > 33.33 %}
                table-warning
            {% else %}
                table-danger
            {% end %}
        {% end %}">{{ ont_flowcells[onefc]["n50_Kbp"] }}</td>
        <td class="text-center">{{ ont_flowcells[onefc]["accuracy"] }}</td>
    </tr>
    {% end %}
    </tbody>
 </table>

 <!-- Table Sorting -->
<script type="text/javascript">
$( document ).ready(function() {
  init_listjs_ont();
});
// Initialize sorting and searching javascript plugin
function init_listjs_ont() {
    // Setup - add a text input to each footer cell
    $('#ont_fc_table tfoot th').each( function () {
      var title = $('#ont_fc_table thead th').eq( $(this).index() ).text();
      $(this).html( '<input size=10 type="text" placeholder="Search '+title+'" />' );
    } );

    var table = $('#ont_fc_table').DataTable({
      "paging":false,
      "info":false,
      "order": [[ 0, "desc" ]]
    });

    //Add the bootstrap classes to the search thingy

    $('#ont_fc_table_filter').addClass('form-inline float-right pt-1');
    $("#ont_fc_table_filter").appendTo($('#ont_page_title'));
    $('#ont_fc_table_filter label input').appendTo($('#ont_fc_table_filter'));
    $('#ont_fc_table_filter label').remove();
    $("#ont_fc_table_filter input").attr("placeholder", "Search..");

    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
            .search( this.value )
            .draw();
        } );
    } );
}
</script>