
<div id="ont_fc_table_div">
    <h1>
        <span id="ont_page_title">ONT flowcells</span>
    </h1>

    <table class="table table-striped table-bordered sortable" id="ont_fc_table">

        <thead style="vertical-align: top">
            <tr class="sticky darkth">
                <th class="sort" data-sort="run_name">Run name</th>
                <th class="sort" data-sort="sample_name">Sample name</th>
                <th class="sort" data-sort="experiment_name">Experiment name</th>
                <th class="sort" data-sort="project">Project</th>
                <th class="sort" data-sort="barcoding_kit">Barcoding Kit</th>
                <th class="sort text-center" data-sort="flow_cell_qc">Flow cell QC</th>
                <th class="sort text-center" data-sort="load_fmol">Loading (fmol)</th>
                <th class="sort text-center" data-sort="reloadings">Reloadings</th>
                <th class="sort text-center" data-sort="first_mux_vs_qc">
                    <abbr 
                        data-toggle="tooltip" data-html="true" title="Number of pores found at first MUX scan compared to QC">1st MUX scan vs QC (%)
                    </abbr>
                </th>
                <th class="sort text-center" data-sort="peak_pore_health">
                    <abbr 
                        data-toggle="tooltip" data-html="true" title="Highest fraction pores in states<br><em>(sequencing + available) / total</em><br>for the 1st hour of the run">Peak Pore Health (%)
                    </abbr>
                </th>
                <th class="sort text-center" data-sort="peak_pore_efficacy">
                    <abbr 
                        data-toggle="tooltip" data-html="true" title="Highest fraction pores in states<br><em>sequencing / (sequencing + available)</em><br>for the 1st hour of the run">Peak Pore Efficacy (%)
                    </abbr>
                </th>
                <th class="sort text-center" data-sort="t90">
                    <abbr 
                        data-toggle="tooltip" data-html="true" title="Timepoint at which 90% of the distribution of sequencing pores has been passed">T90 (h)
                    </abbr>
                </th>
                <th class="sort text-center" data-sort="basecalled_pass_bases_Gbp">Yield Passed (Gbp)</th>
                <th class="sort text-center" data-sort="basecalled_pass_read_count_M">Read Count Passed (M)</th>
                <th class="sort text-center" data-sort="n50_Kbp">N50 Passed (Kbp)</th>
                <th class="sort text-center" data-sort="accuracy">Pass/Fail (%)</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="darkth">
                <th class="sort searchable" data-sort="run_name">Run name</th>
                <th class="sort searchable" data-sort="sample_name">Sample name</th>
                <th class="sort searchable" data-sort="experiment_name">Experiment name</th>
                <th class="sort searchable" data-sort="project">Project</th>
                <th class="sort searchable" data-sort="barcoding_kit">Barcoding Kit</th>
                <th class="sort" data-sort="flow_cell_qc"></th>
                <th class="sort" data-sort="load_fmol"></th>
                <th class="sort" data-sort="reloadings"></th>
                <th class="sort" data-sort="first_mux_vs_qc"></th>
                <th class="sort" data-sort="peak_pore_health"></th>
                <th class="sort" data-sort="peak_pore_efficacy"></th>
                <th class="sort" data-sort="t90"></th>
                <th class="sort" data-sort="basecalled_pass_bases_Gbp"></th>
                <th class="sort" data-sort="basecalled_pass_read_count_M"></th>
                <th class="sort" data-sort="n50_Kbp"></th>
                <th class="sort" data-sort="accuracy"></th>
            </tr>
        </tfoot>

        <tbody class="list">
            {% for onefc in ont_flowcells %}
                <tr>
                    <td class = run_name>
                        <a class="text-decoration-none" href="/flowcells_ont/{{ onefc }}">{{ onefc }}</a>
                        {% if ont_flowcells.get(onefc).get('TACA_run_status') == 'finished' %}
                            <abbr title="Run completed"><span class="fa fa-check-circle"></span></abbr>
                        {% elif ont_flowcells.get(onefc).get('TACA_run_status') == 'ongoing' %}
                            <abbr title="Ongoing"><span class="fa fa-hourglass-half"></span></abbr>
                        {% elif ont_flowcells.get(onefc).get('TACA_run_status') == 'interrupted' %}
                            <abbr title="Run interrupted"><span class="fa fa-file-dashed-line"></span></abbr>
                        {% end %}
                    </td>
                    <td class="sample_name">
                        {% if find_id(ont_flowcells[onefc]['sample_name'], 'sample') %}
                            <a class="text-decoration-none" href="
                            https://ngi-lims-
                            {% if gs_globals['prod'] %}
                                prod
                            {% else %}
                                stage
                            {% end %}
                            .scilifelab.se/clarity/search?scope=Sample&query=
                            {{ find_id(ont_flowcells[onefc]['sample_name'], 'sample') }}
                            ">
                            {{ ont_flowcells[onefc]["sample_name"] }}
                            </a>
                        {% elif find_id(ont_flowcells[onefc]['sample_name'], 'pool') %}
                            <a class="text-decoration-none" href="
                            https://ngi-lims-
                            {% if gs_globals['prod'] %}
                                prod
                            {% else %}
                                stage
                            {% end %}
                                .scilifelab.se/clarity/search?scope=Sample&query=
                            {{ find_id(ont_flowcells[onefc]['sample_name'], 'pool') }}
                            ">
                            {{ ont_flowcells[onefc]["sample_name"] }}
                            </a>
                        {% else %}
                            {{ ont_flowcells[onefc]["sample_name"] }}
                        {% end %}
                    </td>
                    <td class="experiment_name">
                        {% if find_id(ont_flowcells[onefc]['experiment_name'], 'step') %}
                            <a class="text-decoration-none" href="
                            https://ngi-lims-
                            {% if gs_globals['prod'] %}
                                prod
                            {% else %}
                                stage
                            {% end %}
                            .scilifelab.se/clarity/work/
                            {{ find_id(ont_flowcells[onefc]['experiment_name'], 'step').split('-')[-1] }}
                            ">
                            {{ ont_flowcells[onefc]["experiment_name"] }}
                            </a>
                        {% else %}
                            {{ ont_flowcells[onefc]["experiment_name"] }}
                        {% end %}
                    </td>
                    <td class="project">
                        <a class="text-decoration-none" href="/project/{{ ont_flowcells[onefc]['project'] }}">
                        {{ ont_flowcells[onefc]["project_name"] }}
                        </a>
                    </td>
                    <td class="barcoding_kit">{{ ont_flowcells[onefc]["barcoding_kit"] }}</td>
                    <td class="flow_cell_qc text-center">
                        {# First-hand: Try to fetch the QC value from the automatically collected instrument logs #}
                        {% try %}
                            {% set flowcell_history = ont_flowcells[onefc]["pore_count_history"] %}
                            {% if flowcell_history[0]["type"] == "qc" %}
                                {{ flowcell_history[0]["num_pores"] }}
                            {% else %}
                                {{ "" }}
                            {% end %}
                        {% except (KeyError, IndexError, TypeError) %}
                            {# Second-hand: Try to fetch the QC value from the manually entered LIMS field #}
                            {% try %}
                                {% set last_loading = ont_flowcells[onefc]["lims"]["loading"][-1] %}
                                {% if last_loading["qc"] != "None" %}
                                    {{ last_loading["qc"] }}
                                {% else %}
                                    {{ "" }}
                                {% end %}
                            {% except (KeyError, IndexError, TypeError) %}
                                {{ "" }}
                            {% end %}
                        {% end %}
                    </td>

                    <td class="load_fmol text-center">
                        {% try %}
                            {{ ont_flowcells[onefc]["lims"]["loading"][-1]["load_fmol"] }} 
                        {% except %}
                            {{ "" }}
                        {% end %}
                    </td>

                    <td class="reloadings text-center">
                        {% try %}
                            {{ len(ont_flowcells[onefc]["lims"]["reloading"][-1]["reload_fmols"]) }} 
                        {% except %}
                            {{ "" }}
                        {% end %}
                    </td>

                    <td class="first_mux_loss text-center">
                        {{ ont_flowcells[onefc].get("first_mux_vs_qc", "") }} 
                    </td>

                    <td class="peak_pore_health text-center">
                        {% try %}
                            {{ ont_flowcells[onefc]["pore_activity"]["peak_pore_health_pc"] }} 
                        {% except %}
                            {{ "" }}
                        {% end %}
                    </td>

                    <td class="peak_pore_efficacy text-center">
                        {% try %}
                            {{ ont_flowcells[onefc]["pore_activity"]["peak_pore_efficacy_pc"] }} 
                        {% except %}
                            {{ "" }}
                        {% end %}
                    </td>

                    <td class="t90 text-center">
                        {% try %}
                            {{ ont_flowcells[onefc]["pore_activity"]["t90_h"] }} 
                        {% except %}
                            {{ "" }}
                        {% end %}
                    </td>

                    <td class="basecalled_pass_bases_Gbp text-center">
                        {{ ont_flowcells[onefc]["basecalled_pass_bases_Gbp"] }}
                    </td>
                    <td class="basecalled_pass_read_count_M text-center">{{ ont_flowcells[onefc]["basecalled_pass_read_count_M"] }}</td>
                    <td class="n50_Kbp text-center">
                        {{ ont_flowcells[onefc]["n50_Kbp"] }}
                    </td>
                    <td class="accuracy text-center">{{ ont_flowcells[onefc]["accuracy"] }}</td>
                </tr>
            {% end %}
        </tbody>
    </table>
</div>

 <!-- ONT Table Sorting -->
<script type="text/javascript">
$( document ).ready(function() {
  init_listjs_ont();
});
// Initialize sorting and searching javascript plugin
function init_listjs_ont() {
    // Setup - add a text input to each footer cell
    $('#ont_fc_table tfoot th.searchable').each( function () {
      var title = $('#ont_fc_table thead th').eq( $(this).index() ).text();
      $(this).html( '<input size=10 type="text" placeholder="Search '+title+'" />' );
    } );

    var table = $('#ont_fc_table').DataTable({
        "paging":false,
        "info":false,
        "order": [[ 0, "desc" ]],
        "autoWidth":true,
        dom: 'Bfrti',
        colReorder: true,
        buttons: [
        {
            extend: 'copy',
            className: 'btn btn-outline-dark mb-3',
            messageTop: null,
            title: null,
        },
        {
            extend: 'excel',
            className: 'btn btn-outline-dark mb-3',
            messageTop: null,
            title: null,
        }
      ]
    });

    //Add the bootstrap classes to the search thingy

    $('#ont_fc_table_filter').addClass('form-inline float-right pt-1');
    $("#ont_fc_table_filter").appendTo($('#ont_page_title'));
    $('#ont_fc_table_filter label input').appendTo($('#ont_fc_table_filter'));
    $('#ont_fc_table_filter label').remove();
    $("#ont_fc_table_filter input").attr("placeholder", "Search..");

    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
            .search( this.value )
            .draw();
        } );
    } );
}
</script>