{% extends 'base.html' %}
{% block stuff %}
{% import re %}
<div id="page_content">
    <h1>Flow Cell <span id="page_title">{{ flowcell.get('run_name') }}</span></h1>

    <div class="row">

      <div class="col-md-4 borderRight" style="width: 500px; margin-right: 120px">
        <h4 style="margin-top: 20px; margin-bottom: 20px;">MinKNOW identifiers</h4>
        <dl class="dl-horizontal">
          <dt style="text-align: left;">Experiment name</dt>  <dd> {{ flowcell.get("experiment_name") }} </dd>
          <dt style="text-align: left;">Sample name</dt>		  <dd> {{ flowcell.get("sample_name") }} </dd>
          <dt style="text-align: left;">Run name</dt>	        <dd> {{ flowcell.get("run_name") }} </dd>
          <dt style="text-align: left;">Run ID</dt>		        <dd> {{ flowcell.get("run_id") }} </dd>
        </dl>
        <h4 style="margin-top: 20px; margin-bottom: 20px;">Hardware</h4>
        <dl class="dl-horizontal">
          <dt style="text-align: left;">Instrument</dt>       <dd> {{ flowcell.get("instrument") }} </dd>
          <dt style="text-align: left;">Position</dt>		      <dd> {{ flowcell.get("position") }} </dd>
          <dt style="text-align: left;">Flowcell type</dt>	  <dd> {{ flowcell.get("flow_cell_type") }} </dd>
          <dt style="text-align: left;">Flowcell ID</dt>		  <dd> {{ flowcell.get("flow_cell_id") }} </dd>
          <dt style="text-align: left;">Prep kit</dt>	        <dd> {{ flowcell.get("prep_kit") }} </dd>
          <dt style="text-align: left;">Barcoding kit</dt>		<dd> {{ flowcell.get("barcoding_kit") }} </dd>
        </dl>
        <h4 style="margin-top: 20px; margin-bottom: 20px;">Time and status</h4>
        <dl class="dl-horizontal">
          <dt style="text-align: left;">Run status</dt>				<dd> {{ flowcell.get("TACA_run_status") }} </dd>
          <dt style="text-align: left;">Start date</dt>				<dd> {{ flowcell.get("start_date") }} </dd>
          <dt style="text-align: left;">End date</dt>					<dd> {{ flowcell.get("end_date") }} </dd>
        </dl>
        <h4 style="margin-top: 20px; margin-bottom: 20px;">Sequencing stats</h4>
        <dl class="dl-horizontal">
          <dt style="text-align: left;">Yield</dt>				    <dd> {{ flowcell.get("basecalled_pass_bases_str") }} </dd>
          <dt style="text-align: left;">Read count</dt>				<dd> {{ flowcell.get("basecalled_pass_read_count_str") }} </dd>
          <dt style="text-align: left;">N50</dt>				    	<dd> {{ flowcell.get("n50_str") }} </dd>
          <dt style="text-align: left;">Pass/Fail</dt>		    <dd> {{ flowcell.get("accuracy") }} </dd>
        </dl>
      </div>

      <div class="col-md-4 borderRight" style="width: 600px; margin-left: 0px; margin-right: 0px">
        <h4 style="margin-top: 20px; margin-bottom: 20px;">MinKNOW arguments</h4>
        <dl class="dl-horizontal">
          {% for e in args %}

            {% if args[e] == "pair" %}
              <dt style="font-weight: normal; text-align: left; width: 220px;">{{ e[0] }}</dt>
              <dd>{{ e[1] }}</dd>
            {% elif args[e] == "header" %}
              </dl>
              <p style="font-weight: bold;">{{ e }}</p>
              <dl class="dl-horizontal">
            {% elif args[e] == "sub_pair" %}
              <dt style="text-align: left; margin-left: 20px; font-weight: normal; width: 200px;">{{ e[0] }}</dt>
              <dd>{{ e[1] }}</dd>
            {% end %}

          {% end %}
        </dl>
      </div>
    </div>

    <div class="tabbable mb-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#tab_barcode_information" role="tab" data-toggle="tab">Barcode Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab_running_notes_content" role="tab" data-toggle="tab">Running Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab_links_content" role="tab" data-toggle="tab">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/flowcells/ont_{{ flowcell.get('run_name') }}/report" target="_blank">MinKNOW run report</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab_barcode_information">
        <table class="table table-bordered narrow-headers no-margin right_align_headers" id="ont_barcodes">
            <thead id="ont_fc_table_head">
                <tr class="sticky darkth">
                    <th>Barcode</th>
                    <th>Alias</th>
                    <th class="text-right">Read count</th>
                    <th>% total</th>
                    <th class="text-right">Bases (bp)</th>
                    <th>% total</th>
                    <th class="text-right">Avg. length (bp)</th>
                    <th class="text-right">% Pass / Fail</th>
                </tr>
            </thead>
            <tbody class="list">
            {% if barcodes %}
              {% for bc in barcodes %}
              <tr>
                  <td>{{ barcodes[bc]["bc_name"] }}</td>
                  <td>{{ barcodes[bc]["barcode_alias"] }}</td>
                  <td class="text-right">{{ '{:,}'.format(barcodes[bc]["basecalled_pass_read_count"]) }}</td>
                  <td>{{ barcodes[bc]["basecalled_pass_read_count_pc"] }}</td>
                  <td class="text-right">{{ '{:,}'.format(barcodes[bc]["basecalled_pass_bases"]) }}</td>
                  <td>{{ barcodes[bc]["basecalled_pass_bases_pc"] }}</td>
                  <td class="text-right">{{ '{:,}'.format(barcodes[bc]["average_read_length_passed"]) }}</td>
                  <td class="text-right">{{ barcodes[bc]["accuracy"] }}</td>
              </tr>
              {% end %} 
            {% end %}
            </tbody>
        </table>
      </div>
      <!-- FLOWCELL NOTES TAB -->
      {% include "running_notes_tab.html" %}
      <!-- LINK TAB -->
      {% include "link_tab.html" %}
      <!-- RUNNING NOTES HELP -->
      {% include "running_notes_help.html" %}
    </div>
</div>

<script src="/static/js/jquery.dataTables.min.js"></script>
<!-- Table Sorting -->
<script type="text/javascript">
$( document ).ready(function() {
  init_listjs();
  //Formatting for Running note card body
  $(".running-note-card > .card-body").each(function(i){
    $(this).html(make_markdown($(this).text()));
  });
});

// Initialize sorting and searching javascript plugin
function init_listjs() {
    var table = $('#ont_barcodes').DataTable({
      "searching":false,
      "paging":false,
      "info":false,
      "order": [[ 0, "asc" ]]
    });
}
</script>

{% end %}