{% extends "base.html" %}

<!-- 
### DEPRECIATED ###
Template file: phix_err_rate.html
URL: /phix_err_rate
Title: PhiX Error Rate
Description: Diagnostic page showing PhiX error rates

#TODO - This code is kind of broken, should have a date slider but doesn't work
#TODO - Make the axes work, give some kind of explanation to what the plots show
#TODO - Top plot doesn't show anything.

-->

{% block stuff %}

<div class="container-fluid">
  <h2>PhiX Error Rate</h2>

  <div class="grid_chart" id="chart_container">
    <svg id="err_rate"></svg>
  </div>

  <div class="grid_chart" id="chart_container">
    <svg id="cumulative"></svg>
  </div>

</div>

<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/nvd3/lib/d3.v2.js"></script>
<script src="/static/nvd3/nv.d3.js"></script>
<script>

var start = [12, 1, 1, 1]
var stop = [12, 4, 12, 31]

$("#slider").slider({
  range: true,
  min: 1,
  max: 12,
  values: [2, 12],
  stop: function() {
    values = $("#slider").slider("values")
    v0 = values[0]
    v1 = values[1]
    start = [12, ((v0-1)/3|0)+1, v0, 1]
    stop = [12, ((v1-1)/3|0)+1, v1, 1]
    plot_data(start, stop)
  }
});

function plot_data(start, stop) {

  $("#dates").text("Date range: " + start + " - " + stop)

  $.getJSON("/api/v1/phix_err_rate", function(data) {
    
    cutoff = 10.0
    var err_rate = []
    for (var i = 0; i < data["error_rate"].length; i++) {
      if (data["error_rate"][i] < cutoff) {
        err_rate.push({"err_rate": data["error_rate"][i], "y": data["yield_fraction"][i]})
      }
    };

    nv.addGraph(function() {
      var chart = nv.models.linePlusBarChart()
          .x(function(d) { return d.err_rate })
          .y(function(d) { return d.y })
          .color(["#4D91A1"])

      d3.select("#err_rate")
          .datum([{values: err_rate, key: "Fraction of reads", bar: true}])
          .call(chart)

      nv.utils.windowResize(function() {d3.select('#err_rate').call(chart)})

      return chart
    })

    var cumulative = []
    for (var i = 0; i < data["error_rate"].length; i++) {
      if (data["error_rate"][i] < cutoff) {
        cumulative.push({"err_rate": data["error_rate"][i], "y": data["cum_yield_fraction"][i]})
      }
    };

    nv.addGraph(function() {
      var chart = nv.models.lineChart()
                    .x(function(d) { return d.err_rate })
                    .y(function(d) { return d.y })
                    .color(["#4D91A1"])

      d3.select('#cumulative')
          .datum([{"values": cumulative, "key": "Integrated", area: true}])
          .call(chart);

      nv.utils.windowResize(function() {d3.select('#cumulative').call(chart)})

      return chart
    });

  })
}

plot_data(start, stop)
</script>

{% end %}
