{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="container-fluid">
  <h1>Picea</h1>
  <br>
  <h2>HOME directory sizes for users</h2>
  <div class="chart_container" id="user_chart_container"></div>
</div>

<script>
var user_context = cubism.context()
    .step(864e5)
    .size(365)
    .stop();

d3.select("#user_chart_container").selectAll(".axis")
    .data(["top", "bottom"])
  .enter().append("div")
    .attr("class", function(d) { return d + " axis"; })
    .each(function(d) { d3.select(this).call(user_context.axis().ticks(4).orient(d)); });

d3.select("#user_chart_container").append("div")
    .attr("class", "rule")
    .call(user_context.rule());

var h_tot = user_context.horizon()
var scale = h_tot.scale()

d3.select("#user_chart_container").selectAll(".horizon")
    .data(["Total"].map(total))
  .enter().insert("div", ".bottom")
    .attr("class", "horizon")
  .call(h_tot
    .height(60)
    .format(d3.format("+,.3s")));

  scale = h_tot.scale()

$.getJSON("api/v1/picea_home/users/", function(users_json) {
  users = users_json;
})
.then(function(users) {
  d3.select("#user_chart_container").selectAll(".horizon")
    .data(users.map(user))
  .enter().insert("div", ".bottom")
    .attr("class", "horizon")
  .call(user_context.horizon()
    .height(30)
    .scale(scale)
    .format(d3.format("+,.3s")));
});

user_context.on("focus", function(i) {
  d3.selectAll(".value").style("right", i == null ? null : user_context.size() - i + "px");
});

// // //

function total(s) {
  return user_context.metric(function(start, stop, step, callback) {
    d3.json("/api/v1/picea_home", function(json) {
      var data = json
      data = data.map(function(d) { return [new Date(d["x"]), d["y"]]})
      var pre_date = d3.time.day.offset(Date.now(), -365 - 1)
      var date = data[0][0];
      var compare = data[data.length - 1][1];
      var value = data[0][1];
      var values = [];
      while ((pre_date = d3.time.day.offset(pre_date, 1)) < date) values.push(0);
      data.forEach(function(d) {
        while ((date = d3.time.day.offset(date, 1)) < d[0]) values.push(value);
        value = d[1];
        values.push(value)
      });
      callback(null, values.slice(-user_context.size()))
    });
  }, s);
}

function user(username) {
  return user_context.metric(function(start, stop, step, callback) {
    d3.json("/api/v1/picea_home/" + username, function(json) {
      var data = json
      data = data.map(function(d) { return [new Date(d["x"]), d["y"]]})
      var pre_date = d3.time.day.offset(Date.now(), -365 - 1)
      var date = data[0][0];
      var compare = data[data.length - 1][1];
      var value = data[0][1];
      var values = [];
      while ((pre_date = d3.time.day.offset(pre_date, 1)) < date) values.push(0);
      data.forEach(function(d) {
        while ((date = d3.time.day.offset(date, 1)) < d[0]) values.push(value);
        value = d[1];
        values.push(value)
      });
      callback(null, values.slice(-user_context.size()))
    });
  }, username);
}

</script>

{% end %}