{% extends "base_b5.html" %}

{% block stuff %}
<div class="container-xxl" id="product_list">
  <h1>Products Form</h1>
  <form enctype="multipart/form-data" action="/pricing_update" method="post">
    <input type="submit" class="btn btn-primary">
    {% for product_id, product_d in products.items() %}

      <div class="row my-4 py-3 card">
        <product-form product_id="{{ product_id }}">
        </product-form>
      </div>

    {% end %}
  </form>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <modal-component></modal-component>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>var global_components_json={% raw components_json %}</script>
<script>var global_products_json={% raw products_json %}</script>
<!-- development version, includes helpful console warnings -->
<script src="https://unpkg.com/vue@next"></script>
<script src="/static/js/pricing_update.js?v={{ gs_globals['git_commit'] }}"></script>

{% end %}
