<!-- Generates the contents of the table used in pricing_quote.html -->

    {% for product in products %}
        <tr class="status_{{product['Status'].lower()}}">
            <td>
                <a href="#0" class="button add-to-quote" data-product-id="{{product['REF_ID']}}"><i class="far fa-plus-square fa-lg"></i></a>
                <span>(<span id="count_in_table_{{product['REF_ID']}}">0</span>)</span>
            </td>
            <td class="id">
                {{product['REF_ID']}}
            </td>
            <td class="category">
                {{product['Category']}}
            </td>
            <td class="type">
                {{product['Type']}}
            </td>
            <td class="name">
                {{product["Name"]}}
            </td>
            <td class=components">
                {% if product['Components'] != "" %}
                  {% for component_id, quant_d in product["Components"].items() %}
                    <div>
                    {% if quant_d["quantity"] != 1 %}
                        {{quant_d["quantity"]}}:
                    {% end %}
                    {{ components[component_id]['Product name'] }}</div>
                  {% end %}
                {% end %}
            </td>
            <td class="alternative_components">
                {% if product['Alternative Components'] != "" %}
                  {% for component_id, quant_d in product["Alternative Components"].items() %}
                    <div>
                    {% if quant_d["quantity"] != 1 %}
                        {{quant_d["quantity"]}}:
                    {% end %}
                    {{ components[component_id]['Product name'] }}</div>
                  {% end %}
                {% end %}
            </td>
            <td class="reagent_fee">
                {{product["Reagent fee"]}}
            </td>
            <td class="full_cost_fee">
                {{product["Full cost fee"]}}
            </td>
            <td class="overhead">
                {{product["Re-run fee"]}}
            </td>
            <td class="minimum_quantity">
                {{product["Minimum Quantity"]}}
            </td>
            <td class="price_internal">
                {{product["price_internal"]}}
            </td>
            <td class="price_academic">
                {{product["price_academic"]}}
            </td>
            <td class="full_cost">
                {{product["price_full"]}}
            </td>
            <td class="comment">
                {{product["Comment"]}}
            </td>
        </tr>
    {% end %}
