{% extends "base.html" %}

{% block stuff %}

<div class="container-fluid" id="pricing_preview_main">
  <v-pricing-preview/>
</div>

{% end %}

{% block js %}

<script src="/static/js/vue.v3.2.47.global.prod.js"></script>
<script src="/static/js/axios.v1.3.4.min.js"></script>
<script src="/static/js/dataTables-extensions-1.13.6.min.js"></script>
<script src="/static/js/pricing_main.js?v={{ gs_globals['git_commit'] }}"></script>
<script src="/static/js/pricing_preview.js?v={{ gs_globals['git_commit'] }}"></script>

{% end %}
