{% extends "base.html" %}

<!--
Template file: pricing_quote.html
URL: /pricing_quote
Title: Creation of a quote for a project
-->

{% block stuff %}

<div class="container-fluid" id="product_list">
  <div id="pricing_quote_div">
      <h1><span id="page_title">Project Quote</span></h1>
      <p>Overhead for non-Swedish academia and industry: <span id='overhead_value'>1</span></p>
      <div class="radio" id="price_type_selector">
        <label>
          <input type="radio" name="price_type" value="sweac" checked>Swedish academia
        </label>
        <label>
          <input type="radio" name="price_type" value="nonswe">Industry and non-Swedish academia
        </label>
        <label>
          <input type="radio" name="price_type" value="internal">Internal
        </label>
      </div>
      <div class="row" id="current_quote">
        <div class="col-md-5">
          <h2>Products</h2>
          <ul class="quote-product-list list-unstyled">
          </ul>
        </div>
        <div class="col-md-4 borderLeft">
          <h2>Totals</h2>
          <ul class="quote-totals-list list-unstyled">
          </ul>
        </div>
      </div>
      <div class="products_chooseable_div">
        <h2>Available Products</h2>
        <table class="table table-striped table-bordered sortable" id="pricing_products_table">
          <thead>
            <tr class="sticky">
              <th>Quoting</th>
              <th class="sort" data-sort="id">ID</th>
              <th class="sort" data-sort="category">Category</th>
              <th class="sort" data-sort="type">Type</th>
              <th class="sort" data-sort="name">Name</th>
              <th class="sort" data-sort="components">Components</th>
              <th class="sort" data-sort="alternative_components">Alternative Components</th>
              <th class="sort" data-sort="reagent_fee">Reagent Fee</th>
              <th class="sort" data-sort="re_run_fee">Re-run fee</th>
              <th class="sort" data-sort="minimum_quantity">Minimum Quantity</th>
              <th class="sort" data-sort="price_internal">Internal Price</th>
              <th class="sort" data-sort="price_external">External Price</th>
              <th class="sort" data-sort="comment">Comment</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Quoting</th>
              <th class="sort" data-sort="id">ID</th>
              <th class="sort" data-sort="category">Category</th>
              <th class="sort" data-sort="type">Type</th>
              <th class="sort" data-sort="name">Name</th>
              <th class="sort" data-sort="alternatcomponents">Components</th>
              <th class="sort" data-sort="alternative_components">Alternative Components</th>
              <th class="sort" data-sort="reagent_fee">Reagent Fee</th>
              <th class="sort" data-sort="re_run_fee">Re-run fee</th>
              <th class="sort" data-sort="minimum_quantity">Minimum Quantity</th>
              <th class="sort" data-sort="price_internal">Internal Price (SEK)</th>
              <th class="sort" data-sort="price_external">External Price</th>
              <th class="sort" data-sort="comment">Comment</th>
            </tr>
          </tfoot>
          <tbody class="list">
              {% for product in products %}
                  <tr class="status_{{product['Status'].lower()}}">
                      <td>
                          <a href="#0" class="button add-to-quote" data-product-id="{{product['REF_ID']}}"><i class="glyphicon glyphicon-plus"></i></a>
                          <span>(<span id="count_in_table_{{product['REF_ID']}}">0</span>)</span>
                      </td>
                      <td class="id">
                          {{product['REF_ID']}}
                      </td>
                      <td class="category">
                          {{product['Category']}}
                      </td>
                      <td class="type">
                          {{product['Type']}}
                      </td>
                      <td class="name">
                          {{product["Name"]}}
                      </td>
                      <td class=components">
                          {% if product['Components'] != "" %}
                            {% for component_id, quant_d in product["Components"].items() %}
                              <p>
                              {% if quant_d["quantity"] != 1 %}
                                  {{quant_d["quantity"]}}:
                              {% end %}
                              {{ components[component_id]['Product name'] }}</p>
                            {% end %}
                          {% end %}
                      </td>
                      <td class="alternative_components">
                          {% if product['Alternative Components'] != "" %}
                            {% for component_id, quant_d in product["Alternative Components"].items() %}
                              <p>
                              {% if quant_d["quantity"] != 1 %}
                                  {{quant_d["quantity"]}}:
                              {% end %}
                              {{ components[component_id]['Product name'] }}</p>
                            {% end %}
                          {% end %}
                      </td>
                      <td class="reagent_fee">
                          {{product["Reagent fee"]}}
                      </td>
                      <td class="re_run_fee">
                          {{product["Re-run fee"]}}
                      </td>
                      <td class="minimum_quantity">
                          {{product["Minimum Quantity"]}}
                      </td>
                      <td class="price_internal">
                          {{product["price_internal"]}}
                      </td>
                      <td class="price_external">
                          {{product["price_external"]}}
                      </td>
                      <td class="comment">
                          {{product["Comment"]}}
                      </td>
                  </tr>
              {% end %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<script src="/static/js/jquery.dataTables.min.js"></script>
<!-- Table Sorting -->
<script type="text/javascript">
// Globals
var productsInQuote = [];
var allProducts;
var quoteProdEl = $('.quote-product-list');
var quoteTotEl = $('.quote-totals-list');

alert("todo: Checks for e.g. correct number of units. Possibility to save. Warning for non-saved changes.");

$( document ).ready(function() {
  $.getJSON('/api/v1/pricing_products', function(data){
    allProducts = data;
    // Initialize all quantities as 0
    for (var key in allProducts) {
        allProducts[key].quantity = 0;
    };
  });

  init_listjs();
  resetCurrentQuote();
  // Activate the add-to-quote buttons

  $('.add-to-quote').on('click', function(e) {
      e.preventDefault();
      e.stopImmediatePropagation();
      product_id = $(this).attr('data-product-id')
      addToQuote(product_id);
      $('#current_quote').show();
  });

  $('#price_type_selector input').change(function(e) {
      /* Regenerate the quote list to show the new prices */
      generateQuoteList();
  });
});

function resetCurrentQuote(){
  $('#current_quote').hide();
  quoteProdEl.html('');
  quoteTotEl.html('');
}

// Add one item of the product to the quote
function addToQuote(id) {
  var obj = allProducts[id];
  obj.quantity++;
  updateTableCounts(obj)
  generateQuoteList();
}

function generateQuoteList() {
  /* Everytime the list changes, it is regenerated */
  resetCurrentQuote();
  var empty = true;
  price_type = $("input[name='price_type']:checked").val();
  var totalCostSweAc = 0;
  var totalCostInternal = 0;
  var overhead = parseInt($('#overhead_value').first().html());
  for (var product_id in allProducts) {
    var product = allProducts[product_id];
    if (product.quantity > 0) {
      empty = false;
      var li = `<li data-quantity=${product.quantity} data-product-id=${product_id}>` +
        `<a href='#' class='remove_product' data-product-id=${product.REF_ID}><i class="glyphicon glyphicon-remove text-danger"></i></a> ` +
        `<input class='quantity_updateable' data-product-id=${product.REF_ID} min=0 value=${product.quantity}> ` +
        `<span class='quote_product_name'>${product.Name}</span>` +
        `<span class='quote_product_prices_line'><span class='quote_product_price'>`
      switch(price_type) {
          case "internal":
            li += `${(product.price_internal * product.quantity).toFixed(0)}`;
            break;
          case "sweac":
            li += `${(product.price_external * product.quantity).toFixed(0)}`;
            break;
          case "nonswe":
            li += `${(product.price_external * product.quantity * (1+overhead)).toFixed(0)}`;
      }
      li += ` SEK</span></span></li>`;
      totalCostSweAc += product.price_external * product.quantity;
      totalCostInternal += product.price_internal * product.quantity;
      quoteProdEl.append(li);
    }
  }

  totalCostNonSwe = totalCostSweAc * (1+overhead);
  /* Only show quote if non-empty */
  if (!empty){
    $('#current_quote').show();
    var totals_div = document.createElement("dl");
    totals_div.setAttribute("class", "quote_totals");
    var p = document.createElement("p");
    if (price_type !== 'sweac'){
      p.setAttribute('class', 'text-muted')
    }
    p.innerHTML = `<dt class='quote_totals_def quote_sweac'>Swedish academia:</dt><dd class='quote_totals_val quote_sweac'>${totalCostSweAc.toFixed(2)} SEK</dd>`;
    totals_div.append(p);

    var p = document.createElement("p");
    if (price_type !== 'nonswe'){
      p.setAttribute('class', 'text-muted')
    }
    p.innerHTML = `<dt class='quote_totals_def quote_nonswe'>Industry and non-Swedish academia:</dt><dd class='quote_totals_val quote_nonswe'>${totalCostNonSwe.toFixed(2)} SEK</dd>`;
    totals_div.append(p);

    var p = document.createElement("p");
    if (price_type !== 'internal'){
      p.setAttribute('class', 'text-muted')
    }
    p.innerHTML = `<dt class='quote_totals_def quote_internal'>Internal projects:</dt><dd class='quote_totals_val quote_internal'>${totalCostInternal.toFixed(2)} SEK</dd>`;
    totals_div.append(p);

    quoteTotEl.append(totals_div);
  }

  function updateQuantity(product, new_quantity){
    console.log(`change triggered with ${new_quantity}`)
    if ((new_quantity.length === 0) || (new_quantity < 0)) {
      // Invalid value given
      console.log(`invalid value ${new_quantity} given`);
      $("ul").find(`li[data-product-id='${product.REF_ID}']`).addClass("text-danger");
      return;
    }
    product.quantity = new_quantity;

    updateTableCounts(product);
    generateQuoteList();
  }

  $('.quantity_updateable').change(function(e) {
    var product_id = $(this).data('product-id');
    var new_quantity = parseFloat($(this).val());
    // Check that the number makes sense
    if (! isNaN(new_quantity)) {
        updateQuantity(allProducts[product_id], new_quantity);
    }
  });

  $('.remove_product').on('click', function(e) {
    $(this).parent('li').remove();
    var product_id = $(this).data('product-id');
    updateQuantity(allProducts[product_id], 0)
  });

  // generateCartButtons()
}

function updateTableCounts(product) {
  $(`#count_in_table_${product.REF_ID}`).html(product.quantity);
}

// This function checks if product is already in productsInQuote array
function productFound(productId) {
  return productsInQuote.find(function(item) {
    return item.product.REF_ID === productId;
  });
}

// Initialize sorting and searching javascript plugin
function init_listjs() {
    // Setup - add a text input to each footer cell
    $('#pricing_products_table tfoot th').each( function () {
      var title = $('#pricing_products_table thead th').eq( $(this).index() ).text();
      $(this).html( '<input size=10 type="text" placeholder="Search '+title+'" />' );
    } );

    var table = $('#pricing_products_table').DataTable({
      "paging":false,
      "info":false,
      "order": [[ 0, "desc" ]]
    });

    //Add the bootstrap classes to the search thingy
    $('div.dataTables_filter input').addClass('form-control search search-query');
    $('#pricing_products_table_filter').addClass('form-inline pull-right');
    $("#pricing_products_table_filter").appendTo("h1");
    $('#pricing_products_table_filter label input').appendTo($('#pricing_products_table_filter'));
    $('#pricing_products_table_filter label').remove();
    $("#pricing_products_table_filter input").attr("placeholder", "Search..");
    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
            .search( this.value )
            .draw();
        } );
    } );
}




</script>


{% end %}
pricing_products_table_filter
