{% extends "base.html" %}

{% block stuff %}

<div class="container-fluid">
  <h2>Data production</h2>

  <p>The number of basepairs sequenced over time since January 1st 2012.</p>

  <div class="single_chart_container">
    <img src="http://localhost:9761/api/v1/produced_monthly.png">
  </div>
  <div class="single_chart_container">
    <img src="http://localhost:9761/api/v1/produced_quarterly.png">
  </div>
  <div class="single_chart_container">
    <img src="http://localhost:9761/api/v1/delivered_monthly.png">
  </div>
  <div class="single_chart_container">
    <img src="http://localhost:9761/api/v1/delivered_quarterly.png">
  </div>
</div>


{% end %}
