{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  {% if projects == 'all' %}
  <h2>All Projects</h2>
  <p> All projects found in statudb. </p>
  {% elif projects == 'aborted' %}
  <h2>Aborted Projects</h2>
  <p> All projects with an aborted date. </p>
  {% elif projects == 'pending' %}
  <h2>Pending Projects</h2>
  <p> All projects without open date. </p>
  {% elif projects == 'open' %}
  <h2>Open Projects</h2>
  <p> All projects without an explicit close date and loaded from the Lims. </p>
  {% elif projects == 'reception_control' %}
  <h2>Reception Control Projects</h2>
  <p> All projects with open date but without queue date. </p>
  {% elif projects == 'ongoing' %}
  <h2>Ongoing Projects</h2>
  <p> All projects with a queue date but without a close date. </p>
  {% elif projects == 'closed' %}
  <h2>Closed Projects</h2>
  <p> All projects with a close date. Or old closed projects from Google Docs</p>
  {% end %}
  <p> You can search for anything in the table and sort on any column by clicking on the column header. </p>
  <div id="project-list">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#Search-tab" data-toggle="tab">Search</a></li>
        <li><a href="#Filter-tab" data-toggle="tab">Choose Columns</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="Search-tab">
          <form id="Search-form">
            <legend>Search Table Contents</legend>
            <input class="search search-query" type="text" placeholder="Search..." id="search_field"/>
          </form>
        </div>
        <div class="tab-pane" id="Filter-tab">
          <form id="Filter" class="form form-search">
            <legend>Choose Columns</legend>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Default presets
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="default_presets_dropdown">
                <!-- Load default presets (to be filled with JS) -->
              </ul>
            </div>
            <!--
                          <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                              {{user}} presets
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="user_presets_dropdown">
                              Load user presets (to be filled with JS) 
                            </ul>
                          </div>
                          -->
            <div class="row-fluid">
              <div class="span3">
                <div  id="basic-columns">
                  <h3 class="search-action" data-action="filterHeader"> Basic </h3>
                  {% for col_display_name, col_name in columns['BASIC_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
                <div class="fieldset" id="details-columns">
                  <h3 class="search-action" data-action="filterHeader"> Project Details </h3>
                  {% for col_display_name, col_name in columns['DETAILS_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
              </div>
              <div class="span3">

                <div class="fieldset" id="bioinfo-columns">
                  <h3 class="search-action" data-action="filterHeader"> Bioinformatics </h3>
                  {% for col_display_name, col_name in columns['BIOINFO_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
                <div class="fieldset" id="sequencing-columns">
                  <h3 class="search-action" data-action="filterHeader"> Sequencing </h3>
                  {% for col_display_name, col_name in columns['SEQUENCING_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
                <div class="fieldset" id="library-prep-columns">
                  <h3 class="search-action" data-action="filterHeader"> Library Prep </h3>
                  {% for col_display_name, col_name in columns['LIBRARY_PREP_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
              </div>
              <div class="span3">
                <div class="fieldset" id="setup-project-columns">
                  <h3 class="search-action" data-action="filterHeader"> Setup Project </h3>
                  {% for col_display_name, col_name in columns['SETUP_PROJECT_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
                <div class="fieldset" id="extra-columns">
                  <h3 class="search-action" data-action="filterHeader"> Extra </h3>
                  {% for col_display_name, col_name in columns['EXTRA_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
                <div class="fieldset" id="accreditation-columns">
                  <h3 class="search-action" data-action="filterHeader"> Accreditation </h3>
                  {% for col_display_name, col_name in columns['ACCREDITATION_COLUMNS'].iteritems() %}
                  <input type="checkbox" name={{col_name}} id={{col_name}}>
                  <label for={{col_name}}>
                    {{col_display_name}}
                  </label>
                  <br />
                  {% end %}
                </div>
                <div class="fieldset" id="undefined-columns">
                  <h3 class="search-action" data-action="filterHeader"> Undefined </h3>
                  <div id="undefined_columns">
                  </div>
                </div>
              </div>
              <div class="span3">
                <p>
                <button class="btn btn-large search-action" data-action="filterReset"> Reset</button>
                </p>
                <p>
                <input type="submit" value="Apply" class="btn btn-primary btn-large search-action" data-action="filterApply">
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-hover table-condensed" id="project_table">
      <thead id="project_table_head">
      </thead>
      <tbody class="list" id="project_table_body">
      </tbody>
    </table>
  </div>
</div>

<script src="/static/js/projects.js" id="projects-js" data-projects={{projects}}></script>
{% end %}
