{% extends "base.html" %}

<!--
Template file: project_samples.html
URL: /project_new/PID
Title: Project
Description: Project details
-->


{% block stuff %}

<div id="v_projects_main">
    <v-project-details project_id="{{project_id}}" :user="{email: '{{user.email}}', user: '{{user.name}}', roles: {{user.roles}}}" :single_project_mode="true" :as_modal="false"/>
</div>
{% end %}

{% block js %}

<script src="/static/js/vue.v3.2.47.global.prod.js"></script>
<script src="/static/js/axios.v1.3.4.min.js"></script>
<!-- textarea-caret is used by smart_suggestion.js-->
<script src="/static/js/external/textarea-caret.3.1.0.js"></script> 

<script src="/static/js/dataTables-extensions-1.13.6.min.js"></script>
<script type="module" src="/static/js/projects_main_vue.js"></script>


{% end %}
