{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="row-fluid">
  <h3 name="project_name" id="project_name"></h3>
  <div name="project_status"></div>
  <!--Order dates table -->
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="span2">Order Received</th>
        <th class="span2">Contract Sent</th>
        <th class="span2">Plates Sent</th>
        <th class="span2">Contract Received</th>
        <th class="span2">Sample Information Received</th>
        <th class="span2">Samples Received</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td name='{{columns['SETUP_PROJECT_COLUMNS']['Order Received']}}'></td>
      <td name='{{columns['SETUP_PROJECT_COLUMNS']['Contract Sent']}}'></td>
      <td name='{{columns['SETUP_PROJECT_COLUMNS']['Plates Sent']}}'></td>
      <td name='{{columns['SETUP_PROJECT_COLUMNS']['Contract Received']}}'></td>
      <td name='{{columns['SETUP_PROJECT_COLUMNS']['Sample Information Received']}}'></td>
      <td name='{{columns['SETUP_PROJECT_COLUMNS']['Samples Received']}}'></td>
    </tr>
    </tbody>
  </table>
  <!-- Protect timeline -->
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="span1">Days in Production</th>
        <th class="span1">Open date</th>
        <th class="span1">First Initial QC Start Date</th>
        <th class="span1">Queue Date</th>
        <th class="span1">Library Prep Start</th>
        <th class="span1">QC Library Finished</th>
        <th class="span1">Sequencing Start</th>
        <th class="span1">All Samples Sequenced</th>
        <th class="span1">All Raw Data Delivered</th>
        <th class="span1">Best Practice Analysis Completed</th>
        <th class="span1">Close Date</th>
        <th class="span1">Aborted</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td name='{{columns['BASIC_COLUMNS']['Days in Production']}}'></td>
      <td name='{{columns['BASIC_COLUMNS']['Open Date']}}'></td>
      <td name='{{columns['EXTRA_COLUMNS']['First Initial QC Start Date']}}'></td>
      <td><div name='{{columns['BASIC_COLUMNS']['Queue Date']}}'></div>
        <div name='signature_queued'></div></td>
      <td name='{{columns['LIBRARY_PREP_COLUMNS']['Library Prep Start']}}'></td>
      <td name='{{columns['LIBRARY_PREP_COLUMNS']['QC Library Finished']}}'></td>
      <td name='{{columns['SEQUENCING_COLUMNS']['Sequencing Start']}}'></td>
      <td><div name='{{columns['DETAILS_COLUMNS']['All Samples Sequenced']}}'></div>
        <div name='signature_all_samples_sequenced'></div></td>
      <td><div name='{{columns['BIOINFO_COLUMNS']['All Raw Data Delivered']}}'></div>
        <div name='signature_all_raw_data_delivered'></div></td>
      <td><div name='{{columns['BIOINFO_COLUMNS']['Best Practice Analysis Completed']}}'></div>
        <div name='signature_best_practice_analysis_completed'></div></td>
      <td name='{{columns['DETAILS_COLUMNS']['Close Date']}}'></td>
      <td name='{{columns['DETAILS_COLUMNS']['Aborted']}}'></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  <!-- Project comment -->
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Project Comment</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <p name="project_comment"></p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Tab Details - Communication -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_details_content" id="tab_details" data-toggle="tab">Project information</a></li>
    <li><a href="#tab_com_content" id="tab_communication" data-toggle="tab" style="display: none;">User communication</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_details_content">
      <div class="accordion" id="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
              Project details
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="row-fluid">
                <div class="span4">
                  <!--Order Info Table-->
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Order info</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Type</td>
                      <td>{{limsdata.get('Type')}}</td>
                    </tr>
                    <tr>
                      <td>Application</td>
                      <td>{{limsdata.get('Application')}}</td>
                    </tr>
                    <tr>
                      <td>Disposal Of Samples</td>
                      <td>{{limsdata.get('Disposal of any remaining samples')}}</td>
                    </tr>
                    </tbody>
                  </table>

                  <!-- Responsables and Contacts table -->
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Responsibles and contacts</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Bioinfo. Responsible</td>
                      <td>{{limsdata.get('summary').get('Bioinfo responsible')}}</td>
                    </tr>
                    <tr>
                      <td>Lab Responsible</td>
                      <td>{{limsdata.get('summary').get('Lab responsible')}}</td>
                    </tr>
                    <tr>
                      <td>Project Coordinator</td>
                      <td>{{limsdata.get('project coordinator')}}</td>
                    </tr>
                    <tr>
                      <td>Contact</td>
                      <td>{{limsdata.get('contact')}}</td>
                    </tr>
                    <tr>
                      <td>Invoice Reference</td>
                      <td>{{limsdata.get('Invoice Reference')}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <!--Bioinformatics Info Table-->
                <div class="span4">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Bioinformatics</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Uppnex ID</td>
                      <td>{{limsdata.get('Uppnex ID')}}</td>
                    </tr>
                    <tr>
                      <td>Source</td>
                      <td>lims</td>
                    </tr>
                    <tr>
                      <td>Custom capture design</td>
                      <td>{{limsdata.get('Custom Capture Design ID')}}</td>
                    </tr>
                    <tr>
                      <td>UPPMAX project owner</td>
                      <td>{{limsdata.get('Uppmax Project Owner')}}</td>
                    </tr>
                    <tr>
                      <td>Best Practice Bioinformatics</td>
                      <td>{{limsdata.get('Best practice bioinformatics')}}</td>
                    </tr>
                    <tr>
                      <td>Bioinfo Analysis</td>
                      <td>{{limsdata.get('Bioinformatic QC')}}</td>
                    </tr>
                    <tr>
                      <td>Organism</td>
                      <td>{{limsdata.get('Organism')}}</td>
                    </tr>
                    <tr>
                      <td>Reference Genome</td>
                      <td>{{limsdata.get('Reference genome')}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Wet Lab table -->
                <div class="span4">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Wet Lab</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Sample type</td>
                      <td>{{limsdata.get('Sample type')}}</td>
                    </tr>
                    <tr>
                      <td>Sequencing Platform</td>
                      <td>{{limsdata.get('Sequencing platform')}}</td>
                    </tr>
                    <tr>
                      <td>Sequencing Setup</td>
                      <td>{{limsdata.get('Sequencing setup')}}</td>
                    </tr>
                    <tr>
                      <td>Library Construction Method</td>
                      <td>{{limsdata.get('Library construction method')}}</td>
                    </tr>
                    <tr>
                      <td>%phiX</td>
                      <td>{{limsdata.get('PhiX spike-in (percent)')}}</td>
                    </tr>
                    <tr>
                      <td>Low Diversity</td>
                      <td>{{limsdata.get('Low Diversity')}}</td>
                    </tr>
                    <tr>
                      <td>Custom Primer</td>
                      <td>{{limsdata.get('Custom Primer')}}</td>
                    </tr>
                    <tr>
                      <td>Lanes Ordered</td>
                      <td>{{limsdata.get('Sequence units ordered (lanes)')}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row-fluid">
                <!-- Samples table -->
                <div class="span4">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Samples</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Non-aborted samples</td>
                      <td>{{limsdata.get('samples_nb')-limsdata.get('samples_aborted')}}</td>
                    </tr>
                    <tr>
                      <td>Samples provided</td>
                      <td>{{limsdata.get('samples_nb')}}</td>
                    </tr>
                    <tr>
                      <td>Pools</td>
                      <td>{{len(limsdata.get('pools'))}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Sample status table -->
                <div class="span4">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Sample Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Finished</td>
                      <td>{{limsdata.get('samples_finished')}}</td>
                    </tr>
                    <tr>
                      <td>In progress</td>
                      <td>{{limsdata.get('samples_inprogress')}}</td>
                      <tr>
                        <td>Aborted</td>
                      <td>{{limsdata.get('samples_aborted')}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Progress summary table -->
                  <div class="span4">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Progress summary</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Passed/Failed Initial QC</td>
                          <td>{{limsdata.get('initqc_p')}}P / {{limsdata.get('initqc_f')}}F</td>
                        </tr>
                        <tr>
                          <td>Passed/Failed Library QC</td>
                          <td>{{limsdata.get('libqc_p')}}P / {{limsdata.get('libqc_f')}}F</td>
                        </tr>
                        <tr>
                          <td>Passed/Failed Sequencing</td>
                          <td>{{limsdata.get('seqqc_p')}}P / {{limsdata.get('seqqc_f')}}F</td>
                        </tr>
                        <tr>
                          <td>Lanes started</td>
                          <td>{{limsdata.get('lanes')}}</td>
                        </tr>
                        <tr>
                          <td>Sequencing QC (Gdocs)</td>
                          <td name='passed_seq_qc'></td>
                        </tr>
                        <tr>
                          <td>Library re-preps (Genstat)</td>
                          <td name='library_repreps'></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row-fluid">
                    <!-- User project description -->
                    <div class="span6">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>User project description</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td >
                            <div class="alert">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Warning!</strong> Note that this is the original user description of the project and may not reflect the final order. Use with caution!
                            </div>
                            <p name="customer_project_description"></p>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                    <!-- Project summary comment -->
                    <div class="span6">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Project Summary Comment</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td >
                            <p name="comment"></p>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>             

                  <div class="row-fluid">
                    <!-- Undefined fields -->
                    <div class="span12">
                      <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                          <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseUndefinedFields">
                              Undefined Fields
                            </a>
                          </div>
                          <div id="collapseUndefinedFields" class="accordion-body collapse">
                            <div class="accordion-inner">
                              <!-- Undefined Fields Table -->
                              <table class="table table-condensed table-hover">
                                <tbody id="undefined_project_info">
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                  Project Samples
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner" id="sample-list">
                <div class="tabbable tabs-left">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#Search-tab" data-toggle="tab">Search</a></li>
                    <li><a href="#Filter-tab" data-toggle="tab">Choose Columns</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="Search-tab">
                      <form id="Search-form">
                        <legend>Search Table Contents</legend>
                        <input class="search search-query" type="text" placeholder="Search..." id="search_field"/>
                      </form>
                    </div>
                    <div class="tab-pane" id="Filter-tab">
                      <form id="Filter" class="form form-search">
                        <legend>Choose Columns</legend>
                        <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Default presets
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" id="default_presets_dropdown">
                            <!-- Load default presets (to be filled with JS) -->
                          </ul>
                        </div>
                        <div class="row-fluid">
                          <div class='span9'>
                          <div class="span3">
                            <div  id="basic-columns">
                              <h3 class="search-action" data-action="filterHeader"> Basic </h3>
                              {% for col_display_name, col_name in columns_sample['BASIC_COLUMNS'].iteritems() %}
                              <input type="checkbox" name="{{col_name}}" id="basic-columns-{{col_name}}">
                              <label for="basic-columns-{{col_name}}">
                                {{col_display_name}}
                              </label>
                              <br />
                              {% end %}
                            </div>
                            <div class="fieldset" id="details-columns">
                              <h3 class="search-action" data-action="filterHeader"> Sample Details </h3>
                              {% for col_display_name, col_name in columns_sample['DETAILS_COLUMNS'].iteritems() %}
                              <input type="checkbox" name="{{col_name}}" id="details-columns-{{col_name}}">
                              <label for="details-columns-{{col_name}}">
                                {{col_display_name}}
                              </label>
                              <br />
                              {% end %}
                            </div>
                          </div>
                          <div class="span3">
                            <div class="fieldset" id="initial-qc-columns">
                              <h3 class="search-action" data-action="filterHeader"> Initial QC </h3>
                              {% for col_display_name, col_name in columns_sample['INITIAL_QC_COLUMNS'].iteritems() %}
                              <input type="checkbox" name="{{col_name}}" id="initial-qc-columns-{{col_name}}">
                              <label for=initial-qc-columns-{{col_name}}>
                                {{col_display_name}}
                              </label>
                              <br />
                              {% end %}
                            </div>
                          </div>
                          <div class="span3">
                            <div class="fieldset" id="library-prep-columns">
                              <h3 class="search-action" data-action="filterHeader"> Library Prep </h3>
                              {% for col_display_name, col_name in columns_sample['LIBRARY_PREP_COLUMNS'].iteritems() %}
                              <input type="checkbox" name="{{col_name}}" id="library-prep-columns-{{col_name}}">
                              <label for="library-prep-columns-{{col_name}}">
                                {{col_display_name}}
                              </label>
                              <br />
                              {% end %}
                            </div>
                          </div>
                          <div class="span3">
                            <div class="fieldset" id="library-validation-columns">
                              <h3 class="search-action" data-action="filterHeader"> Library Validation </h3>
                              {% for col_display_name, col_name in columns_sample['LIBRARY_VALIDATION_COLUMNS'].iteritems() %}
                              <input type="checkbox" name="{{col_name}}" id="library-validation-columns-{{col_name}}">
                              <label for=library-validation-columns-{{col_name}}>
                                {{col_display_name}}
                              </label>
                              <br />
                              {% end %}
                            </div>
                          </div>
                          <div class="span3">
                            <div class="fieldset" id="pre-prep-library-validation-columns">
                              <h3 class="search-action" data-action="filterHeader"> Pre Prep Library Validation </h3>
                              {% for col_display_name, col_name in columns_sample['PRE_PREP_LIBRARY_VALIDATION_COLUMNS'].iteritems() %}
                              <input type="checkbox" name="{{col_name}}" id="pre-prep-library-validation-columns-{{col_name}}">
                              <label for=pre-prep-library-validation-columns-{{col_name}}>
                                {{col_display_name}}
                              </label>
                              <br />
                              {% end %}
                            </div>
                          </div>
                        </div>
                        <div class='span3'>
                          <p>
                          <button class="btn btn-large search-action" data-action="filterReset"> Reset </button>
                          </p>
                          <p>
                          <input type="submit" value="Apply" class="btn btn-large btn-primary search-action" data-action="filterApply">
                          </p>
                        </div>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
                  <p>
                  This lists all samples belonging to the project. Here 'reads sequenced'
                  refers to reads passing application QC criterions. If the sequence run is
                  paired end, 'reads' are actually read pairs.
                  </p>
                  <p>
                  If a sample is named 'Unexptectedbarcode' refers to reads which failed to
                  demultiplex.
                  </p>
                  <div class="scrollable">
                    <table class="table table-striped" id="sample_table">
                      <thead id="samples_table_head">
                      </thead>
                      <tbody class="list" id="samples_table_body">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                  Running Notes
                </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                  <table class="table">
                    <tbody id="running_notes_table">
                    <!-- Table dynamically built with JS function load_running notes -->
                    </tbody>
                  </table>
                  <form action="" method="POST" id="running_notes_form">
                    <div class="form-actions">
                      <p>Insert new running note:</p>
                      <textarea rows="7" class="span12" id="new_note_text"></textarea>
                      <button type="submit" class="btn btn-primary" id="save_note_button">Save running note</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
                  Links
                </a>
              </div>
              <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                  <table class="table">
                    <tbody id="links_table">
                    <!-- Dynamic content -->
                    </tbody>
                  </table>
                  <form role="form" id="link_form" class="form-horizontal">
                    <div id="new_link_alert"></div>
                    <div class="form-actions">
                      <div class="form-group">
                        <label for="new_link_type" class="control-label">Type</label><div class="span1"></div>
                        <select class="form-control" required id="new_link_type">
                          <option value=""></option>
                          <option>Deviation</option>
                          <option>Other</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="new_link_title" class="control-label">Title</label><div class="span1"></div>
                        <input type="text" required class="form-control span8" id="new_link_title" placeholder="14_01 example"/>
                      </div>
                      <div class="form-group">
                        <label for="new_link_url" class="control-label">URL</label><div class="span1"></div>
                        <input type="url" class="form-control span8" id="new_link_url" placeholder="https://docs.google.com/example"/>
                      </div>
                      <div class="form-group">
                        <label for="new_link_desc" class="control-label">Description</label><div class="span1"></div>
                        <textarea rows="4" class="form-control span8" id="new_link_desc" placeholder="Description text"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="save_link_button" class="control-label"></label><div class="span1"></div>
                        <button type="submit" class="btn btn-primary" id="save_link_button">Add link</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <a href="" class="toggleCollapse plus">[+]</a>
          </div>
        </div>
        <div class="tab-pane" id="tab_com_content">
        </div>
      </div>
    </div>
    <div id="caliperModal" class="modal hide fade" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Caliper Image</h3>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
<!-- Javascript -->
<script src="/static/js/project_samples.js" id="projects-js" data-project={{project}}></script>
{% end %}
