{% extends "base_new.html" %}

<!-- 
Template file: project_samples.html
URL: /project/[project id]
Title: Production Samples
Description: Details page for a single project
-->

{% block stuff %}

<div id="loading_spinner" style="text-align:center; margin:100px 0;"><span class='glyphicon glyphicon-refresh glyphicon-spin'></span>  Loading project page..</div>
<div id="page_content" style="display:none;">

<h1><span id="project_name">-</span> <small><span class="label" id="project_status_alert"></span></small></h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <h4>Key Project Information</h4>
    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd id="{{columns['BASIC_COLUMNS']['Type']}}">-</dd>

      <dt>Application</dt>
      <dd id="{{columns['BASIC_COLUMNS']['Application']}}">-</dd>

      <dt>Sequencing Setup</dt>
      <dd id="{{columns['SEQUENCING_COLUMNS']['Sequencing Setup']}}">-</dd>

      <dt>Library Method</dt>
      <dd id="{{columns['LIBRARY_PREP_COLUMNS']['Library Construction Method']}}">-</dd>
    </dl>
    
    <h4>Order Dates</h4>
    <dl class="dl-horizontal">
      <dt>Order Received</dt>
      <dd id="{{columns['SETUP_PROJECT_COLUMNS']['Order Received']}}">-</dd>

      <dt>Contract Sent</dt>
      <dd id="{{columns['SETUP_PROJECT_COLUMNS']['Contract Sent']}}">-</dd>

      <dt>Plates Sent</dt>
      <dd id="{{columns['SETUP_PROJECT_COLUMNS']['Plates Sent']}}">-</dd>

      <dt>Contract Received</dt>
      <dd id="{{columns['SETUP_PROJECT_COLUMNS']['Contract Received']}}">-</dd>

      <dt>Sample Info Received</dt>
      <dd id="{{columns['SETUP_PROJECT_COLUMNS']['Sample Information Received']}}">-</dd>

      <dt>Samples Received</dt>
      <dd id="{{columns['SETUP_PROJECT_COLUMNS']['Samples Received']}}">-</dd>
    </dl>
    
  </div>

  <!-- Project timeline -->
  <div class="col-md-4">
    <h4>Project Timeline</h4>
    <dl class="dl-horizontal">
      <dt>Days in Production</dt>
      <dd id="{{columns['BASIC_COLUMNS']['Days in Production']}}">-</dd>

      <dt>Open date</dt>
      <dd id="{{columns['BASIC_COLUMNS']['Open Date']}}">-</dd>

      <dt><abbr title="First Initial Quality Control">QC</abbr> Start Date</dt>
      <dd id="{{columns['EXTRA_COLUMNS']['First Initial QC Start Date']}}">-</dd>

      <dt>Queue Date</dt>
      <dd>
        <span id="{{columns['BASIC_COLUMNS']['Queue Date']}}">-</span>
        <span id="signature_queued" class="label label-default"></span>
      </dd>

      <dt>Library Prep Start</dt>
      <dd id="{{columns['LIBRARY_PREP_COLUMNS']['Library Prep Start']}}">-</dd>

      <dt>QC Library Finished</dt>
      <dd id="{{columns['LIBRARY_PREP_COLUMNS']['QC Library Finished']}}">-</dd>

      <dt>Sequencing Start</dt>
      <dd id="{{columns['SEQUENCING_COLUMNS']['Sequencing Start']}}">-</dd>

      <dt>All Samples Sequenced</dt>
      <dd>
        <span id="{{columns['DETAILS_COLUMNS']['All Samples Sequenced']}}">-</span>
        <span id="signature_all_samples_sequenced" class="label label-default"></span>
      </dd>

      <dt>All Raw Data Delivered</dt>
      <dd>
        <span id="{{columns['BIOINFO_COLUMNS']['All Raw Data Delivered']}}">-</span>
        <span id="signature_all_raw_data_delivered" class="label label-default"></span>
      </dd>

      <dt><abbr title="Best Practice">BP</abbr> Analysis Completed</dt>
      <dd>
        <span id="{{columns['BIOINFO_COLUMNS']['Best Practice Analysis Completed']}}">-</span>
        <span id="sdignature_best_practice_analysis_completed" class="label label-default"></span>
      </dd>

      <dt>Close Date</dt>
      <dd id="{{columns['DETAILS_COLUMNS']['Close Date']}}">-</dd>

      <dt>Aborted</dt>
      <dd id="{{columns['DETAILS_COLUMNS']['Aborted']}}">-</dd>
    </dl>
  </div>


  <!-- Project comment -->
  <div class="col-md-4">
    <h4>Project Co-ordinator Comment</h4>
    <p id="project_comment">-</p>
    <hr>
    
    <h4>Project Lab Status</h4>
    <p id="comment">-</p>
    <hr>
    
    <h4>User project description
      <small class="text-danger">Use with caution! <i class="glyphicon glyphicon-info-sign" title="This is the original user description of the project and may not reflect the final order."></i></small>
    </h4>
    <p id="customer_project_description"></p>
  </div>
</div>

<!-- TABS -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_details_content" role="tab" data-toggle="tab">Project information</a></li>
    <li><a href="#tab_samples_content" role="tab" data-toggle="tab">Samples</a></li>
    <li><a href="#tab_running_notes_content" role="tab" data-toggle="tab">Running Notes</a></li>
    <li><a href="#tab_com_content" role="tab" data-toggle="tab" style="display: none;">User communication</a></li>
    <li><a href="#tab_links_content" role="tab" data-toggle="tab">Links</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab_details_content">
      <div class="row">
        <div class="col-sm-4">
          <!--Order Info Table-->
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Order info</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Disposal Of Samples</td>
                <td id="{{columns['DETAILS_COLUMNS']['Disposal of Samples']}}"></td>
              </tr>
            </tbody>
          </table>

          <!-- Responsables and Contacts table -->
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Responsibles and contacts</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bioinfo. Responsible</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Bioinfo. Responsible']}}"></td>
              </tr>
              <tr>
                <td>Lab Responsible</td>
                <td id="{{columns['SETUP_PROJECT_COLUMNS']['Lab. Responsible']}}"></td>
              </tr>
              <tr>
                <td>Project Coordinator</td>
                <td id="{{columns['DETAILS_COLUMNS']['Project Coordinator']}}"></td>
              </tr>
              <tr>
                <td>Contact</td>
                <td id="{{columns['DETAILS_COLUMNS']['PI']}}"></td>
              </tr>
              <tr>
                <td>Invoice Reference</td>
                <td id="{{columns['DETAILS_COLUMNS']['Invoice Reference']}}"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--Bioinformatics Info Table-->
        <div class="col-sm-4">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Bioinformatics</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Uppnex ID</td>
                <td><code id="{{columns['BIOINFO_COLUMNS']['Uppnex ID']}}"></code></td>
              </tr>
              <tr>
                <td>Source</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Source']}}"></td>
              </tr>
              <tr>
                <td>Custom capture design</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Custom Capture Design']}}"></td>
              </tr>
              <tr>
                <td>UPPMAX project owner</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Uppmax Project Owner']}}"></td>
              </tr>
              <tr>
                <td>Best Practice Bioinformatics</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Best Practice Bioinformatics']}}"></td>
              </tr>
              <tr>
                <td>Bioinfo Analysis</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Bioinformatic QC']}}"></td>
              </tr>
              <tr>
                <td>Organism</td>
                <td id="{{columns['DETAILS_COLUMNS']['Organism']}}"></td>
              </tr>
              <tr>
                <td>Reference Genome</td>
                <td id="{{columns['BIOINFO_COLUMNS']['Reference Genome']}}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Wet Lab table -->
        <div class="col-sm-4">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Wet Lab</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sample type</td>
                <td id="{{columns['DETAILS_COLUMNS']['Sample Type']}}"></td>
              </tr>
              <tr>
                <td>Sequencing Platform</td>
                <td id="{{columns['SEQUENCING_COLUMNS']['Sequencing Platform']}}"></td>
              </tr>
              <tr>
                <td>%phiX</td>
                <td id="{{columns['DETAILS_COLUMNS']['%phiX']}}"></td>
              </tr>
              <tr>
                <td>Low Diversity</td>
                <td id="{{columns['DETAILS_COLUMNS']['Low Diversity']}}"></td>
              </tr>
              <tr>
                <td>Custom Primer</td>
                <td id="{{columns['DETAILS_COLUMNS']['Custom Primer']}}"></td>
              </tr>
              <tr>
                <td>Lanes Ordered</td>
                <td id="{{columns['DETAILS_COLUMNS']['Lanes']}}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <!-- Samples table -->
        <div class="col-sm-4">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Samples</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Non-aborted samples</td>
                <td id="{{columns['DETAILS_COLUMNS']['Final Number of Samples']}}"></td>
              </tr>
              <tr>
                <td>Samples provided</td>
                <td id="{{columns['BASIC_COLUMNS']['Number of Samples']}}"></td>
              </tr>
              <tr>
                <td>Pools</td>
                <td name ='number_of_pools'></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Sample status table -->
        <div class="col-sm-4">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sample Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Finished</td>
                <td id='Finished'></td>
              </tr>
              <tr>
                <td>In progress</td>
                <td id='In Progress'></td>
              </tr>
              <tr>
                <td>Aborted</td>
                <td id='Aborted'></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Progress summary table -->
        <div class="col-sm-4">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Progress summary</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Passed/Failed Initial QC</td>
                <td id='passed_initial_qc'></td>
              </tr>
              <tr>
                <td>Passed/Failed Library QC</td>
                <td id='passed_library_qc'></td>
              </tr>
              <tr>
                <td>Lanes Started</td>
                <td id="lanes_sequenced"></td>
              </tr>
              <tr>
                <td>Sequencing QC (Gdocs)</td>
                <td id='passed_seq_qc'></td>
              </tr>
              <tr>
                <td>Library re-preps (Genstat)</td>
                <td id='library_repreps'></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>        
      
      <!-- Undefined Fields Table -->
      <h4>Undefined Fields</h4>
      <dl id="undefined_project_info" class="dl-horizontal dl-wide"></dl>

    </div>
    
    <!-- RUNNING NOTES TAB -->
    <div class="tab-pane fade" id="tab_samples_content">
      <form class="form-inline" role="form" id="Search-form">
        <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#sampleFieldsModal">Filter Columns</button>
        <div class="form-group">
          <label for="search_field">Search Samples:</label>
          <input class="form-control search search-query" type="text" placeholder="Search..." id="search_field">
        </div>
      </form>
      <hr>
      
      <p>This lists all samples belonging to the project. Here <code>reads sequenced</code>
        refers to reads passing application QC criterions. If the sequence run is
        paired end, <code>reads</code> are actually read pairs.</p>
      <p>If a sample is named <code>Unexpectedbarcode</code> refers to reads which failed to demultiplex.</p>
      <div class="scrollable">
        <table class="table table-striped" id="sample_table">
          <thead id="samples_table_head">
          </thead>
          <tbody class="list" id="samples_table_body">
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="tab_running_notes_content">
      <table class="table">
        <tbody id="running_notes_table">
          <!-- Table dynamically built with JS function load_running notes -->
        </tbody>
      </table>
      <form action="" method="POST" id="running_notes_form" role="form">
        <div class="form-group">
          <label for="new_note_text">Insert new running note:</label>
          <textarea rows="7" class="form-control" id="new_note_text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="save_note_button">Save running note</button>
      </form>
    </div>
    
    <!-- LINKS TAB -->
    <div class="tab-pane fade" id="tab_links_content">
      <table class="table">
        <tbody id="links_table">
          <!-- Dynamic content -->
        </tbody>
      </table>
      <form role="form" id="link_form" class="form-horizontal">
        <div id="new_link_alert"></div>
        <div class="form-group">
          <label for="new_link_type" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-9">
            <select class="form-control" required id="new_link_type">
              <option value="">[ choose link type ]</option>
              <option>Deviation</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="new_link_title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-9">
            <input type="text" required class="form-control span8" id="new_link_title" placeholder="14_01 example"/>
          </div>
        </div>
        <div class="form-group">
          <label for="new_link_url" class="col-sm-2 control-label">URL</label>
          <div class="col-sm-9">
            <input type="url" class="form-control span8" id="new_link_url" placeholder="https://docs.google.com/example"/>
          </div>
        </div>
        <div class="form-group">
          <label for="new_link_desc" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-9">
            <textarea rows="4" class="form-control span8" id="new_link_desc" placeholder="Description text"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="save_link_button" class="col-sm-2 control-label"></label>
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary" id="save_link_button">Add link</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div> <!-- #page_content -->







<!-- SAMPLE FIELD MODAL -->
<div id="sampleFieldsModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3>Filter Sample Table Columns Image</h3>
      </div>
      <div class="modal-body">
        <form id="Filter" class="form form-search" role="form">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Default presets <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" id="default_presets_dropdown">
              <!-- Load default presets (to be filled with JS) -->
            </ul>
          </div>
          <p>Choose which columns you would like to see in the project's Samples table.
            Click a heading to select / deselect all checkboxes in that group.</p>
          <div class="row">
            <div class="col-sm-4" id="basic-columns">
              <h4 class="search-action" data-action="filterHeader">Basic <input class="headingCheckbox" type="checkbox"></h4>
              {% for col_display_name, col_name in columns_sample['BASIC_COLUMNS'].iteritems() %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="filterCheckbox" data-columngroup="basic-columns" data-displayname="{{col_display_name}}" name="{{col_name}}" id="basic-columns-{{col_name}}">
                  {{col_display_name}}
                </label>
              </div>
              {% end %}
            </div>
            <div class="col-sm-4" id="details-columns">
              <h4 class="search-action" data-action="filterHeader">Sample Details <input class="headingCheckbox" type="checkbox"></h4>
              {% for col_display_name, col_name in columns_sample['DETAILS_COLUMNS'].iteritems() %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="filterCheckbox" data-columngroup="details-columns" data-displayname="{{col_display_name}}" name="{{col_name}}" id="details-columns-{{col_name}}">
                  {{col_display_name}}
                </label>
              </div>
              {% end %}
            </div>
            <div class="col-sm-4" id="initial-qc-columns">
              <h4 class="search-action" data-action="filterHeader">Initial QC <input class="headingCheckbox" type="checkbox"></h4>
              {% for col_display_name, col_name in columns_sample['INITIAL_QC_COLUMNS'].iteritems() %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="filterCheckbox" data-columngroup="initial-qc-columns" data-displayname="{{col_display_name}}" name="{{col_name}}" id="initial-qc-columns-{{col_name}}">
                  {{col_display_name}}
                </label>
              </div>
              {% end %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" id="library-prep-columns">
              <h4 class="search-action" data-action="filterHeader">Library Prep <input class="headingCheckbox" type="checkbox"></h4>
              {% for col_display_name, col_name in columns_sample['LIBRARY_PREP_COLUMNS'].iteritems() %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="filterCheckbox" data-columngroup="library-prep-columns" data-displayname="{{col_display_name}}" name="{{col_name}}" id="library-prep-columns-{{col_name}}">
                  {{col_display_name}}
                </label>
              </div>
              {% end %}
            </div>
            <div class="col-sm-4" id="library-validation-columns">
              <h4 class="search-action" data-action="filterHeader">Library QC <input class="headingCheckbox" type="checkbox"></h4>
              {% for col_display_name, col_name in columns_sample['LIBRARY_VALIDATION_COLUMNS'].iteritems() %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="filterCheckbox" data-columngroup="library-validation-columns" data-displayname="{{col_display_name}}" name="{{col_name}}" id="library-validation-columns-{{col_name}}">
                  {{col_display_name}}
                </label>
              </div>
              {% end %}
            </div>
            <div class="col-sm-4" id="pre-prep-library-validation-columns">
              <h4 class="search-action" data-action="filterHeader">Pre Prep Library QC <input class="headingCheckbox" type="checkbox"></h4>
              {% for col_display_name, col_name in columns_sample['PRE_PREP_LIBRARY_VALIDATION_COLUMNS'].iteritems() %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="filterCheckbox" data-columngroup="pre-prep-library-validation-columns" data-displayname="{{col_display_name}}" name="{{col_name}}" id="pre-prep-library-validation-columns-{{col_name}}">
                  {{col_display_name}}
                </label>
              </div>
              {% end %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-default search-action" data-dismiss="modal" data-action="filterReset">Reset</button>
        <button class="btn btn-primary search-action" data-dismiss="modal" data-action="filterApply" type="submit">Apply</button>
      </div>
    </div>
  </div>
</div>


<!-- CALIPER MODAL -->
<div id="caliperModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Caliper Image</h3>
  </div>
  <div class="modal-body">
    <p>Caliper image loading...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
    
<!-- Javascript -->
<script src="/static/js/list.min.js"></script>
<script src="/static/js/markdown.min.js"></script>
<script src="/static/js/project_samples.js" id="projects-js" data-project={{project}}></script>
{% end %}
