{% extends "base.html" %}

<!--
Template file: project_summary.html
URL: /project_summary/<project>
Title: displays the project summary(ies) of a project
Description: Shows a table with all project summaries.
-->

{% block stuff %}

<h1 id="{{ project_id }}" class="page_title"><span id="page_title">Project Summary</span> <small>project summary for <a href="/project/{{ project_id }}">{{ project_id }}</a></small></h1>

<div id="page_content" >
<div id="summary-list">
    {% for oneproc in processes%}
    <h2>Project summary :  {{ oneproc.id }} 
        <input type="button" value="save process udf" class="save_pc_udf btn btn-primary btn-md pull-right" id="save_{{ oneproc.id }}" data-toggle="modal" data-target="#updateModal"/>
    </h2>
    
    <table class="table table-striped table-bordered" id="summary_udfs_{{ oneproc.id}}">
    <tr>
    {% for udf in step_fields %}
        <th class="step_{{oneproc.id}}_name">{{ udf }}</th>
    {% end %}
    </tr>
    <tr>
    {% for udf in step_fields %}
        {% if isinstance(oneproc.udf.get(udf, '-'), basestring) and len(oneproc.udf.get(udf, '-')) <= 10 %}
            <td><input class='step_{{oneproc.id}}_value_{{ udf.replace(" ", "_") }} form-control' type='text' value="{{ oneproc.udf.get(udf, '-') }}" /></td>
        {% else %}
            <td><textarea class='step_{{oneproc.id}}_value_{{ udf.replace(" ", "_") }} form-control' cols="12" >{{ oneproc.udf.get(udf, '-') }}</textarea></td>
        {% end %}
    {% end %}
    </tr>
    </table>
    <input type="button" value="save sample udf" class="save_sp_udf btn btn-primary btn-md pull-right" id="save_sample_{{oneproc.id}}" sample_list="{{ ",".join([sample.id for sample in samples]) }}" data-toggle="modal" data-target="#updateModal"/>
    <table class="table table-striped table-bordered sortable" id="summary_outputs_{{ oneproc.id}}">
    <tr>
        <th>Sample Name</th>
        <th>QC</th>
    {% for artudf in sample_fields %}
        <th class='{{oneproc.id}}_sample_name'>{{ artudf }}</th>
    {% end %}
    </tr>
    {% for sample in samples %}
        <tr >
            <th>{{ sample.name }}</th>
            <td><input class='qc form-control' type='text' value='-'></td>
        {% for artudf in sample_fields %}
        <td><input class='{{oneproc.id}}_sample_{{ sample.id }}_values_{{ artudf.replace(" ", "_") }} form-control' type='text' value="{{ sample.udf.get(artudf, '-') }}" /></td>
        {% end %}
        </tr>
     {% end %}
  </table>
 {% end %}
</div>
<div class="modal fade" id='updateModal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Status</h4>
            </div>
            <div class="modal-body">
                <p id="update_status_value"><span class="glyphicon glyphicon-search glyphicon-move" aria-hidden="true"></span> Updating the lims, please wait.</p><br />
            </div>
            <div class="modal-footer">
                <button type="button" id="update_status_close" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/js/project_summary.js?v={{ gs_globals['git_commit'] }}" id="pjsum-js" data-projectid="{{ project_id }}"></script>


{% end %}
