{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="container-fluid">
  <h2>Percentage of bases at least Q30</h2>
  <div id="slider"></div>
  <div class="span6">
    <form>
      <fieldset>
	<legend>HiSeq</legend>
	<div class="btn-group">
	  <button type="button" class="btn btn-large" data-toggle="dropdown"> 
	    RunMode
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li>
	      <a href="#"> RapidRun </a>
	    </li>
	    <li>
	      <a href="#"> HighOutput </a>
	    </li>
	  </ul>
	</div>
      </fieldset>
    </form>
  </div>
  <div class="span6">
    <form>
      <fieldset>
	<legend>MiSeq</legend>
	<div class="btn-group">
	  <button type="button" class="btn btn-large" data-toggle="button"> Filter </button>
	</div>
      </fieldset>
    </form>
  </div>
  <div id="q30_plot">
  </div>
</div>

<script type="text/javascript">
var stop = new Date();
var start = new Date(2012,7,1);
var default_start = new Date();
default_start.setDate(default_start.getDate() - 60);

$("#slider").dateRangeSlider({
  bounds:
  {
    min: start,
    max: stop
  },
  defaultValues:
  {
    min: default_start,
    max: stop
  },
  min: 1,
  max: 12,
  values: [2, 12],
  step:
  {
    days: 1
  },
});

function load_plots(start, stop){
   $("#q30_plot").html('<img src="/api/v1/plot/q30.png?start=' + start + '&end=' + stop + '"/>')
}

$("#slider").bind("valuesChanged", function(e, data){
    start_string = $.datepicker.formatDate('ymmdd', data.values.min);
    stop_string = $.datepicker.formatDate('ymmdd', data.values.max);
    load_plots(start_string,stop_string)
});

</script>
{% end %}
