{% extends "base.html" %}

<!-- 
Template file: q30.html
URL: /q30
Title: Percentage of bases at least Q30
Description: Diagnostic page showing percentage of bases getting above q 30
-->

{% block stuff %}

<h2>Percentage of bases at least Q30</h2>
<div class="row">
    <div class="col-sm-6">
        <p>Choose the time period that you are interested in and/or use the filters to narrow down your search. 
            The filters are applied whenever a new time period is chosen or when the 'Apply Filter' button is pressed.
            The 'Reset Filter' button will not reset the time interval, this can be achieved by reloading the page.</p>
    </div>
    <div class="col-sm-6">
        <p>Each point corresponds to one lane and shows the fraction of bases that achieve at least score Q30. 
            All points are sorted on rundate and colored according to instruments.</p>
    </div>
</div>

<div class="row slider-spacing"><div id="slider"></div></div>


<form id="Filter" role="form">
        
{% for instrument_type, instruments in instrument_list.iteritems() %}
    <div class="q30_filters">
        <h3>{{instrument_type}}</h3>
        {% for instrument_id, instrument_name in instruments.iteritems() %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ instrument_id }}">
                    {{ instrument_name }}
	            </label>
            </div>
        {% end %}
    </div>
{% end %}

<div class="q30_filters" id="runmodes">
    <h3>RunModes </h3>
    {% for runmode in runmodes %}
        <div class="checkbox">
	        <label>
	            <input type="checkbox" name="{{ runmode }}">
                {{ runmode }}
	        </label>
        </div>
    {% end %}
</div>

<div class="q30_filters" id="setups">
    <h3>Setup</h3>
    <span class="help-block">Number of cycles from run info includes:</span>
    {% for setup in setups %}
        <div class="checkbox">
            <label>
	            <input type="checkbox" name="{{ setup }}">
                {{ setup }}
            </label>
        </div>
    {% end %}
    <div class="checkbox">
        <label>
	        <input type="checkbox" name="Other">
            Other
        </label>
    </div>
</div>

<div class="q30_filters" id="buttons">
    <h3>Apply Filters</h3>
    <p><input type="submit" value="Apply Filters" class="btn btn-primary btn-lg" id="applyFilter"></p>
    <p><button class="btn btn-lg" id="reset" >Reset Filters</button></p>
</div>

</form>
<div class="clearfix"></div>

<p class="text-muted text-center" id="loading_text"><span class='glyphicon glyphicon-refresh glyphicon-spin'></span> <em>Loading plot..</em></p>
<div id="q30_plot" class="text-center"></div>


<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jQDateRangeSlider-min.js"></script>
<script type="text/javascript">
/* By default, all checkboxes are checked */
check_all();

/* Reset button handled here */
$("#reset").click(function( event ) {
    event.preventDefault();
    check_all();
    load_plots();
});

/* Apply filter button handled here */
$("#applyFilter").click( function( event ) {
    event.preventDefault();
    load_plots();
});

var stop = new Date();
var start = new Date(2012,7,1);

var default_start = new Date();
default_start.setDate(default_start.getDate() - 60);

$("#slider").dateRangeSlider({
    bounds: {
        min: start,
        max: stop
    },
    defaultValues: {
        min: default_start,
        max: stop
    },
    min: 1,
    max: 12,
    values: [2, 12],
    step: {
        days: 1
    }
});


$("#slider").bind("valuesChanged", function(e, data){
    load_plots();
});

function check_all(){
    $("#Filter :checkbox").attr('checked', true)
}

function read_slider_position() {
    current_min = $("#slider").dateRangeSlider("min")
    current_max = $("#slider").dateRangeSlider("max")
    start_string = $.datepicker.formatDate('ymmdd', current_min);
    stop_string = $.datepicker.formatDate('ymmdd', current_max);
    return [start_string, stop_string]
}

function read_current_filtering() {
    var filtering = new Array();
    var instruments = new Array();
    var runmodes = new Array();
    var setups = new Array();
    $("#instruments :checkbox:checked").each(function() {
        instruments.push($(this).attr('name'));
    });
    $("#runmodes :checkbox:checked").each(function() {
        runmodes.push($(this).attr('name'));
    });
    $("#setups :checkbox:checked").each(function() {
        setups.push($(this).attr('name'));
    });
    filtering.push(instruments)
    filtering.push(runmodes)
    filtering.push(setups)
    return filtering;
}

function load_plots(){
    
    // Reset whatever is already there
    $('#loading_text').show();
    $('#q30_plot').html('');
    
    // Get filter parameters
    sp = read_slider_position();
    start = sp[0];
    stop = sp[1];
    filtering = read_current_filtering();
    instruments = filtering[0];
    runmodes = filtering[1];
    setups = filtering[2];
    
    // Load the image by ajax and insert once downloaded to client
    var img_url = '/api/v1/plot/q30.png?start=' + start + '&end=' + stop + '&instruments=' + instruments + '&runmodes=' + runmodes + '&setups=' + setups;
    var plot_img = $("<img />").attr('src', img_url).load(function() {
        $('#loading_text').hide();
        $("#q30_plot").html(plot_img);
    });
}

</script>
{% end %}
