{% extends "base.html" %}

<!--
Template file: pooling.html
URL: /qpcr_pools
Title: List of qPCR pools
Description: Shows a table with all qPCR pools.
-->

{% block stuff %}

<div class="container-fluid" id="qpcrpools_list">
  <div id="pools_table_div">
      <h1><span id="page_title">qPCR queues</span>
        <small class="text-muted">Showing all qPCR pools</small>
      </h1>
      <button type="button" id="pools_copy_table" class="btn d-none" data-clipboard-target="#pools_table"></button>
      <label class="btn btn-outline-dark expand-all float-right mb-2"><span class="fa fa-plus-square" aria-hidden="true"></span>Expand All</label>
      <table class="table table-hover table-striped table-bordered sortable" id="pools_table">
        <thead>
          <tr class="sticky darkth">
            <th class="sort"></th>
            <th class="sort">Pool</th>
            <th class="sort">Projects</th>
            <th class="sort">Library Type</th>
            <th class="sort">Sequencing Platform</th>
            <th class="sort">Flowcell</th>
            <th class="sort">Project Queue Date</th>
            <th class="sort">Avg. Waiting (in days)</th>
            <th class="sort">Latest Running Notes</th>
          </tr>
        </thead>
        <tfoot>
          <tr class="darkth">
            <th class="sort"></th>
            <th class="sort">Pool</th>
            <th class="sort">Projects</th>
            <th class="sort">Library Type</th>
            <th class="sort">Sequencing Platform</th>
            <th class="sort">Flowcell</th>
            <th class="sort">Project Queue Date</th>
            <th class="sort">Avg. Waiting (in days)</th>
            <th class="sort">Latest Running Notes</th>
          </tr>
        </tfoot>
        <tbody class="list" id="pools_table_body">
        </tbody>
      </table>
    </div>
</div>

<script src="/static/js/dataTables-extensions-1.13.6.min.js"></script>
<script src="/static/js/qpcr_pools.js?v={{ gs_globals['git_commit'] }}"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/running_notes.js"></script>

{% end %}
