{% extends "base_new.html" %}

<!-- 
Template file: quota_grid.html
URL: /quotas
Title: Historical UPPMAX storage quota for all UPPMAX projects
Description: Shows a grid of graphs showing showing storage information
             for all UPPMAX projects
-->

{% block stuff %}

<h2>Historical storage quota used on UPPMAX projects</h2>
<p><i>(Quota limit indicated with a dashed red line)</i></p>
<ul class="quota-nav pagination"></ul>
<div id="plots"></div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // Highlight plots if clicked from the navigation
    $('body').on('click', '.quota-nav li a', function(){
       var target = $(this).attr('href');
       $('.highlighted').removeClass('highlighted');
       $(target).addClass('highlighted'); 
    });
    
    
    // Find the differe UPPMAX Projects
    $.getJSON('/api/v1/uppmax_projects', function(uppmax_quotas) {
        $.each(uppmax_quotas, function(i, up) {
            
            if(i % 8 == 0 && i !== 0){
                $('.quota-nav:last').after('<ul class="quota-nav pagination"></ul>');
            }
            $('.quota-nav:last').append('<li><a href="#container_'+up+'">'+up+'</a></li>');
            
            $("#plots").append('\
            <div id="container_'+up+'" style="float:left; width: 49%; min-height:400px;"> \
                <h2><a href="/quotas/'+up+'">'+up+'</a></h2> \
                <p id="loading_spinner_'+up+'"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span>  Loading plot.. <em>(can take some time)</em></p> \
                <div id="chart_'+up+'"></div> \
            </div>');
    
            // Load the data for this project
            $.getJSON('/api/v1/quotas/'+up, function(api_data) {
        
                // Massage the data
                var raw_data = api_data[0]["data"];
                var plot_data = [];
                var quota_limit = raw_data[0].limit / 1000000000000;
                var max_value = quota_limit;
                $.each(raw_data, function(i, d){
                    d.y /= 1000000000000;
                    plot_data.push([d.x * 1000, d.y]);
                    if(max_value < d.y) {
                        max_value = d.y;
                    }
                });
        
                // Plot the data
                $('#chart_'+up).highcharts({
                    chart: {
                        type: 'area',
                        zoomType: 'x',
                        backgroundColor:'rgba(255, 255, 255, 0.1)'
                    },
                    title: { text: "Storage Usage Over Time: "+up },
                    legend: { enabled: false },
                    xAxis: { 
                        title: { text: 'Date' },
                        type: 'datetime'
                    },
                    yAxis: {
                        min: 0,
                        max: max_value,
                        title: { text: 'Storage' },
                        labels: {
                            formatter: function () {
                                return this.value + 'Tb';
                            }
                        },
                        plotLines: [{
                            color: 'red',
                            width: 2,
                            value: quota_limit,
                            dashStyle: 'Dash',
                            zIndex: 5
                        }]
                    },
                    tooltip: {
                        pointFormat: '<strong>{series.name}</strong>: {point.y:,.2f} Tb',
                    },
                    series: [{
                        name: up,
                        data: plot_data
                    }]
                });
                // Hide the loading spinner
                $('#loading_spinner_'+up).hide();
                
            });
            
        });
    });
});
</script>

{% end %}
