<!--
Template file: quota_grid.html
URL: /quotas
Title: Historical UPPMAX storage quota for all UPPMAX projects
Description: Shows a grid of graphs showing showing storage information
             for all UPPMAX projects
-->
{% extends "base.html" %}

{% block stuff %}

<h1 id="page_title">Storage and CPU quotas used on UPPMAX projects</h1>
<p>The quota limit is indicated with a dashed red line.</p>
<ul class="quota-nav pagination"></ul>
<div id="plots"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="/static/js/quota.js" ></script>

{% end %}

