{% extends "base_new.html" %}

<!--
## DEPRECIATED ##
Template file: quota.html
URL: /quotas/[UPPMAX project]
Title: Historical UPPMAX storage quota for single UPPMAX project
Description: Shows a full page graph of storage information for
             a given UPPMAX project identifier

TODO: The API powering this page is dead. Guillermo is looking into it.
TODO: Not sure if this page is necessary on top of the quota_grid.html page?

-->

{% block stuff %}
<div class="container-fluid">
  <h2>Historical UPPMAX storage quota: {{ project }}</h2>
  <p id="loading_spinner"><span class='glyphicon glyphicon-refresh glyphicon-spin'></span>  Loading plot.. <em>(can take some time)</em></p>
  <div id="storage_plot">
  <div class="single_chart_container" id="chart_container">
    <svg id="chart"></svg>
  </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    // Load the data
    $.getJSON("/api/v1/quotas/{{ project }}", function(api_data) {
        
        // Massage the data
        var raw_data = api_data[0]["data"];
        var plot_data = [];
        var quota_limit = raw_data[0].limit / 1000000000000;
            var max_value = quota_limit;
            $.each(raw_data, function(i, d){
                d.y /= 1000000000000;
                plot_data.push([d.x * 1000, d.y]);
                if(max_value < d.y) {
                    max_value = d.y;
                }
            });
        
        // Plot the data
        $('#storage_plot').highcharts({
            chart: {
                type: 'area',
                zoomType:'x'
            },
            title: { text: "Storage Usage Over Time: {{ project }}" },
            legend: { enabled: false },
            xAxis: { 
                title: { text: 'Date' },
                type: 'datetime'
            },
            yAxis: {
                min: 0,
                max: max_value,
                title: { text: 'Storage' },
                labels: {
                    formatter: function () {
                        return this.value + 'Tb';
                    }
                },
                plotLines: [{
                    color: 'red',
                    width: 2,
                    value: quota_limit,
                    dashStyle: 'Dash',
                    zIndex: 5
                }]
            },
            tooltip: {
                pointFormat: '<strong>{series.name}</strong>: {point.y:,.2f} Tb',
            },
            series: [{
                name: '{{ project }}',
                data: plot_data
            }]
        });
        
        // Hide the loading spinner
        $('#loading_spinner').slideUp();
    });
});
</script>

{% end %}