{% extends "base.html" %}

<!--
Template file: reads_total.html
URL: /reads_total
Title: Reads
Description: Summing tool for the reads
-->

{% block stuff %}

<div {% if readsdata %}style="margin-left: 270px;"{% end %}>
    <h1 id="page_title">Read Count Totals: <span id="rt_query">{{ query }}</span></h1>
    <div id="querybox">
        <form action="/reads_total/" id="reads_form">
            <div class="form-group">
                <label class="fw-bold" for="reads_query">Enter new search term here:</label>
                <div class="input-group" style="max-width: 400px;">
                    <input type="text" class="form-control" id="reads_query" placeholder="eg. P1234">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </span>
                </div>
                <span class="form-text">Page finds any samples whose names begin with the search term.</span>
            </div>
        </form>
    </div>
</div>

{% if query == '' %}
    <h3 class="mt-3">Welcome to the read count totals page!</h3>
    <p>To begin, enter a search term above and click <code>Search</code></p>
    <p>The search works by matching any sample names that begin with your search term. So P123 will match samples <code>P123_001</code> and <code>P1234_003</code></p>
    <p>Note that sample names do not have full project names such as <code>A.Project_15_03</code>, so these kinds of searches will not work.</p>
{% elif readsdata %}
<div style="width: 250px; position:fixed; left: 10px; top: 65px; height: 90%; overflow: auto;">
    <h3 id="summary_table_section">Summary of Selected {% if "isHiseqX" in readsdata %}Cluster{% else %}Reads{% end %} Counts</h3>
    <p><button id="rt_summary_download" class="btn btn-outline-secondary">Download as tab-delimited file</button></p>
    <div id="summary_table"></div>
</div>
<div style="margin-left: 270px;">
    <div id="reads_total_summary_chart"></div>
    <form class="form-inline">
    <div class="btn-group" role="group" >
        <input type="button" id="check_all" class="btn btn-outline-secondary" value="Check all"/>
        <input type="button" id="uncheck_all" class="btn btn-outline-secondary" value="Uncheck all"/>
        <input type="text" class="form-control" id="check_key" />
    </div>
    </form>
    <div id="sample_tables" class="container-fluid">
        {% set counter = 0 %}
        <div class="row">
        {% for sample in readsdata %}
            {% if counter%2==0 %}</div><hr><div class="row">{% end %}
            <div id="{{ sample }}" class="col-lg-6 sample_table" style="padding-top:15px;">
                <table id="table_{{ sample }}"class="table reads_table">
                    <tr class="darkth">
                        <th><a class="text-decoration-none" href="/project/{{ sample.split('_')[0] }}">{{ sample }}</a></th>
                        <th>%&nbsp;&gt;&nbsp;q30</th>
                        <th>Mode</th>
                        <th>Threshold</th>
                        <th>Add</th>
                        <th>{% if "isHiseqX" in readsdata %}Cluster{% else %}Reads{% end %}</th>
                    </tr>
                {% for d in readsdata[sample] %}
                    {% set run_setup = d['longer_read_length'] %}
                    {% try %} {% set run_setup = int(run_setup) %} {% except %}{% end %}
                    <tr class="reads_data">
                        <td class="flowcell"><a class="text-decoration-none" href="/flowcells/{{ d['fcp'].split('_')[0] }}_{{ d['fcp'].split('_')[-1].split(':')[0] }}">{{ d['fcp'] }}</a></td>
                        {% if '_UD' not in d['fcp']  %}
                            {% if d['run_mode'] == 'HiSeq X' %}
                                {% set q30_threshold = 75.0 %}
                            {% elif 'MiSeq' in d['run_mode'] %}
                                {% if run_setup >= 250 %}
                                    {% set q30_threshold = 60.0 %}
                                {% elif run_setup >= 150 %}
                                    {% set q30_threshold = 70.0 %}
                                {% elif run_setup >= 100 %}
                                    {% set q30_threshold = 75.0 %}
                                {% elif run_setup < 100 %}
                                    {% set q30_threshold = 80.0 %}
                                {% end %}
                            {% else %}
                                {% if run_setup >= 250 %}
                                    {% set q30_threshold = 60.0 %}
                                {% elif run_setup >= 150 %}
                                    {% set q30_threshold = 75.0 %}
                                {% elif run_setup >= 100 %}
                                    {% set q30_threshold = 80.0 %}
                                {% elif run_setup < 100 %}
                                    {% set q30_threshold = 85.0 %}
                                {% end %}
                            {% end %}
                            {% if d['q30'] is not None and float(d['q30']) >= q30_threshold %}
                                <td class="table-success myq30">{{ d['q30'] }}</td>
                                <td>{{ run_setup }}</td>
                                <td class="threshold">{{ q30_threshold }}</td>
                                <td><input type='checkbox' class="reads_check" data-sfc="{{ sample+'_'+d['fcp'] }}" {% if d.get('sample_status', '') != 'Failed' %} checked {% end %} /></td>
                            {% else %}
                                <td class="table-warning myq30">{{ d['q30'] }}</td>
                                <td>{{ run_setup }}</td>
                                <td>{{ q30_threshold }}</td>
                                <td><input type='checkbox' class="reads_check" data-sfc="{{ sample+'_'+d['fcp'] }}"/></td>
                            {% end %}
                        {% else %}
                            <td class="myq30">{{ d['q30'] }}</td>
                            <td>{{ run_setup }}</td>
                            <td>{{ q30_threshold }}</td>
                            <td><input type='checkbox' class="reads_check" data-sfc="{{ sample+'_'+d['fcp'] }}"/></td>
                        {% end %}
                        <td class="clusters">{{ d['cl'] }}</td>
                    </tr>
                {% end %}
                    <tr class="darkth">
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="sample_name">{{ sample }}</th>
                        <th id="{{ sample }}_total" class="reads_total"></th>
                    </tr>
                </table>
            </div>
        {% set counter = counter + 1 %}
        {% end %}
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-danger mt-3">
    <h4>Error - No samples found</h4>
    <p>Sorry, we weren't able to find any samples matching <code>{{ query }}</code>. Please try again with the box above.</p>
    <p>The search works by matching any sample names that begin with your search term. So P123 will match samples <code>P123_001</code> and <code>P1234_003</code></p>
    <p>Note that sample names do not have full project names such as <code>A.Project_15_03</code>, so these kinds of searches will not work.</p>
</div>
{% end %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/static/js/FileSaver.min.js"></script>
<script type="text/javascript" src="/static/js/reads_total.js?v={{ gs_globals['git_commit'] }}" ></script>

{% end %}
