{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <h2>Reads vs Quality values</h2>
  <p>
    Cumulated quality data over selected time period.
  </p>
  <div id="slider"></div><br>

  <h2 id="dates"></h2>

  <div class="grid_chart" id="chart_container">
    <svg id="quality"></svg>
  </div>

  <div class="grid_chart" id="chart_container">
    <svg id="cumulative"></svg>
  </div>

</div>

<script>

var start = '2012-01-01T00:00:00'
var stop = '2013-09-01T00:00:00'
var d_min = new Date(2012, 0, 1);
var d_max = new Date();

$("#slider").dateRangeSlider({
  bounds:
  {
    min: d_min,
    max: d_max
  },
  defaultValues:
  {
    min: d_min,
    max: d_max
  },
  min: 1,
  max: 12,
  values: [2, 12],
  step:
  {
    days: 1
  },
});

function plot_data(start, stop) {
  start_string = $.datepicker.formatDate('yy-mm-dd', start);
  stop_string = $.datepicker.formatDate('yy-mm-dd',stop);
  $("#dates").text("Date range: " + start_string  + " - " +stop_string)

  $.getJSON("/api/v1/reads_vs_quality?start=" + start.toISOString() + "&end=" + stop.toISOString(), function(data) {
    
    var quality = []
    for (var i = 0; i < data["quality"].length; i++) {
      quality.push({"quality": i, "y": data["quality"][i]})
    };

    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.quality })
          .y(function(d) { return d.y })
          .forceY([0.3])
          .color(["#4D91A1"])

      d3.select("#quality")
          .datum([{values: quality, key: "Quality", bar: true}])
	  .call(chart)
          
      nv.utils.windowResize(function() {d3.select('#quality').call(chart)})

      return chart
    })

    /* If existing, remove axis descriptions */
    $("#quality #xDescription").remove()

    d3.select("#quality")
        .append("text")
        .attr("id","xDescription")
        .attr("x", 500)
        .attr("y", 280)
	.attr("text-anchor","middle")
        .text("Quality Values")
      ;

    var cumulative = []
    for (var i = 0; i < data["cumulative"].length; i++) {
      // cumulative.push({"cumulative": i, "y": data["cumulative"][i]})
      cumulative.push({"cumulative": i, "y": data["cumulative"][i]})
    };

    nv.addGraph(function() {
      var chart = nv.models.lineChart()
                    .x(function(d) { return d.cumulative })
                    .y(function(d) { return d.y })
                    .color(["#4D91A1"])

      d3.select('#cumulative')
          .datum([{"values": cumulative, "key": "Integrated", area: true}])
          .call(chart);

      nv.utils.windowResize(function() {d3.select('#cumulative').call(chart)})

      return chart
    });

  })
}

$("#slider").bind("valuesChanged", function(e, data){
    plot_data(data.values.min,data.values.max)
});

</script>

{% end %}
