{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <h2>Reads vs Quality values</h2>
  <p>
    Browse quality data over selected time period. 
    The histogram at the top shows the ratio of reads at each quality score and 
    the bottom graph shows the total ratio of reads with at least the score
    given by the x-axis.
  </p>
  <div id="slider"></div><br>

  <h2 id="dates"></h2>

  <div class="grid_chart" id="chart_container">
    <svg id="quality"></svg>
  </div>

  <div class="grid_chart" id="chart_container">
    <svg id="cumulative"></svg>
  </div>

</div>

<script>

var start = '2012-01-01T00:00:00'
var stop = '2013-09-01T00:00:00'
var d_min = new Date(2012, 0, 1);
var d_max = new Date();

$("#slider").dateRangeSlider({
  bounds:
  {
    min: d_min,
    max: d_max
  },
  defaultValues:
  {
    min: d_min,
    max: d_max
  },
  min: 1,
  max: 12,
  values: [2, 12],
  step:
  {
    days: 1
  },
});

function add_plot_description() {
    var xCenter = 490; /* Bad hack, will not be centered on all screen resolutions */
    var yBottom = 280;
    var xBorder = 30;
    var yBorder = 150;

    /* If existing, remove axis descriptions */
    $("#quality #xDescription_quality").remove()

    d3.select("#quality")
        .append("text")
        .attr("id","xDescription_quality")
        .attr("x", xCenter) 
        .attr("y", yBottom)
	.attr("text-anchor","middle")
        .text("Quality Scores")
      ;

    $("#quality #yDescription_quality").remove()

    d3.select("#quality")
        .append("text")
        .attr("id","yDescription_quality")
        .attr("x", xBorder)
        .attr("y", yBorder)
        .attr("transform","rotate(-90," + xBorder + "," + yBorder+")")
	.attr("text-anchor","middle")
        .text("Reads Ratio")
      ;

    /* If existing, remove axis descriptions */
    $("#cumulative #xDescription_cumulative").remove()

    d3.select("#cumulative")
        .append("text")
        .attr("id","xDescription_cumulative")
        .attr("x", xCenter) 
        .attr("y", yBottom)
	.attr("text-anchor","middle")
        .text("Quality Scores")
      ;
}

function plot_data(start, stop) {
  start_string = $.datepicker.formatDate('yy-mm-dd', start);
  stop_string = $.datepicker.formatDate('yy-mm-dd',stop);
  $("#dates").text("Date range: " + start_string  + " - " +stop_string)

  $.getJSON("/api/v1/reads_vs_quality?start=" + start.toISOString() + "&end=" + stop.toISOString(), function(data) {
    
    var quality = []
    for (var i = 0; i < data["quality"].length; i++) {
      quality.push({"quality": i, "y": data["quality"][i]})
    };

    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.quality })
          .y(function(d) { return d.y })
          .forceY([0.3])
          .color(["#4D91A1"])

      d3.select("#quality")
          .datum([{values: quality, key: "Quality", bar: true}])
          .call(chart)
      
      nv.utils.windowResize(function() {d3.select('#quality').call(chart)})

      return chart
    })


    var cumulative = []
    for (var i = 0; i < data["cumulative"].length; i++) {
      // cumulative.push({"cumulative": i, "y": data["cumulative"][i]})
      cumulative.push({"cumulative": i, "y": data["cumulative"][i]})
    };

    nv.addGraph(function() {
      var chart = nv.models.lineChart()
                    .x(function(d) { return d.cumulative })
                    .y(function(d) { return d.y })
                    .color(["#4D91A1"])

      d3.select('#cumulative')
          .datum([{"values": cumulative, "key": "Integrated", area: true}])
          .call(chart);

      nv.utils.windowResize(function() {d3.select('#cumulative').call(chart)})

      return chart
    });
    add_plot_description()
  })
}

$("#slider").bind("valuesChanged", function(e, data){
    plot_data(data.values.min,data.values.max)
});

</script>

{% end %}
