{% extends "base.html" %}

<!-- 
Template file: reads_total.html
URL: /reads_total
Title: Reads
Description: Summing tool for the reads
-->

{% block stuff %}

<div id="querybox">
    <h3>Enter sample here : </h3>
    <form action="/reads_total/" id="reads_form">
        <div class="form-group statusdb-search" id="reads_search">
            <input type="text" class="form-control" id="reads_query" length=20 / >
        </div>
        <input type="submit" />
    </form>
</div>

    {% if readsdata %}
      <div id="sample_tables" class="container-fluid">
        {% set counter = 0 %}
        <div class="row">
        {% for sample in readsdata %}
        {% if counter%3==0 %}
        </div>
        <hr>
        <div class="row">
        {% end %}
        <div id="{{ sample }}" class="col-md-4">
            <table id="table_{{ sample }}"class="table reads_table">
            <tr><td><a href="/project/{{ sample.split('_')[0] }}">{{ sample }}</a></td><td>Add</td><td>Clusters</td></tr>
            {% for d in readsdata[sample] %}
            <tr class="reads_data"><td class="flowcell"><a href="/flowcells/{{ d['fcp'].split('_')[0] }}_{{ d['fcp'].split('_')[-1].split(':')[0] }}">{{ d['fcp'] }}</a></td><td><input type='checkbox' class="reads_check" checked /></td><td class="clusters">{{ d['cl'] }}</td></tr>
            {% end %}
            <tr><th>Total</th><th class="sample_name">{{ sample }}</th><th id="{{ sample }}_total" class="reads_total"></th>
        </table>
        </div>
        {% set counter = counter + 1 %}
        {% end %}
      </div>
      </div>
      <div id='summary_table'></div>
    {% end %}
    <script type="text/javascript">
        function create_summary_table(ar_s, ar_c){
            var tbl="<table class='table'><tr><th>Sample</th><th>Clusters</th></tr>";
            for (index in ar_s){
                tbl+="<tr><td>"+ar_s[index]+"</td><td>"+ar_c[index]+"</td></tr>";
            }
            tbl+="<table>";
            $('#summary_table').html(tbl);

        }
        function update_all_totals(){
            var ar_samples=Array();
            var ar_clusters=Array();
            $(".reads_table").each(function(){
                var total=0;
                $(this).find(".reads_data").each(function(){
                    if ($(this).find(".reads_check").prop("checked")==true){
                        total=total + parseInt($(this).find(".clusters").text());
                    }
                });
            ar_samples.push($(this).find(".sample_name").text());
            ar_clusters.push(total);
            $(this).find(".reads_total").text(total);
            });
        create_summary_table(ar_samples, ar_clusters);
        }
          $('#reads_form').submit(function(){
                  $('#reads_form').attr("action", "/reads_total/" + $('#reads_query').val());
        });
          $('.reads_check').click(update_all_totals);
          update_all_totals();
      </script>
{% end %}
