{% extends "base.html" %}
<!-- 
Template file: rec_ctrl_view.html
URL: /rec_ctrl/<projectid>
Title: Reception Control View
Description: Quick view of reception control plates for a project
-->

{% block stuff %}

<div>
    <h1 id="page_title">User Plates for project : <a href="/project/{{ project_id}}"><span id="project_id">{{ project_id}}</span></a></h1>

    <form id="selectors" class="form-inline">
        <div class="form-group">
            <label for="display_select">Data to display: </label>
            <select class="form-control input-sm" id="display_select">
              <option value="sid" selected>Sample ID</option>
              <option value="conc">Concentration</option>
              <option value="amount">Amount</option>
              <option value="rin">RIN</option>
              <option value="reads">Reads</option>
              <option value="qc">QC</option>
              <option value="cust_name">Customer Name</option>
            </select>
            <span style="margin-left: 15px;"><strong>Tip:</strong> You can use the <kbd><span class="glyphicon glyphicon-arrow-left"></span></kbd>
                and <kbd><span class="glyphicon glyphicon-arrow-right"></span></kbd> cursors to move through these.</span>
        </div>
    </form>
    

    {% for plate in sample_data%}
    <h3>Container {{ plate }}</h3>
    <table class="table table-bordered rcplate">
        {% if len(sample_data[plate]['y_axis']) <= 8 %}
          {% set rows="ABCDEFGH" %}
        {% else %}
          {% set rows=[" "] + sample_data[plate]['y_axis'] %}
        {% end %}
        {% if len(sample_data[plate]['x_axis']) <= 12 %}
          {% set cols=xrange(1,13) %}
        {% else %}
          {% set cols=sample_data[plate]['x_axis'] %}
        {% end %}

        <thead>
            <th class="text-center">#</th>
            {% for col in cols %}
                <th class="text-center">{{ col }}</th>
            {% end %}
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <th class="text-center">{{ row }}</th>
            {% for col in cols %}
                {% if "{}:{}".format(row, col) in sample_data[plate] %}
                    {% set pid = sample_data[plate]["{}:{}".format(row, col)]['sample_name'] %}
                {% else %}
                    {% set pid = '' %}
                {% end %}
                <td data-plate="{{ plate }}" data-pos="{{ "{}:{}".format(row, col) }}" title="{{ pid }}" data-toggle="tooltip">{{ pid }}</td>
            {% end %}
        </tr>
        {% end %}
        </tbody>
    </table>
    {% end %}
</div>

<script type="text/javascript">
var sdata={% raw json_data %};
</script>
<script type="text/javascript" src="/static/js/chroma.min.js" ></script>
<script type="text/javascript" src="/static/js/rec_ctrl_view.js?v={{ gs_globals['git_commit'] }}" ></script>
{% end %}

