{% extends "base.html" %}

<!--
### DEPRECIATED ###
Template file: samples_per_lane.html
URL: /samples_per_lane
Title: Number of samples per lane
Description: Histogram of number of samples loaded onto a single lane.

# TODO: Does anyone use this plot? It's not very helpful as it stands..
-->

{% block stuff %}
<div class="container-fluid">
  <h2>Number of samples per lane</h2>
  <p>
    Histogram of number of samples loaded onto a single lane.
  </p>
  <img src="/api/v1/plot/samples_per_lane.png" />
</div>

{% end %}
