{% extends "base.html" %}
{% block stuff %}
  <h1 id="page_title" class="mb-2">Temperature info from Sensorpush</h1>

  <div class="mb-5 py-5 text-center">
    <div class="col-6 mx-auto">
      <div class="mb-5 alert alert-danger py-3">
      <h3>Sensors with warnings the last 24h</h3>
      {% for sensor in sensor_24h_data.keys() %}
        {% if sensor_24h_data[sensor]['intervals_higher'] %}
          <h5> <a href="#header_sensor_{{sensor}}">{{sensor_24h_data[sensor]['sensor_name']}}</a> (too high)</h5>
        {% end %}
      {% end %}
      {% for sensor in sensor_24h_data.keys() %}
        {% if sensor_24h_data[sensor]['intervals_lower'] %}
            <h5> <a href="#header_sensor_{{sensor}}">{{sensor_24h_data[sensor]['sensor_name']}}</a> (too low)</h5>
        {% end %}
      {% end %}
      </div>
    </div>

    <h2 class="my-4">Summary of the last 24 hours</h2>
    <div id="loading_spinner" style="text-align:center; margin:100px 0;">
      <span class="fa fa-sync fa-spin"></span> Loading summary plots...
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="fridge_sum_plot">

        </div>
      </div>
      <div class="col-lg-6">
        <div id="freezer_sum_plot">

        </div>
      </div>
    </div>
  </div>
  <h2 class="text-center">Details for each sensor from the last 4 weeks</h2>
  <div id="plots">
    {% for sensor in sensor_data.keys() %}
    <div class="row">
        <div class="col-auto">
          <h2 id='header_sensor_{{ sensor }}'>
            {{ sensor_data[sensor]['sensor_name'] }}
            {% if (sensor_data[sensor]['intervals_lower'] != []) or (sensor_data[sensor]['intervals_higher'] != []) %}
            <button class="btn btn-danger btn-lg ml-2" type="button" data-toggle="collapse" data-target="#intervals_{{sensor}}" aria-expanded="false" aria-controls="collapseExample">
              Show warnings <i class="far fa-sensor-alert ml-2"></i>
            </button>
          {% end %}
          </h2>
          {% if (sensor_data[sensor]['intervals_lower'] != []) or (sensor_data[sensor]['intervals_higher'] != []) %}
            <div class="collapse" id="intervals_{{sensor}}">
              <div class="card card-body bg-light">
                {% if sensor_data[sensor]['intervals_lower'] %}
                  <h3>Intervals where temperature was too low (Stockholm timezone):</h3>
                  {% for interval in sensor_data[sensor]['intervals_lower'] %}
                    <h5> {{ interval[0] }} - {{ interval[1] }} </h5>
                  {% end %}
                {% end %}
                {% if sensor_data[sensor]['intervals_higher'] %}
                  <h3>Intervals where temperature was too high (Stockholm timezone):</h3>
                  {% for interval in sensor_data[sensor]['intervals_higher'] %}
                    <h5> {{ interval[0] }} - {{ interval[1] }} </h5>
                  {% end %}
                {% end %}
              </div>
            </div>
          {% end %}
          </div>
        </div>
        <div class="sensorpush_plot" id="sensorpush_{{ sensor }}"></div>
    </div>
    {% end %}
  </div>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="/static/js/sensorpush.js"></script>
  <script>
    $(document).ready(function(){
      plot_sum_data();
      {% for sensor, data in sensor_data.items() %}
        var title = "Temperature over time (UTC)";
        var plot_data = date_parse({% raw json_encode(data['samples']) %});
        var div_id = "sensorpush_{{ sensor }}"
        var min_temp = {{ data['min_temp'] }};
        var max_temp = {{ data['max_temp'] }};
        var limit_lower = date_parse({% raw json_encode(data['limit_lower']) %})
        var limit_upper = date_parse({% raw json_encode(data['limit_upper']) %})
        var min_limit_lower = {% raw json_encode(data['min_limit_lower']) %}
        var max_limit_upper  = {% raw json_encode(data['max_limit_upper']) %}
        // plot_chart is defined in sensorpush.js
        plot_chart(title, plot_data, limit_lower, limit_upper, min_temp, max_temp, min_limit_lower, max_limit_upper, div_id);
      {% end %}
    });
  </script>
{% end %}
