{% extends "base.html" %}

<!--
Template file: sequencing_queues.html
URL: /sequencing_queues
Title: List of sequencing queues
Description: Shows a table with extant sequencing queues.
-->

{% block stuff %}

<div class="container-fluid" id="seqQueues_list">
  <div id="pools_table_div">
      <h1><span id="page_title">Sequencing queues</span>
        <small class="text-muted">Showing all sequencing queues</small>
      </h1>
      <table class="table table-hover table-striped table-bordered sortable" id="queues_table">
        <thead>
          <tr class="sticky darkth">
            <th class="sort"></th>
            <th class="sort">Project</th>
            <th class="sort">Pools</th>
            <th class="sort">Days from Queued Date</th>
            <th class="sort">Run Mode</th>
            <th class="sort">Lanes</th>
            <th class="sort">Setup</th>
            <th class="sort">Final Loading Conc.(pM)</th>
            <th class="sort">Conc. of pool[qPCR](nM)</th>
            <th class="sort">Library Type</th>
          </tr>
        </thead>
        <tfoot>
          <tr class="darkth">
            <th class="sort"></th>
            <th class="sort">Project</th>
            <th class="sort">Pools</th>
            <th class="sort">Days from Queued Date</th>
            <th class="sort">Run Mode</th>
            <th class="sort">Lanes</th>
            <th class="sort">Setup</th>
            <th class="sort">Final Loading Conc.(pM)</th>
            <th class="sort">Conc. of pool[qPCR](nM)</th>
            <th class="sort">Library Type</th>
          </tr>
        </tfoot>
        <tbody class="list" id="queues_table_body">
        </tbody>
      </table>
    </div>
</div>

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/sequencing_queues.js?v={{ gs_globals['git_commit'] }}"></script>
<script src="/static/js/jquery-ui.min.js"></script>

{% end %}
