{% extends "base.html" %}

<!--
Template file: suggestion_box.html
URL: /suggestion_box
Title: Suggestion Box
Description: Form for users to submit suggestions to. Goes to Jira.
Dependent on /static/js/suggestion_box.js
-->

{% block stuff %}



<h1 id="page_title" class="mt-3">Suggestion Box</h1>

<div class="row">
  <div class="col-md-6">
    <legend class="border-bottom mb-3">Please describe your suggestion below..</legend>
    <form role="form" id="suggestionForm" method="post" action="/suggestion_box">
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="area">Area of Work</label>
        <div class="col-sm-9">
          <select class="form-select" id="area" name="area" required>
            <option value="">[ select area ]</option>
            <option>Information Management</option>
            <option>Policy</option>
            <option>Lab</option>
            <option>Bioinfo</option>
            <option>Project Handling</option>
            <option>Meetings</option>
            <option>Other</option>
          </select>
          <span class="form-text">What area of work is this (mostly) regarding?</span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="system">System</label>
        <div class="col-sm-9">
          <select class="form-select" id="system" name="system" required>
            <option value="">[ select system ]</option>
            <option>Genomics Status</option>
            <option>LIMS</option>
            <option>Google Docs</option>
            <option>Genomics Dashboard</option>
            <option>StatusDB</option>
            <option>AM System</option>
            <option>Jira</option>
            <option>GitHub</option>
            <option>Other</option>
            <option>No System</option>
          </select>
          <span class="form-text">What system is this (mostly) regarding?</span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="importance">Importance</label>
        <div class="col-sm-9">
          <select class="form-select" id="importance" name="importance" required>
            <option value="1">1 - Low Priority</option>
            <option value="2">2 - Medium Priority</option>
            <option value="3">3 - Important</option>
            <option value="4">4 - Urgent</option>
            <option value="5">5 - Critical</option>
          </select>
          <span class="form-text">Grade how serious the issue is</span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="title">Title</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="title" name="title" placeholder="Issue / Observation" required>
          <span class="form-text">Summarize the issue in a few words</span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="description">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" class="span12" rows="6" id="description" name="description" required></textarea>
          <span class="form-text">Describe the issue in more detail</span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="suggestion">Suggestion</label>
        <div class="col-sm-9">
          <textarea class="form-control" class="span12" rows="6" id="suggestion" name="suggestion"></textarea>
          <span class="form-text">Provide a suggestion for how the issue can be solved <em>(optional)</em></span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <label class="col-sm-3 col-form-label text-right fw-bold" for="difficulty">Difficulty</label>
        <div class="col-sm-9">
          <select class="form-select" id="difficulty" name="difficulty">
            <option value="">Do not know</option>
            <option value="1">1 - Easy</option>
            <option value="2">2 - </option>
            <option value="3">3 - </option>
            <option value="4">4 - </option>
            <option value="5">5 - Very Difficult</option>
          </select>
          <span class="form-text">Grade how difficult / much effort it will take to fix the issue</span>
        </div>
      </div>
      <div class="row mb-3 pb-3">
        <div class="form-actions col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-primary btn-lg">Submit Suggestions</button>
          <span class="form-text d-block">Your username <strong>{{ user.name }}</strong> will be recorded when you submit this form.</span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <legend class="border-bottom mb-3">List of existing suggestions</legend>
    <p>Click on a suggestion title to go to its corresponding Jira/Trello card.
      Archived cards will appear in green.</p>
    <div id="suggestions_table">
        <table class="table table-bordered" id="suggestionsTable">
          <thead>
            <tr class="darkth">
              <th>Suggestion</th>
              <th>Creation Date</th>
            </tr>
          </thead>
          <tbody id="suggestionsTableBody">
          </tbody>
        </table>
    </div>
  </div>
</div>


<div class="modal fade" id="processingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="processingModalBody">
      </div>
    </div>
  </div>
</div>


<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/suggestion_box.js?v={{ gs_globals['git_commit'] }}" id="suggestions_box-js"></script>

{% end %}
