{% extends "base_b5.html" %}

<!--
Template file: unauthorised.html
URL: /unauthorized?email=[login_email]&contact=[admin_email]
Title: Unauthorized
Description: Page seen when a users' e-mail is not recognised.
-->

{% block stuff %}

<h1 id="page_title">Unauthorized</h1>
<h3>Sorry, You are not authorized to access genomics-status.</h3>
<p>Please contact
<!--This will generate a mail with subject: Genomics Status access request - email -->
<a class="text-decoration-none" href="mailto:{{contact}}?Subject=Genomics Status%20access%20request%20-%20{{email}}">{{contact}}</a>
to get an account.</p>

{% end %}
