{% extends "base.html" %}

{% block stuff %}
<div class="container-fluid">

<div class="hero-unit">
<h1 id="scilifelabgenomics-status">I'm sorry {{user}}, I'm afraid I can't do that</h1>

<div>
<blockquote>
  <p>
    This mission is too important for me to allow you to jepordize it.
  </p>
</blockquote>
</div>

<div "span2">
<p>
  The email {{ email or "unknown" }} is not currently in our system. 
</p>
<p>
  This means you're not authorized to access the genomics-status portal. 
  Did you perhaps use your private email? 
  In that case, you can try with another account, by logging out from genomics-status and probably also from 
  your google account and then try again.
</p>
<p>
   If you wish to gain access for this email address, contact Johannes Alneberg or Guillermo Carrasco.
</p>
<a class="btn btn-primary btn-large" href="/logout">
  Log Out
</a>

</div>
</div>
</div>
{% end %}
