{% extends "base.html" %}
{% block stuff %}
<h1 id="page_title">Storage and CPU quotas used on UPPMAX projects</h1>
<p>The quota limit is indicated with a dashed red line.</p>
<p><span id="show_all_text">Showing data from last two months.</span> &nbsp; <button id="show_all_data" class="btn btn-default btn-xs">Show all data</button></p>
<ul class="quota-nav pagination">
  {% for project_id in uppmax_projects.keys() %}
  <li><a href="#{{ project_id }}">{{ project_id }}</a></li>
  {% end %}
</ul>
<div id="plots">
  {% for project_id, project in uppmax_projects.items() %}
  <div id='{{ project_id }}'>
    <h2>{{ project_id }}</h2>
    <blockquote>
      {{ project.get('description', '') }}
    </blockquote>
      {% set quota_decrease = project.get('quota_decrease', {}) %}
      {% set nobackup_decrease = project.get('nobackup_quota_decrease', {}) %}
      {% set cpu_decrease = project.get('cpu_quota_decrease', {}) %}
      <div class="row">
        <div class="col-md-4">
          {% if quota_decrease %}
            {% if quota_decrease.get('days') > 30 %}
               <p class="quota_decrease">Quota​ will be reduced to ​<b>{{ quota_decrease.get('quota') }}Gb</b>​
                 on ​<b>{{ quota_decrease.get('date') }}</b></p>
            {% else %}
              <div class="quota_decrease alert {% if quota_decrease.get('days') < 8 %} alert-danger
                {% elif quota_decrease.get('days') < 30 %} alert-warning {% end %}">
                Quota​ will be reduced to ​<b>{{ quota_decrease.get('quota') }}Gb</b>​
                in ​<b>{{ quota_decrease.get('days') }} days</b>
              </div>
            {% end %}
          {% end %}
        </div>
        <div class="col-md-4">
          {% if nobackup_decrease %}
            {% if nobackup_decrease.get('days') > 30 %}
               <p class="quota_decrease">Nobackup quota​ will be reduced to ​<b>{{ nobackup_decrease.get('quota') }}Gb</b>​
                 on ​<b>{{ nobackup_decrease.get('date') }}</b></p>
            {% else %}
              <div class="quota_decrease alert {% if nobackup_decrease.get('days') < 8 %} alert-danger
                {% elif nobackup_decrease.get('days') < 30 %} alert-warning{% end %}">
                Quota​ will be reduced to ​<b>{{ nobackup_decrease.get('quota') }}Gb</b>​
                in ​<b>{{ nobackup_decrease.get('days') }} days</b>
              </div>
            {% end %}
          {% end %}
        </div>
        <div class="col-md-4">
          {% if cpu_decrease %}
            {% if cpu_decrease.get('days') > 30 %}
               <p class="quota_decrease">CPU quota​ will be reduced to ​<b>{{ cpu_decrease.get('quota') }}h</b>​
                 on ​<b>{{ cpu_decrease.get('date') }}</b></p>
            {% else %}
              <div class="quota_decrease alert {% if cpu_decrease.get('days') < 8 %} alert-danger
                {% elif cpu_decrease.get('days') < 30 %} alert-warning {% end %}">
                Quota​ will be reduced to ​<b>{{ cpu_decrease.get('quota') }}h</b>​
                in ​<b>{{ cpu_decrease.get('days') }} days</b>
              </div>
            {% end %}
          {% end %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 uppmax_plot" id="quota_{{ project_id }}"></div>
        <div class="col-md-4 uppmax_plot" id="quota_{{ project_id }}_nobackup"></div>
        <div class="col-md-4 uppmax_plot" id="cpu_{{ project_id }}"></div>
      </div>
  </div>
  {% end %}
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/quota.js"></script>
<script>
  $(document).ready(function(){
    {% for project, data in uppmax_projects.items() %}
      var project = "{{ project }}";
      var title = "Storage Usage Over Time";
      // normalize is defined in nas_quotas.js
      var plot_data = normalize_data("{{ data['disk_usage']['plot_data'] }}");
      var limit_data = normalize_data("{{ data['disk_usage']['limit_data'] }}");
      var max_value = "{{ data['disk_usage']['max_x_value'] }}";
      var div_id = "quota_{{ project }}";
      // plot_chart is defined in nas_quotas.js
      plot_chart(title, plot_data, limit_data, max_value, div_id);


      var title = "Nobackup Storage Usage Over Time";
      // normalize is defined in nas_quotas.js
      var plot_data = normalize_data("{{ data['nobackup_usage']['plot_data'] }}");
      var limit_data = normalize_data("{{ data['nobackup_usage']['limit_data'] }}");
      var max_value = "{{ data['nobackup_usage']['max_x_value'] }}";
      var div_id = "quota_{{ project }}_nobackup";
      // plot_chart is defined in nas_quotas.js
      plot_chart(title, plot_data, limit_data, max_value, div_id);


      var title = "CPU Usage Over Time";
      // normalize is defined in nas_quotas.js
      var plot_data = normalize_data("{{ data['cpu_hours']['plot_data'] }}");
      var limit_data = normalize_data("{{ data['cpu_hours']['limit_data'] }}");
      var max_value = "{{ data['cpu_hours']['max_x_value'] }}";
      var div_id = "cpu_{{ project }}";
      // plot_chart is defined in nas_quotas.js
      plot_chart(title, plot_data, limit_data, max_value, div_id);
    {% end %}
  });
</script>
{% end %}