{% extends "base_b5.html" %}

<!--
Template file: user_management.html
URL: /user_management
Title: displays all the users authorized to use genomics-status
Description: Shows a table with all genomics-status users with options to modify them.
-->

{% block stuff %}
<div class="container-xxl">
<h1 class="page_title my-4"><span id="page_title">User Management</span> <small class="text-muted">Create and modify users of Genomics Status</small></h1>

{% if not user.is_admin %}

  <p>Sorry! Your user role does not allow you to view this page!</p>

{% else %}

  <div class="row">
  <div class="col-2">
    <div class="mx-3">
      <div>
        <button class="btn btn-primary btn-lg mt-3 w-100" data-toggle="modal" type="button" data-target="#createUserModal">
          <i class="fa fa-plus mr-2"></i> Create User
        </button>
      </div>
      <div>
        <button class="btn btn-primary btn-lg mt-3 w-100" data-toggle="modal" type="button" data-target="#modifyUserModal">
          <i class="fa fa-wrench mr-2"></i> Modify User
        </button>
      </div>
    </div>
  </div>
  <div class="col-10">
  <table class="table table-striped table-bordered sortable" id="ur_table">
    <thead>
      <tr class="sticky darkth">
        <th class="sort" data-sort="user_name">User Name</th>
        <th class="sort" data-sort="permissions">Permissions</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="darkth">
        <th class="sort" data-sort="user_name">User Name</th>
        <th class="sort" data-sort="permissions">Permissions</th>
      </tr>
    </tfoot>
    <tbody class="list" id="user_table_body">
    </tbody>
  </table>
  </div>
  </div>
  </div>

  <div id="createUserModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4 class="modal-title"><i class="fa fa-plus mr-2"></i>Add User</h4>
          <button type="button" class="btn-close" data-dismiss="modal"><span class="sr-only">Cancel</span></button>
        </div>
        <div class="modal-body">
          <form id="createUserForm" class="form" role="form">
            <p class="fw-bold">Create new user for Genomics-Status with the specified permissions.</p>
            <div class="row">
              <div class="col-6">
                <div>
                  <label for="createUserName" class="fw-bold">Name</label>
                  <p class="text-muted mb-1">Enter user email (only scilifelab addresses).</p>
                  <input class="form-control" id="createUserName" placeholder="Name..." type="text">
                </div>
              </div>
              <div class="col-5 ml-5">
                <label class="control-label fw-bold">Permissions</label>
                <p class="text-muted mb-1"> Optionally add permissions</p>
                {% for role, Role in roles.items() %}
                  <div class="form-check-lg create-user-role-checkbox">
                    <input class="form-check-input" type="checkbox" value="{{role}}" id="create_check_{{role}}" data-label="{{Role}}">
                    <label class="form-check-label" for="create_check_{{role}}">
                      {{Role}}
                    </label>
                  </div>
                {% end %}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary" type="button" id="submitCreateUserBtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modifyUserModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4><i class="fa fa-wrench mr-2"></i>Modify User</h4>
          <button type="button" class="btn-close" data-dismiss="modal"><span class="sr-only">Cancel</span></button>
        </div>
        <div class="modal-body">
          <form id="modifyUser" class="form" role="form">
            <div class="row">
              <p class="fw-bold">Modify existing user in Genomics-Status.</p>
              <p>The user must re-login to Genomics-Status after their profile has been modified for the changes to be reflected.</p>
            </div>
            <div class="row">
              <div class="col">
                <label for="pickUser" class="fw-bold">Name</label>
                <div id="pickUser" class="changingDropdown dropdown">
                  <button class="btn btn-secondary dropdown-toggle wrapStyle" type="button" id="pickUserBtn" data-toggle="dropdown">
                    <i class="fa fa-list-alt"></i> Choose User <span class="caret"></span>
                  </button>
                  <ul id="pickUserul" class="dropdown-menu dropdown-menu-center dropdown-menu-wide" role="menu" aria-labelledby="pickUserBtn"  style="z-index: 200; height: 400px; overflow-y: scroll;">
                  </ul>
                </div>
              </div>
              <div class="col">
                <label class="fw-bold">Permissions</label>
                {% for role, Role in roles.items() %}
                  <div class="form-check-lg modify-user-role-checkbox">
                    <input class="form-check-input" type="checkbox" value="{{role}}" id="check_{{role}}" data-label="{{Role}}">
                    <label class="form-check-label" for="check_{{role}}">
                      {{Role}}
                    </label>
                  </div>
                {% end %}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary" data-action="saveUserSettings" type="button" id="saveUserSettingsBtn">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div id="delUserConfirmModal" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4>Delete User Confirmation</h4>
          <button type="button" class="btn-close" data-dismiss="modal"><span class="sr-only">Cancel</span></button>
        </div>
        <div class="modal-body">
          <form id="DeleteUser" class="form form-search" role="form">
            <div class=" form-horizontal">
              <p>Are you sure you want to delete this user?</p>
              <div id="deleteUserName">
                <input class="form-control" id="formDeleteUserName" placeholder="" disabled type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary" id="delUserConfirmBtnModal" type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/user_management.js?v={{ gs_globals['git_commit'] }}" id="asrol-js" data-user='{{ user.email }}'></script>
  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
{% end %}

{% end %}
