{% extends "base.html" %}

<!--
Template file: worksets.html
URL: /worksets/[optional filter]
Title: Summary of all Worksets
Description: Shows a table with all worksets.
-->

{% block stuff %}

{% if worksets == 'all' %}
  <h1 id="{{ worksets }}" class="worksets_page_heading"><span id="page_title">All Worksets</span> <small>All worksets found in statusdb</small></h1>
{% end %}


<div id="loading_spinner" style="text-align:center; margin:100px 0;"><span class='glyphicon glyphicon-refresh glyphicon-spin'></span>  Loading worksets table..</div>
<div id="page_content" style="display:none;">

<form id="Search-form" class="form-inline marginBottom">
  <div class="form-group">
    <label for="search_field">Search Table:</label>
    <input type="text" class="form-control search search-query" id="search_field" placeholder="Search...">
    <span class="help-inline text-muted">Tip: Sort columns by clicking on the column headers.</span>
  </div>
</form>

<div id="workset-list">
  <table class="table table-striped table-bordered sortable" id="workset_table">
    <thead id="workset_table_head">
    </thead>
    <tbody class="list" id="workset_table_body">
    </tbody>
  </table>
</div>

</div> <!-- #page_content -->

<script src="/static/js/list.min.js"></script>
<script src="/static/js/worksets.js?v={{ gs_globals['git_commit'] }}" id="worksets-js" data-worksets="{{worksets}}"></script>
{% end %}
