{% extends "base.html" %}

<!--
Template file: worksets.html
URL: /worksets/[optional filter]
Title: Summary of all Worksets
Description: Shows a table with all worksets.
-->

{% block stuff %}

{% if worksets == 'all' %}
  <h1 id="{{ worksets }}" class="worksets_page_heading"><span id="page_title">All Worksets</span> <small>All worksets found in statusdb</small></h1>
{% end %}


<div id="page_content" >

<div id="workset-list">
  <table class="table table-striped table-bordered sortable" id="workset_table">
    <thead id="workset_table_head">
        <tr>
         {% for onekey in headers %}
            <th>{{ onekey[0] }}</th>
         {% end %}
         </tr>
    </thead>
    <tfoot id="workset_table_footer">
        <tr>
         {% for onekey in headers %}
            <th>{{ onekey[0] }}</th>
         {% end %}
         </tr>
    </tfoot>
    <tbody class="list" id="workset_table_body">
         {% for onews in ws_data%}
         <tr>
         {% for onekey in headers %}
             {% if onekey[1] == 'date_run' %}
                 <td>
                 <span class="label label-date sentenceCase">{{ ws_data[onews].get(onekey[1]) }}</span>
                 </td>
             {% elif onekey[1] == 'workset_name'%}
                 <td>
                 <a href="/workset/{{ onews }}">{{ onews }}</a>
                 </td>
             {% elif onekey[1] == 'projects'%}
                 <td>
                 {% for onepj in ws_data.get(onews).get(onekey[1]) %}
                 <abbr title="{{ ws_data.get(onews).get(onekey[1]).get(onepj).get('project_name')}}">
                     <a href="/project/{{ onepj }}">{{ ", ".join([ws_data.get(onews, {}).get(onekey[1], {}).get(onepj, {}).get('project_name', 'NA'), onepj]) }}</a></abbr>
                 {% if  ws_data.get(onews).get(onekey[1]).get(onepj).get('status') == 'Closed' %}
                 <abbr title="Project closed">&nbsp;<span class="glyphicon glyphicon-ok-sign"></span></abbr>
                 {% end %}
                 &nbsp;({{ ws_data.get(onews).get(onekey[1]).get(onepj).get('samples_nb') }})<br>
                 {% end %}
                 </td>
             {% elif onekey[1] == 'sequencing_setup'%}
                 <td>
                 {% for onepj in ws_data.get(onews, {}).get('projects', {}) %}
                     <samp style="max-width:50px;">{{ ws_data.get(onews).get('projects').get(onepj).get('sequencing_setup') }}</samp><br>
                 {% end %}
                 </td>
             {% elif onekey[1] in ['application', 'library_method'] %}
                 <td><samp style="max-width:50px;">
                 {% raw '</samp><hr style="margin:0;"><samp>'.join(ws_data[onews].get(onekey[1])) %}
                 </samp></td>
             {% elif onekey[1] in ['passed', 'failed', 'unknown', 'total'] %}
                 <td>{{ ws_data[onews].get('samples', {}).get(onekey[1]) }}</td>
             {% else %}
                <td>{{ ws_data[onews].get(onekey[1]) }}</td>
             {% end %}
         {% end %}
         </tr>
         {% end %}
    </tbody>
  </table>
</div>

</div> <!-- #page_content -->

<script src="/static/js/jquery.dataTables.min.js? }}"></script>
<script src="/static/js/worksets.js?v={{ gs_globals['git_commit'] }}" id="worksets-js" data-worksets="{{worksets}}"></script>

{% end %}
