{% extends "base.html" %}

<!--
Template file: workset_sample.html
URL: /workset/[workset]
Title: Individual Workset Page
Description: Shows information about a specific workset
-->

{% block stuff %}

<div id="loading_spinner" style="text-align:center; margin:100px 0;"><span class="fa fa-sync fa-spin"></span>  Loading workset page..</div>
<div id="page_content" style="display:none;">
    <h1>
        <button class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#modal_plate">Launch plate view</button>
        Workset <span id="page_title">{{ workset_name}}</span>
    </h1>
    <h3>Lims Step: <span id="span_lims_step"></span>, run on <span id="date_run"></span></h3>
    <div class="tabbable">
        <ul class="nav nav-tabs mb" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#workset_tables" role="tab" data-toggle="tab" aria-selected="true">Workset Tables</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab_running_notes_content" role="tab" data-toggle="tab">Workset Notes</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab_links_content" role="tab" data-toggle="tab">Links</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="workset_tables"></div>
            <!-- RUNNING NOTES TAB -->
            {% include "running_notes_tab.html" %}
            <!-- LINK TAB -->
            {% include "link_tab.html" %}

        </div>
    </div>

<!-- PLATE MODAL -->
<div id="modal_plate" class="modal fade" >
    <div class="plate_modal modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Plate View: {{ workset_name}}</h3>
              <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link plate-type-button" href="#rec_ctrl">Reception Control</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active plate-type-button" href="#library">Library Validation</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link plate-type-button" href="#seq">Sequencing</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <canvas id="myCanvas" width="1278" height="860" style="border:1px solid #000000;"></canvas>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RUNNING NOTES HELP -->
{% include "running_notes_help.html" %}

</div>

<script src="/static/js/links.js?v={{ gs_globals['git_commit'] }}" id="ln-js" data-link-type="workset"></script>
<script src="/static/js/running_notes.js?v={{ gs_globals['git_commit'] }}" id="rn-js" data-note-type="workset"></script>
<script src="/static/js/workset_samples.js?v={{ gs_globals['git_commit'] }}" id="workset-js" data-workset="{{ workset_name }}" data-lims_uri="{{ lims_uri }}"></script>
{% end %}
