{% extends "base.html" %}

<!--
Template file: workset_placement.html
URL: /workset_placement
Title: Workset Placement
Description: Offers guesses on how to place samples in a workset
-->



{% block stuff %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <form class="form-inline">
                LIMS Step : 
                <input class="form-control" type="text" id="lims_url" style="margin-right:10px;" />
                Total number of pools :
                <input class="form-control" type="text" size=2 id="pools_number" />
                <button id="sub_pools_number" class="btn btn-default">Next</button>
                <span id="wait1" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </form>
        </div>
    </div>
</div>
<div class="container" id="second_step" style="margin-top:10px;">
</div>
<span id="wait2" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
<div class="container" id="third_step" style="margin-top:10px;">
</div>
<div class="container" id="result" style="margin-top:10px;">
        <canvas id="myCanvas" width="958" height="645" style="border:1px solid #333333;"></canvas>
</div>
<div class="container" id="submit_lims_div">
</div>



<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/chroma.min.js" ></script>
<script src="/static/js/workset_placement.js"></script>
{% end %}
