{% extends "base.html" %}

<!--
Template file: workset_queues.html
URL: /workset_queues
Title: List of workset queues
Description: Shows a table with extant workset queues.
-->

{% block stuff %}

<div class="container-fluid" id="worksetQueues_list">
  <div id="pools_table_div">
      <h1><span id="page_title">Workset queues</span>
        <small class="text-muted">All samples that are available to be added to a workset in LIMS.</small>
      </h1>
      <label class="btn btn-outline-dark expand-all float-right mb-2"><span class="fa fa-plus-square" aria-hidden="true"></span>Expand All</label>
      <table class="table table-hover table-striped table-bordered sortable" id="samples_table">
        <thead id="samples_table_head">
            <tr class="sticky darkth">
              <th></th>
              <th>Project</th>
              <th>Number of Samples (Total samples in project)</th>
              <th>Oldest sample (in days)</th>
              <th>Project Queue Date</th>
              <th>Has Requeued Samples</th>
              <th>Lab protocol</th>
              <th>Latest running note</th>
            </tr>
        </thead>
        <tfoot id="samples_table_footer">
          <tr class="darkth">
            <th></th>
            <th>Project</th>
            <th>Number of Samples (Total samples in project)</th>
            <th>Oldest sample (in days)</th>
            <th>Project Queue Date</th>
            <th>Has Requeued Samples</th>
            <th>Lab protocol</th>
            <th>Latest running note</th>
          </tr>
        </tfoot>
        <tbody class="list" id="samples_table_body">
        </tbody>
      </table>
    </div>
</div>

<script src="/static/js/dataTables-extensions-1.13.6.min.js"></script>
<script src="/static/js/workset_queues.js?v={{ gs_globals['git_commit'] }}"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/running_notes.js"></script>

{% end %}
