{% extends "../base.html" %}

<!--
Template file: project_creation.html
URL: /project_creation
Title: Project Creation
-->


{% block stuff %}

<div id="v_project_creation">
    <v-project-creation-form init_edit_mode="{{edit_mode}}" version_id="{{version_id}}"></v-project-creation-form>
</div>
{% end %}

{% block js %}

<script src="/static/js/vue.v3.2.47.global.prod.js"></script>
<script src="/static/js/axios.v1.3.4.min.js"></script>
<script type="module" src="/static/js/project_creation.js"></script>

{% end %}
