__pycache__/
**.DS_Store
.ruff_cache/
.vscode/
*.orig
*.pyc
*.swp
*~
build/
d3/
dist/
jquery/
Pipfile
Pipfile.lock
**genosqlrc.yaml
run_dir/qc_reports/
run_dir/settings.yaml
run_dir/settings/
status.egg-info/
tests/test_items.yaml
**orderportal_cred.yaml