backports.ssl-match-hostname>=3.5.0.1
CouchDB==1.1
ecdsa>=0.13
genologics>=0.3.16
httplib2>=0.10.3
logbook
cffi
matplotlib>=2.0.0
markdown
nest_asyncio
numpy>=1.12.1
oauth2>=1.9.0.post1
openpyxl
py-trello
pycryptodome>=3.6.1
pyparsing>=2.2.0
python-dateutil>=2.7.5
pytz>=2018.9
PyYAML
requests>=2.14.2
simplejson>=3.10.0
six>=1.10.0
slack_sdk
tornado>=6.0.2
utils>=0.9.0
weasyprint==52.5
Zenpy
#Install with conda first, pip requires gcc
pandas>=1.3.2
#conda install -c conda-forge psycopg2 # Install with conda
#conda install -c conda-forge open-fonts
#conda install -c anaconda pango=1.42.0
#conda install -c conda-forge xorg-libxrender
#conda install -c conda-forge xorg-libxext
#conda install -c conda-forge xorg-libxau
