CouchDB==0.10
PyYAML==3.11
Zendesk==1.1.1
backports.ssl-match-hostname==3.4.0.2
ecdsa==0.11
httplib2==0.9
matplotlib==1.4.0
numpy==1.9.0
oauth2==1.5.211
paramiko==1.14.1
py-trello==0.8.0
pycrypto==2.6.1
pyparsing==2.0.1
python-dateutil==1.5
pytz==2014.7
requests==2.4.1
simplejson==3.6.4
six>=1.8.0
status==0.0.0
tornado==4.0.2
wsgiref==0.1.2
logbook
