atlassian-python-api
cffi
cryptography
genologics @ git+https://github.com/SciLifeLab/genologics.git
genologics_sql @ git+https://github.com/NationalGenomicsInfrastructure/genologics_sql.git
httplib2>=0.10.3
ibmcloudant>=0.9.1
jwcrypto
markdown
matplotlib>=2.0.0
nest_asyncio
numpy>=1.12.1
oauth2>=1.9.0.post1
openpyxl
pyparsing>=2.2.0
python-dateutil>=2.7.5
pytz>=2018.9
PyYAML
requests>=2.14.2
selenium
setuptools
slack_sdk
tornado>=6.0.2
weasyprint==52.5
Zenpy
