
<div class="tab-pane fade" id="tab_bioinfo_content">
  {% set status_css={
    'Demultiplexing': 'label-default',
    'Transferring': 'label-default',
    'Sequencing': 'label-default',
    'New': 'label-primary',
    'QC-ongoing': 'label-warning',
    'QC-done': 'label-success',
    'BP-ongoing': 'label-danger',
    'BP-done': 'label-success'
    }; %}
  {% set qc_css={ '?': 'unknown', 'Pass': 'success', 'Warning': 'warning', 'Fail': 'danger', 'N/A': 'active'} %}
  <form class="form-inline">
    <div class="form-group">
      <label for="bioinfo-view">Select view: </label>
      <select id="bioinfo-view" class="form-control">
        <option selected="selected" value="sample-view">Sample-run-lane (default)</option>
        <option value="run-view">Run-lane-sample</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bioinfo_set-status">All statuses: </label>
      <select id="bioinfo_set-status" class="form-control" disabled>
        <option value="all">All (default)</option>
        <option value="incoming">Incoming</option>
        <option value="new">New</option>
        <option value="ongoing">Ongoing</option>
        <option value="delivered">Delivered</option>
      </select>
    </div>
    &nbsp; &nbsp; &nbsp;
    <button class="btn btn-default btn-sm" disabled id="bioinfo-status-copyFirstRow">Copy first row to all</button>
    <span class="pull-right bioinfo-savespan">
      <button class="btn btn-primary" id="bioinfo-status-saveButton"
          {% if project_closed %} disabled {% end %}> Save Changes</button>
    </span>
  </form>
  <hr>

  {% include "sample_run_lane_view.html" %}
  {% include "run_lane_sample_view.html" %}

  <button disabled class="btn btn-default" id="bioinfo-show-history">Show Edit History</button>
  <pre id="bioinfo-history-dump" style="display:none; margin-top:20px;"></pre>

  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/bioinfo_tab.js"></script>
</div>


<div id='bioinfo-confirm-dialog' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>After 'Data Delivered' is set, you cannot make any changes. Do you want to save changes? </p>
      </div>
      <div class="modal-footer">
        <button id="bioinfo-confirm-save" type="button" class="btn btn-primary">Save changes</button>
        <button id="bioinfo-confirm-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->