
<div class="tab-pane fade" id="tab_bioinfo_content">
  {% set status_css={'New': 'label-primary', 'QC-ongoing': 'label-danger', 'QC-done': 'label-warning', 'BP-ongoing': 'label-default', 'BP-done': 'label-success'} %}
  {% set qc_css={ '?': 'unknown', 'Pass': 'success', 'Warning': 'warning', 'Fail': 'danger'} %}
  <form class="form-inline">
    <div class="form-group">
      <label for="bioinfo-view">Select view: </label>
      <select id="bioinfo-view" class="form-control">
        <option selected="selected">Sample-run-lane (default)</option>
        <option>Run-lane-sample</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bioinfo_set-status">All run statuses: </label>
      <select id="bioinfo_set-status" class="form-control" disabled>
        <option>[ different values ]</option>
        <option>Ongoing</option>
        <option>Delivered</option>
        <option>Aborted</option>
      </select>
    </div>
    &nbsp; &nbsp; &nbsp;
    <button class="btn btn-default btn-sm" disabled id="bioinfo-status-copyFirstRow">Copy first row to all</button>
    <span class="pull-right bioinfo-savespan">
      <button class="btn btn-primary" id="bioinfo-status-saveButton"
          {% if project_closed %} disabled {% end %}> Save Changes</button>
    </span>
  </form>
  <hr>
  {% include "sample_run_lane_view.html" %}
  {% include "run_lane_sample_view.html" %}
  <button disabled class="btn btn-default" id="bioinfo-show-history">Show Edit History</button>
  <pre id="bioinfo-history-dump" style="display:none; margin-top:20px;"></pre>

  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/bioinfo_tab.js"></script>
</div>