  <table class="table table-bioinfo-status {% if project_closed %} bioinfo-status-disabled {% end %} table-bioinfo-status-sampleview table-bordered"  style="display:none;">
    <thead>
      <tr class="border-bottom">
        <th></th>
        <th></th>
        <th colspan="3">Sample</th>
        <th colspan="3">Multiplex QC</th>
        <th colspan="2">Quality</th>
        <th colspan="2">Contamination</th>
        {% if application == 'rnaseq' %}
          <th class="bioinfo-app-rnaseq" colspan="5">RNA-Seq</th>
        {% elif application == 'exome' %}
          <th class="bioinfo-app-exome" colspan="2">Exome capture</th>
        {% elif application == 'customCap' %}
          <th class="bioinfo-app-customCap">Custom capture</th>
        {% elif application == 'WGreseq' %}
          <th class="bioinfo-app-WGreseq" colspan="3">WG Reseq</th>
        {% elif application == 'denovo' %}
          <th class="bioinfo-app-denovo" colspan="1">De novo / Mate-Pair</th>
        {% elif application == 'applications' %}
          <th class="bioinfo-app-applications" colspan="2">Applications (if applicable)</th>
        {% end %}
        <th>Data Delivered</th>
      </tr>
      <tr class="bioinfo-field-names bioinfo-project" id="bioinfo-project-{{ project_id }}">
        <th class="bioinfo-project sticky"><a href="#bioinfo-project-{{ project_id }}" class="bioinfo-expand">
          <span class="glyphicon glyphicon-chevron-right"></span></a></th>
        <th class="sticky"></th>
        <th class="sticky">Sample</th>
        <th class="sticky">Status</th>
        <th class="sticky">Fill row</th>
       <th class="bioinfo-status-th bioinfo-status-qc undemultiplexedreads sticky">Undetermined<br>indexes</th>
        <th class="bioinfo-status-th bioinfo-status-qc unexpectedindexes sticky">Unexpected<br>indexes</th>
        <th class="bioinfo-status-th bioinfo-status-qc lowsampleyield sticky">Sample yield</th>
        <th class="bioinfo-status-th bioinfo-status-qc phixerrorrate sticky">PhiX error rate</th>
        <th class="bioinfo-status-th bioinfo-status-qc basesq30 sticky">%bases >= Q30</th>
        <th class="bioinfo-status-th bioinfo-status-qc fastq_screen sticky">fastq_screen</th>
        <th class="bioinfo-status-th bioinfo-status-qc blast_wrapper sticky">blast_wrapper</th>
        {% if application =='rnaseq' %}
          <th class="bioinfo-status-th bioinfo-status-bp rnaseq_alignment sticky">Percent Aligned</th>
          <th class="bioinfo-status-th bioinfo-status-bp rnaseq_rrna sticky">rRNA contamination</th>
          <th class="bioinfo-status-th bioinfo-status-bp rnaseq_mtrrna sticky">MT rRNA contamination</th>
          <th class="bioinfo-status-th bioinfo-status-bp rnaseq_strandspecificity sticky">Strand specificity over exons</th>
          <th class="bioinfo-status-th bioinfo-status-bp rnaseq_duplication sticky">Library complexity</th>
        {% elif application == 'exome' %}
          <th class="bioinfo-status-th bioinfo-status-bp exome_sequenceduplication sticky">Sequence<br>duplication</th>
          <th class="bioinfo-status-th bioinfo-status-bp exome_targets10xcoverage sticky">% Targets @10X coverage</th>
        {% elif application == 'customCap' %}
          <th class="bioinfo-status-th bioinfo-status-bp customCap_enrichment sticky">Enrichment</th>
        {% elif application == 'WGreseq' %}
          <th class="bioinfo-status-th bioinfo-status-bp WGreseq_coverage sticky">Coverage</th>
          <th class="bioinfo-status-th bioinfo-status-bp WGreseq_sequenceduplication sticky">Sequence<br>duplication</th>
          <th class="bioinfo-status-th bioinfo-status-bp WGreseq_mappingrate sticky">Mapping rate</th>
        {% elif application == 'denovo' %}
          <th class="bioinfo-status-th bioinfo-status-bp denovosticky">De Novo / Mate Pair</th>
        {% elif application == 'applications' %}
          <th class="bioinfo-status-th bioinfo-status-bp bioinfo-app-applications sticky">Data delivered</th>
          <th class="bioinfo-status-th bioinfo-status-bp bioinfo-app-applications sticky">Data approved</th>
        {% end %}
        <th class="bioinfo-status-th-date datadelivered sticky">Data Delivered
          <button class="btn btn-sm date-reset" {% if project_closed %} disabled="disabled"{% end %}>
            <i class="glyphicon glyphicon-remove"></i></button>
          <button class="btn btn-sm datepicker-today" {% if project_closed %} disabled="disabled"{% end %}>
            <i class="glyphicon glyphicon-arrow-down"></i></button>
        </th>
      </tr>
    </thead>
  <tbody>
      {% for sample_id, sample in sorted(bioinfo['sample_run_lane_view'].items()) %}
        <tr class="bioinfo-sample  {% if sample.get('sample_status') in ['Demultiplexing', 'Transferring', 'Sequencing', 'ERROR', 'Failed', 'Delivered' ] %} bioinfo-status-disabled {% end %}"
            id="bioinfo-sample-{{ sample_id }}" data-parent="#bioinfo-project-{{ project_id }}">
          <td class="bioinfo-status-expand"><a href="#bioinfo-sample-{{ sample_id }}" class="bioinfo-expand">
            <span class="glyphicon glyphicon-chevron-right"></span></a></td>
          <td></td>
          <td><samp>{{ sample_id }}</samp></td>
          <td class="bioinfo-status-runstate"><span class="label {{ status_css.get(sample['sample_status'], 'label-default') }}">{{ sample['sample_status'] }}</span></td>
          <td class="bioinfo-status-row ?"><span class="glyphicon glyphicon-arrow-right"></span></td>
          <td class="bioinfo-status-qc undemultiplexedreads unknown">?</td>
          <td class="bioinfo-status-qc unexpectedindexes unknown">?</td>
          <td class="bioinfo-status-qc lowsampleyield unknown">?</td>
          <td class="bioinfo-status-qc phixerrorrate unknown">?</td>
          <td class="bioinfo-status-qc basesq30 unknown">?</td>
          <td class="bioinfo-status-qc fastq_screen unknown">?</td>
          <td class="bioinfo-status-qc blast_wrapper active">N/A</td>
          {% if application == 'rnaseq' %}
            <td class="bioinfo-status-bp rnaseq_alignment unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_rrna unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_mtrrna unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_strandspecificity unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_duplication unknown">?</td>
          {% elif application == 'exome' %}
            <td class="bioinfo-status-bp exome_sequenceduplication unknown">?</td>
                <td class="bioinfo-status-bp exome_targets10xcoverage unknown">?</td>
          {% elif application == 'customCap' %}
            <td class="bioinfo-status-bp customCap_enrichment unknown">?</td>
          {% elif application == 'WGreseq' %}
            <td class="bioinfo-status-bp WGreseq_coverage unknown">?</td>
            <td class="bioinfo-status-bp WGreseq_sequenceduplication unknown">?</td>
            <td class="bioinfo-status-bp WGreseq_mappingrate unknown">?</td>
          {% elif application == 'denovo' %}
            <td class="bioinfo-status-bp denovo unknown">?</td>
          {% elif application == 'applications' %}
            <td class="bioinfo-status-bp applications">Data delivered</td>
            <td class="bioinfo-status-bp applications">Data approved</td>
          {% end %}
            <td class="bioinfo-status datadelivered">
              <div class="input-group input-group-sm date"><input type="text" class="form-control"
                  {% if project_closed or sample.get('datadelivered','') != '' %} disabled="disabled" {% end %}
                  value="{{ sample.get('datadelivered', '') }}">
                <span class="input-group-addon date-reset"><i class="glyphicon glyphicon-remove"></i></span>
                <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
              </div>
            </td>
        </tr>
        {% for flowcell_id, flowcell in sorted(sample['flowcells'].items()) %}
          <tr class="bioinfo-fc  {% if flowcell.get('flowcell_status') in ['Demultiplexing', 'Transferring', 'Sequencing', 'ERROR', 'Failed', 'Delivered'] %} bioinfo-status-disabled {% end %}"
              id="bioinfo-fc-{{ sample_id }}-{{ flowcell_id }}"
              data-parent="#bioinfo-sample-{{ sample_id }}" style="display:none;">
            <td></td>
            <td class="bioinfo-status-expand"><a href="#bioinfo-fc-{{ sample_id }}-{{ flowcell_id }}" class="bioinfo-expand">
              <span class="glyphicon glyphicon-chevron-right"></span></a></td>
            <td><samp><a href="/flowcells/{{ flowcell_id }}">{{ flowcell_id }}</a></samp></td>
            <td class="bioinfo-status-runstate"><span class="label {{ status_css.get(flowcell['flowcell_status'], 'label-default') }}">{{ flowcell['flowcell_status'] }}</span></td>
            <td class="bioinfo-status-row ?"><span class="glyphicon glyphicon-arrow-right"></span></td>
            <td class="bioinfo-status-qc undemultiplexedreads unknown">?</td>
            <td class="bioinfo-status-qc unexpectedindexes unknown">?</td>
            <td class="bioinfo-status-qc lowsampleyield unknown">?</td>
            <td class="bioinfo-status-qc phixerrorrate unknown">?</td>
            <td class="bioinfo-status-qc basesq30 unknown">?</td>
            <td class="bioinfo-status-qc fastq_screen unknown">?</td>
            <td class="bioinfo-status-qc blast_wrapper active">N/A</td>
          {% if application == 'rnaseq' %}
            <td class="bioinfo-status-bp rnaseq_alignment unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_rrna unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_mtrrna unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_strandspecificity unknown">?</td>
            <td class="bioinfo-status-bp rnaseq_duplication unknown">?</td>
          {% elif application == 'exome' %}
            <td class="bioinfo-status-bp exome_sequenceduplication unknown">?</td>
                <td class="bioinfo-status-bp exome_targets10xcoverage unknown">?</td>
          {% elif application == 'customCap' %}
            <td class="bioinfo-status-bp customCap_enrichment unknown">?</td>
          {% elif application == 'WGreseq' %}
            <td class="bioinfo-status-bp WGreseq_coverage unknown">?</td>
            <td class="bioinfo-status-bp WGreseq_sequenceduplication unknown">?</td>
            <td class="bioinfo-status-bp WGreseq_mappingrate unknown">?</td>
          {% elif application == 'denovo' %}
            <td class="bioinfo-status-bp denovo unknown">?</td>
          {% elif application == 'applications' %}
            <td class="bioinfo-status-bp applications">Data delivered</td>
            <td class="bioinfo-status-bp applications">Data approved</td>
          {% end %}
            <td class="bioinfo-status datadelivered">
              <div class="input-group input-group-sm date"><input type="text" class="form-control"
                  {% if project_closed or flowcell.get('datadelivered','') != '' %} disabled="disabled" {% end %}
                value="{{ flowcell.get('datadelivered', '') }}">
                <span class="input-group-addon date-reset"><i class="glyphicon glyphicon-remove"></i></span>
                <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
              </div>
            </td>
          </tr>
          {% for lane_id, lane in sorted(flowcell['lanes'].items()) %}
            <tr class="bioinfo-lane {% if lane.get('sample_status') in ['Demultiplexing', 'Transferring', 'Sequencing', 'ERROR', 'Failed', 'Delivered' ] %} bioinfo-status-disabled {% end %}"
                id="bioinfo-lane-{{ sample_id }}-{{ flowcell_id }}-{{ lane_id }}"
                data-parent="#bioinfo-fc-{{ sample_id }}-{{ flowcell_id }}" style="display:none;">
              <td></td>
              <td><a href="#bioinfo-lane-{{ sample_id }}-{{ flowcell_id }}-{{ lane_id }}"></a></td>
              <td class="bioinfo-status-expand"><samp>{{ lane_id }}</samp></td>
              <td class="bioinfo-status-runstate"><span class="label {{ status_css.get(lane.get('sample_status', 'New'), 'label-default') }}">{{ lane.get('sample_status') }}</span></td>
              <td class="bioinfo-status-row ?"><span class="glyphicon glyphicon-arrow-right"></span></td>
              <!--THE ORDER OF THE CLASSES IS IMPORTANT!-->
              <td class="bioinfo-status-qc undemultiplexedreads {{ qc_css.get(lane.get('qc', {}).get('undemultiplexedreads', '?'), 'unknown') }}">
                {{ lane.get('qc', {}).get('undemultiplexedreads', '?') }}</td>
              <td class="bioinfo-status-qc unexpectedindexes {{ qc_css.get(lane.get('qc', {}).get('unexpectedindexes', '?'), 'unknown') }}">
                {{ lane.get('qc', {}).get('unexpectedindexes', '?') }}</td>
              <td class="bioinfo-status-qc lowsampleyield {{ qc_css.get(lane.get('qc', {}).get('lowsampleyield', '?'), 'unknown') }}">
                {{ lane.get('qc', {}).get('lowsampleyield', '?') }}</td>
              <td class="bioinfo-status-qc phixerrorrate {{ qc_css.get(lane.get('qc', {}).get('phixerrorrate', '?'), 'unknown') }}">
                {{ lane.get('qc', {}).get('phixerrorrate', '?') }}</td>
              <td class="bioinfo-status-qc basesq30 {{ qc_css.get(lane.get('qc', {}).get('basesq30', '?'), 'unknown') }}">
                {{ lane.get('qc', {}).get('basesq30', '?') }}</td>
              <td class="bioinfo-status-qc fastq_screen {{ qc_css.get(lane.get('qc', {}).get('fastq_screen', '?'), 'unknown') }}">
                {{ lane.get('qc', {}).get('fastq_screen', '?') }}</td>
              <td class="bioinfo-status-qc blast_wrapper {{ qc_css.get(lane.get('qc', {}).get('blast_wrapper', 'N/A'), 'active') }}">
                {{ lane.get('qc', {}).get('blast_wrapper', 'N/A') }}</td>
              {% if application == 'rnaseq' %}
                <td class="bioinfo-status-bp rnaseq_alignment {{ qc_css.get(lane.get('bp', {}).get('rnaseq_alignment', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('rnaseq_alignment', '?') }}</td>
                <td class="bioinfo-status-bp rnaseq_rrna {{ qc_css.get(lane.get('bp', {}).get('rnaseq_rrna', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('rnaseq_rrna', '?') }}</td>
                <td class="bioinfo-status-bp rnaseq_mtrrna {{ qc_css.get(lane.get('bp', {}).get('rnaseq_mtrrna', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('rnaseq_mtrrna', '?') }}</td>
                <td class="bioinfo-status-bp rnaseq_strandspecificity {{ qc_css.get(lane.get('bp', {}).get('rnaseq_strandspecificity', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('rnaseq_strandspecificity', '?') }}</td>
                <td class="bioinfo-status-bp rnaseq_duplication {{ qc_css.get(lane.get('bp', {}).get('rnaseq_duplication', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('rnaseq_duplication', '?') }}</td>
              {% elif application == 'exome' %}
                <td class="bioinfo-status-bp exome_sequenceduplication {{ qc_css.get(lane.get('bp', {}).get('exome_sequenceduplication', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('exome_sequenceduplication', '?') }}</td>
                <td class="bioinfo-status-bp exome_targets10xcoverage {{ qc_css.get(lane.get('bp', {}).get('exome_targets10xcoverage', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('exome_targets10xcoverage', '?') }}</td>
              {% elif application == 'customCap' %}
                <td class="bioinfo-status-bp customCap_enrichment {{ qc_css.get(lane.get('customCap_enrichment', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('customCap_enrichment', '?') }}</td>
              {% elif application == 'WGreseq' %}
                <td class="bioinfo-status-bp WGreseq_coverage {{ qc_css.get(lane.get('bp', {}).get('WGreseq_coverage', '?'), 'unknown') }}">{{ lane.get('bp', {}).get('WGreseq_coverage', '?') }}</td>
                <td class="bioinfo-status-bp WGreseq_sequenceduplication {{ qc_css.get(lane.get('bp', {}).get('WGreseq_sequenceduplication', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('WGreseq_sequenceduplication', '?') }}</td>
                <td class="bioinfo-status-bp WGreseq_mappingrate {{ qc_css.get(lane.get('WGreseq_mappingrate', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('WGreseq_mappingrate', '?') }}</td>
              {% elif application == 'denovo' %}
                <td class="bioinfo-status-bp denovo {{ qc_css.get(lane.get('bp', {}).get('denovo', '?'), 'unknown') }}">
                  {{ lane.get('bp', {}).get('denovo', '?') }}</td>
              {% elif application == 'applications' %}
                <td class="bioinfo-status-bp applications">?</td>
                <td class="bioinfo-status-bp applications">?</td>
              {% end %}
                <td class="bioinfo-status datadelivered">
                  <div class="input-group input-group-sm date"><input type="text" class="form-control" {% if project_closed or lane.get('datadelivered','') != '' %} disabled="disabled" {% end %}
                    value="{{ lane.get('datadelivered', '') }}">
                    <span class="input-group-addon date-reset"><i class="glyphicon glyphicon-remove"></i></span>
                    <span class="input-group-addon datepicker-today"><i class="glyphicon glyphicon-arrow-down"></i></span>
                  </div>
                </td>
            </tr>
          {% end %}
        {% end %}
      {% end %}
  </tbody>
</table>
