html {
  background: transparent;
  height: 100%;
}
/* Body and structure
-------------------------------------------------- 
Colors: http://colorschemedesigner.com/#3n52e1uYmw0w0 */

body {
  background-image: url('/static/img/absurdidad/absurdidad.png');
  background-color: #F7FDF1;
  padding-bottom: 40px;
  padding-top: 20px;
}
.sidebar-nav {
  padding: 9px 0;
  background-color: white;
}

.brand {
  background-color: white;
}

.navbar-inner {
  visibility: hidden;
  background-color: #F3F9FB;
  background-image: none;
  background-repeat: repeat-x;
  box-shadow: none;
  border-color: #000;
}

.progress-info.progress-striped .bar {
  background-color: #7BA44E;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 0.25s linear infinite;
  -moz-animation: progress-bar-stripes 0.25s linear infinite;
  animation: progress-bar-stripes 0.25s linear infinite;
}

.well {
  background-color: white;
}

a {
  color: #78A44E;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  margin-bottom: 10px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.chart_container {
  position: relative;
  margin-bottom: 20px;
}


/* NVD3 Graphs
------------------------------------------------- */
    
svg {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

.quota_chart {
  height: 300px;
}

.single_chart_container {
  height: 600px;
}

#mapping {
  height: 300px;
}

#distribution {
  height: 300px;
}

#coverage {
  height: 300px;
}

#legend {
  height: 20px;
}