{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="span9">
  <h2>Amanita</h2>
  <div class="chart_container" id="chart_container">
    <!-- <div class="y_axis" id="y_axis"></div> -->
    <svg id="amanita_chart"></svg>
  </div>
</div>
<div class="row-fluid">
</div>

<script>

var users
var user_data = []

$.getJSON("api/v1/amanita_home/users/", function(users_json) {
  users = users_json;

}).then(function() {

  $.each(users, function(i, user) {
    $.getJSON("/api/v1/amanita_home/" + user, function(user_json) {
      user_data.push({values: user_json, key: user});
    });
  });
}).then(function() {

  $.getJSON("/api/v1/amanita_home", function(data) {
    user_data.push({values: data, key: "Total"})
  }).then(function() {
    
    var chart = nv.models.lineChart()
      .x(function(d) { return d["x"] })
      .y(function(d) { return d["y"] });

    chart.xAxis
      .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

    chart.yAxis
        .tickFormat(d3.format("2.2s"))

    d3.select("#amanita_chart")
        .datum(user_data)
      .call(chart);

    return chart;
  })

});

</script>

{% end %}