{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <h2>Project Applications</h2>

  <p>
    Counts of the different sequencing applications that have been run.
  </p>

  <div class="single_chart_container" id="chart_container">
    <svg id="pie"></svg>
  </div>

  <table class="table table-bordered" id="application_table">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>

<script>
$.getJSON("/api/v1/applications", function(data) {
  for (d in data) {
    $("#application_table tbody").append('<tr><td>' + d +
        '</td><td>' + data[d]+ '</td></tr>')
  };

  var f_data = [{key: "Applications", values: []}]
  for (d in data) {
    var app_count = Object()
    app_count.application = d
    app_count.count = data[d]
    f_data[0]["values"].push(app_count)
  }

  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.application })
        .y(function(d) { return d.count })
        .showLabels(true)

    d3.select("#pie")
        .datum(f_data)
        .call(chart)

    return chart
  })

})
</script>

{% end %}
