{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid">
  <h2>Project Applications</h2>

  <p>
    Counts of the different sequencing applications that have been run.
  </p>

  <div class="single_chart_container" id="chart_container">
    <img src="/api/v1/applications.png">
  </div>

  <table class="table table-bordered" id="application_table">
    <thead></thead>
    <tbody></tbody>
  </table>

  <h2>Samples applications</h2>
  <div class="single_chart_container" id="chart_container">
    <img src="/api/v1/samples_applications.png">
  </div>

</div>

<script>
$.getJSON("/api/v1/applications", function(data) {
  for (d in data) {
    var trow = '<tr onclick="document.location = '
    trow += "'/application/" + d + "'"
    trow += '" onmouseover="this.style.cursor='
    trow += "'pointer'"
    trow += '">'
    trow += '<td>' + d + '</td><td>' + data[d]+ '</td></tr>'
    $("#application_table tbody").append(trow)
  };

})

</script>

{% end %}
