{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="container-fluid" id="sample_list">

  <h2>{{ flowcell }}</h2>
  <table class="table table-bordered" id="fc_info">
    <tbody></tbody>
  </table>

  <h3>Lane QC</h3>
  <div id="lanes">
  </div>
  
  <table class="table table-bordered" id="fc_qc">
    <tbody></tbody>
  </table>

  <h3>Sample Runs</h3>
  <table class="table table-striped" id="sample_table">
    <tbody></tbody>
  </table>
  <br>
</div>

<script>

for (var i = 1; i < 9; i++) {
  $("#lanes").append('<div id="lane_' + i + '"><h4>Lane ' + i + '</h4><br></div>')
};

$.getJSON("/api/v1/flowcell_info/{{ flowcell }}", function(data) {

  tbody = "<tr><th>Start date</th><td>" + data["startdate"];
  tbody += "<th>Instrument id</th><td>" + data["instrument"];
  tbody += "<th>Flowcell</th><td>" + data["flowcell"];
  tbody += "</td></tr>";

  $("#fc_info tbody").html(tbody);

});

$.getJSON("/api/v1/flowcell_qc/{{ flowcell }}", function(data) {
  $.each(data, function(lane, qc) {

    var qc_table = '<table class="table table-bordered"><tbody>';

    row_pair = function(key) {
      var row = "<td>" + qc["read1"][key] + " ± ";
      row += qc["read1"][key + "SD"] + "</td>";
      row += "<td>" + qc["read3"][key] + " ± ";
      row += qc["read3"][key + "SD"] + "</td>";

      return row
    }

    qc_table += "<tr><th></th><th>Read 1</th><th>Read 3</th></tr>";
    qc_table += "<tr><th>Clusters raw</th>";
    qc_table += row_pair("ClustersRaw")
    qc_table += "<tr><th>Clusters PF</th>";
    qc_table += row_pair("ClustersPF")
    qc_table += "<tr><th>Error rate PhiX</th>";
    qc_table += row_pair("ErrRatePhiX")

    qc_table += "<tr><th>Phasing</th>";
    qc_table += "<td>" + qc["read1"]["Phasing"] + "</td>";
    qc_table += "<td>" + qc["read3"]["Phasing"] + "</td></tr>";
    qc_table += "<tr><th>Prephasing</th>";
    qc_table += "<td>" + qc["read1"]["Prephasing"] + "</td>";
    qc_table += "<td>" + qc["read3"]["Prephasing"] + "</td></tr>";

    qc_table += "<tr><th>% aligned</th>";
    qc_table += row_pair("PrcAlign")
    qc_table += "</tbody></table>";

    $("#lane_" + lane).append("<h4>QC</h4>" + qc_table)

  })
})

$.getJSON("/api/v1/flowcell_demultiplex/{{ flowcell }}", function(data) {
  $.each(data, function(lane, d) {
    var demultiplex_table = '<table class="table table-bordered"><tbody>';
    demultiplex_table += "<tr><th>Yield</th><td>" + d["yield"] + "</td>";
    demultiplex_table += "<tr><th>% demultiplexed</th><td>" + parseInt(100 * d["demultiplexed"]) + "%";
    demultiplex_table += "</td></tr></tbody></table>";

    $("#lane_" + lane).append("<h4>Demultiplex</h4>" + demultiplex_table)
  })
})

$.getJSON("/api/v1/flowcells/{{ flowcell }}", function(data) {
  $.each(data, function (index, sample_run) {
    var tbl_row = '<tr><td><a href="/qc/' + sample_run + '">' + sample_run 
    + '</a></td></tr>';
    $("#sample_table").append(tbl_row);
  });
});

</script>

{% end %}
