{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="span9">
  <h2>Data production</h2>
  <div class="chart_container" id="chart_container">
    <svg id="production"></svg>
  </div>
</div>

<script>

$.getJSON("/api/v1/production", function(data) {
  var my_data = data[0];
  nv.addGraph(function() {
    var chart = nv.models.stackedAreaChart()
                  .x(function(d) { return d["x"] })
                  .y(function(d) { return d["y"] })
                  .showControls(false)
                  .color(["#4D91A1"]);

    chart.xAxis
        .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

    chart.yAxis
        .tickFormat(d3.format("2.2s"))

    d3.select('#production')
        .datum([{"values": my_data["data"], "key": "Basepairs sequenced"}])
        .call(chart);

    nv.utils.windowResize(function() {d3.select('#production').call(chart)})

    return chart
  });

})

</script>

{% end %}
