{% extends "base.html" %}

{% block head %}
<p>Historical storage quota used on UPPMAX projects.</p>
{% end %}

<!-- Example row of columns -->
{% block stuff %}
<div class="row">
  {% for project in projects %}
    <div class="span6">
      <h2><a href="/quotas/{{ project }}">{{ project }}</a></h2>
      <div class="chart_container" id="chart_container">
        <div class="y_axis" id="y_axis_{{ project }}"></div>
        <div class="chart" id="chart_{{ project }}"></div>
      </div>
    </div>
  {% end %}
</div>
<div class="row">
</div>

<script>

var time = new Rickshaw.Fixtures.Time();
var time_unit = time.unit('3week');

{% for project in projects %}

var my_data_{{ project }}
var graph_{{ project }}
$.getJSON("/data/quotas/{{ project }}", function(data) {
  my_data_{{ project }} = data[0];

  graph_{{ project }} = new Rickshaw.Graph( {

    element: $("#chart_{{ project }}").get(0),
    renderer: 'bar',
    series: [
      {
        data:  my_data_{{ project }}["data"],
        name: my_data_{{ project }}["name"],
        color: '#0093b9',
      }
    ]
  } );

  graph_{{ project }}.render();

  var hoverDetail_{{ project }} = new Rickshaw.Graph.HoverDetail( {
    graph: graph_{{ project }}
  } );

  var axes = new Rickshaw.Graph.Axis.Time( {
    graph: graph_{{ project }},
    timeUnit: time_unit
  } );
  axes.render();

  var yAxis = new Rickshaw.Graph.Axis.Y({
      graph: graph_{{ project }},
      orientation: 'left',
      element: $("#y_axis_{{ project }}").get(0),
      tickFormat: Rickshaw.Fixtures.Number.formatBase1024KMGTP
  });
  yAxis.render();

});

{% end %}

</script>

{% end %}
