{% extends "base.html" %}

{% block head %}
<p>Historical storage quota used on UPPMAX projects.</p>
{% end %}

<!-- Example row of columns -->
{% block stuff %}
<div class="row">
  {% for project in projects %}
    <div class="span4">
      <h2>{{ project }}</h2>
        <div id="chart_container">
          <div id="chart_{{ project }}"></div>
        </div>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  {% end %}
</div>
<div class="row">
</div>

<script>

{% for project in projects %}

var my_data_{{ project }}
var graph_{{ project }}
$.getJSON("/data/quotas/{{ project }}", function(data) {
  my_data_{{ project }} = data[0];

  graph_{{ project }} = new Rickshaw.Graph( {

    element: $("#chart_{{ project }}").get(0),
    renderer: 'bar',
    series: [
      {
        data:  my_data_{{ project }}["data"],
        name: my_data_{{ project }}["name"],
        color: '#0093b9',
      }
    ]
  } );

  graph_{{ project }}.render();

});

{% end %}

</script>

{% end %}
