{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="span9">
<div class="hero-unit">
    <h2>a2010002</h2>
    <div class="chart_container" id="chart_container">
      <div class="y_axis" id="y_axis"></div>
      <div class="chart" id="chart"></div>
    </div>
  </div>
</div>
<div class="row-fluid">
</div>

<script>

var time = new Rickshaw.Fixtures.Time();
var time_unit = time.unit('3week');

var my_data
var graph
$.getJSON("/api/v1/quotas/{{ project }}", function(data) {
  my_data = data[0];

  graph = new Rickshaw.Graph( {

    element: $("#chart").get(0),
    renderer: 'bar',
    series: [
      {
        data:  my_data["data"],
        name: my_data["name"],
        color: '#0093b9',
      }
    ]
  } );

  graph.render();

  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph
  } );

  var axes = new Rickshaw.Graph.Axis.Time( {
    graph: graph,
    timeUnit: time_unit
  } );
  axes.render();

  var yAxis = new Rickshaw.Graph.Axis.Y({
      graph: graph,
      orientation: 'left',
      element: $("#y_axis").get(0),
      tickFormat: Rickshaw.Fixtures.Number.formatBase1024KMGTP
  });
  yAxis.render();

});

</script>

{% end %}