{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="span9">
  <h2>{{ project }}</h2>
  <div class="chart_container" id="chart_container">
    <!-- <div class="y_axis" id="y_axis"></div> -->
    <svg id="chart"></svg>
  </div>
</div>
<div class="row-fluid">
</div>

<script>

var my_data

$.getJSON("/api/v1/quotas/{{ project }}", function(data) {
  my_data = data[0]["data"];

  console.log(my_data)

  var chart = nv.models.linePlusBarChart()
        .x(function(d) { return d["x"] * 1000})
        .y(function(d) { return d["y"] })
        .showLegend(false);

    chart.xAxis
      .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

    chart.yAxis1
        .tickFormat(d3.format("2.2s"))

  d3.select("#chart")
      .datum([{values: my_data, key: "quota", bar: true}])
    .call(chart);

  return chart;

  } );

</script>

{% end %}