{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}

<div class="fluid-row">
  <h2>{{ sample }}</h2>
</div>
<div class="fluid-row" id="sample_summary">
  <h3>Summary</h3>
  <table class="table table-bordered" id="summary_table">
    <thead>
      <tr>
        <th>Flowcell id</th>
        <th>Lane</th>
        <th>Sequence</th>
      </tr>
    </thead>
    <tbody><tr></tr></tbody>
  </table>
</div>

<div class="fluid-row" id="sample_qc">
  <h3>QC</h3>
  <table class="table table-bordered zebra-striped" id="qc_table">
    <tbody>
    </tbody>
  </table>
</div>

<div class="fluid-row">

  <div class="span5 fluid-row">
    <h3 class="span1">Mapping summary</h3>
    <svg class="span3" id="legend"></svg>
    <svg class="span4" id="mapping"></svg> 
  </div>

  <div class="span5 fluid-row">
    <h3 class="span1">Insert size distribution</h3>
  </div>

</div>

<script>
$.getJSON("/api/v1/sample_summary/{{ sample }}", function(data) {
  $("#summary_table tr:last").after("<td>" +
    data["flowcell_id"] + "</td><td>" +
    data["lane"] + "</td><td>" +
    data["sequence"] + "</td>"
  )
})

$.getJSON("/api/v1/qc/{{ sample }}", function(data) {
  $("#qc_table tbody").append(
    "<tr><th>Total</th><td>" + data["bc_count"] + "</td></tr>" +
    "<tr><th>Aligned</th><td>" + data["pct_aligned"] + "</td></tr>" +
    "<tr><th>Pair duplicates</th><td>" + data["pair_duplicates"] + "</td></tr>" +
    "<tr><th>Insert size</th><td>" + data["insert_size"] + "</td></tr>" +
    "<tr><th>On target bases</th><td>" + data["on_target"] + "</td></tr>" +
    "<tr><th>Mean target coverage</th><td>" + data["mean_target_coverage"] + "</td></tr>" +
    "<tr><th>X10x coverage targets</th><td>" + data["x10x_coverage_targets"] + "</td></tr>" +
    "<tr><th>Zero coverage targets</th><td>" + data["zero_coverage_targets"] + "</td></tr>"
  )
});

var align_data = [];
var mapping;

$.getJSON("/api/v1/sample_alignment/{{ sample }}", function(data) {
  align_data.push({
    key: "Origin",
    values: [{x: 0, y: 0, size: 0.1}]
  });

  align_data.push({
    key: "Aligned",
    values: [{x: 1, y: parseInt(data["aligned"]["first_of_pair"]), size: 0.9, shape: 'circle'},
             {x: 2, y: parseInt(data["aligned"]["second_of_pair"]), size: 0.9, shape: 'circle'},
             {x: 3, y: parseInt(data["aligned"]["pair"]), size: 0.9, shape: 'circle'}]
  });

  align_data.push({
    key: "Reads",
    values: [{x: 1, y: parseInt(data["reads"]["first_of_pair"]), size: 0.9, shape: 'circle'},
             {x: 2, y: parseInt(data["reads"]["second_of_pair"]), size: 0.9, shape: 'circle'},
             {x: 3, y: parseInt(data["reads"]["pair"]), size: 0.9, shape: 'circle'}]
  });

  nv.addGraph(function() {
    var chart = nv.models.scatterChart()
                    .color(d3.scale.category10().range())
                    .showLegend(false)
                    .showControls(false);

    chart.yAxis.tickFormat(d3.format('.5s'))

    d3.select('#mapping')
        .datum(align_data)
      .transition().duration(200)
        .call(chart);

    mapping = chart;

    return chart;
  });

  nv.addGraph({
    generate: function() {
      var legend = nv.models.legend()
                    .color(d3.scale.category10().range())
                    .width(220);

      d3.select('#legend')
          .datum(align_data)
          .call(legend);

      legend.dispatch.on('legendClick', function(d,i) {
        d.disabled = !d.disabled;

        if (!align_data.filter(function(d) { return !d.disabled }).length) {
          align_data.map(function(d) {
            d.disabled = false;
            wrap.selectAll('.series').classed('disabled', false);
            return d;
          });
        }

        mapping.update()

      });

      return legend;
    },
    callback: function(graph) {
      var chart = graph;

      d3.select('#legend')
          .call(chart)
    }
  })
});

</script>

{% end %}
