{% extends "base.html" %}

<!-- Example row of columns -->
{% block stuff %}
<div class="row">
  {% for i in range(17) %}
    <div class="span4">
      <h2>000{{ i }}</h2>
        <div id="chart_container">
          <div id="chart_{{ i }}"></div>
        </div>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  {% end %}
</div>
<div class="row">
</div>

<script>

{% for i in range(17) %}
var my_data
var m = $.getJSON("data/test/{{ 10 + i }}")
var graph_{{ i }} = new Rickshaw.Graph( {

  element: document.getElementById("chart_{{ i }}"),
  renderer: 'area',
  dataURL: 'data/test/{{ 10 + i }}',
  series: [
    {
      data : my_data["data"],
      name: my_data["name"],
      color: '#0093B9',
    }
  ]
} );
{% end %}

</script>

{% end %}

