body {
  padding-top: 60px;
}
.footer {
    font-size:0.8em;
    color:#999;
    text-align:center;
}
.footer a {
    color:#999;
    text-decoration:underline;
}
/* Table foot should be at the head obviously */
tfoot {
  display: table-header-group;
}

/* .tt = twitter typeahead styles. For homepage search box */
#navbar-searchbar .twitter-typeahead { background-color: #FFFFFF; }

.input-spinner { margin-left:-35px; }

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor:pointer;
  text-align:left;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
.tt-suggestion p { margin: 0; }
.tt-hint { visibility:hidden; }


/* Pricing */

tr.status_discontinued{
  background-color: #f2dede;
}

.quote_product_prices_line{
    float: right;
}

.quote_product_price_external {
    float: left;
}

input.quantity_updateable {
    width: 40px;
}

.quote_lcol_header {
    max-width: 800px;
}

#pricing_update_main .card.discontinued {
    background-color: #f8d7da;
}

#pricing_update_sidebar {
    padding-top: 4rem;
}

.pricing_update_collapse_link {
    text-decoration: none;
    color: black;
}

/* Make <samp> (flow cell IDs usually) a little smaller */
samp { font-size:0.8em; }

h1 small, h2 small, h3 small{
  font-size: 65%;
}

/*Tables*/
.darkth > th { background-color: #ddd!important; }

.sticky th{
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 50px;
  z-index: 100;
}

.navbar {
 min-height: 50px;
}

/*Cards for running notes*/
.running-note-card pre {
  max-width:400px;
}
