/* ########################################################################
~~~~~ status.css ~~~~~
---- INTRODUCTON ----
This is the main stylesheet for Genomics Status. It is used to define custom
structure and design for the website. The site uses the Bootstrap framework
for basic styling; this stylesheet is loaded after that and can override
those settings. For more information about Bootstrap (including really good
documentation), see http://getbootstrap.com/ - it can do most of the things
that you were about to write yourself already.

To keep this file organised, there are three main sections:
Reusable Styles / Core Structure / Page-Specific Styles / Unit Styles
Please keep the code organised.

General notes - IDs should only be used for unique elements. Classes are
nearly always better if used for design. Please avoid element type
precursors (eg. use .class instead of div.class) where possible.
Comment lots - try to make it obvious where styles are being used.
 ######################################################################## */

/* ########################################################################
---- REUSABLE STYLES ----
These classes are for general use across the website. They are used in
multiple places and typically control typography, or other common elements.
 ######################################################################## */


/* index.html page */
.table-disk-quotas > tbody > tr > td {
  padding: 8px;
  width: 180px;
}

.table-disk-quotas > tbody > tr > td.disk-quotas-highcharts {
  padding: 0;
}

.table-disk-quotas .wrapper {
  display: inline-block;
  position: relative;
  height:100%;
  width:100%;
  white-space: nowrap;
}

.table-disk-quotas .val {
  display: block;
  position: absolute;
  padding:0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index:-1;
  background-color: #ededed;
}

.table-disk-quotas .val span {
  position: absolute;
  top: 8px; left: 8px;
}
.table-disk-quotas .percent {
  padding: 8px;
}
.table-disk-quotas .q-danger .val { background-color: #f2dede; }
.table-disk-quotas .q-danger span { color: #a94442; }
.table-disk-quotas .q-warning .val { background-color: #fcf8e3; }
.table-disk-quotas .q-warning span { color: #8a6d3b; }

.quota_decrease {
    display: inline-block;
    margin-left: 30px;
}
blockquote {
    background-color: #f9f9f9;
}
/*
=== Typography ===
*/
.highlighted { background-color: #FFFFCC; }
.sentenceCase { text-transform: capitalize; }
.upperCase { text-transform: uppercase; }
.nowrap { white-space: pre; }
.dl-wide dt { width:260px; }
.dl-wide dd { margin-left:280px; }
/* Make <samp> (flow cell IDs usually) a little smaller */
samp { font-size:0.8em; }
.justified {
  text-align: justify;
  text-justify: inter-word;
}
.well > h1, .well > h2, .well > h3, .well > h4, .well > h5, .well > h6 {
    margin-top:0;
}
.h3-label {
	font-weight: bold;
	font-size: 32px;
}

/*
=== Block elements ===
*/

.scrollable { overflow: auto; }
table.scrollable { max-width: 100%; }
pre.scrollable {
  word-wrap: normal;
  white-space: pre;
}

.table-nowidth { width:auto; }
.no-margin { margin:0; }
.inline-textbox {
  display:inline-block;
  width:200px;
  margin-left: 10px;
}
.nav.nav-tabs, .marginBottom { margin-bottom:15px; }
.borderRight { border-right: 1px solid #eee; }

/* Tables */
th { background-color: #ddd; }
th.link {
  color: #0088cc;
  cursor:pointer;
}
th.link:hover {
  color: #0088cc;
  cursor: pointer;
  text-decoration: underline;
}
tfoot {
  display: table-header-group;
}
/* Used on the Flow Cell Samples page */
table.narrow-headers th { width: 20%; }

/*
=== Common Elements ===
*/
.glyphicon-refresh-animate, .glyphicon-spin {
  margin-right:10px;
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

/* Make the bootstrap labels a little less over-saturated */
.label {
  font-weight:normal;
  margin-right: 2px;
}
.label-default { background-color:#777; }
.label-primary { background-color: #547C9E; } /* #428bca} */
.label-success { background-color: #5D995D; } /* #5cb85c} */
.label-info    { background-color: #5998AB; } /* #5bc0de} */
.label-warning { background-color: #BA945F; } /* #f0ad4e} */
.label-danger  { background-color: #B06361; } /* #d9534f} */
/* Custom Labels */
.label-undefined  {color: #ccc; }
.label-date  {color: #333; font-size:80%; }
/* Date sliders */
.slider-spacing { margin:40px 0; }

/* Sortable Tables */
th.sort { cursor:pointer; }
th.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  margin-left: 10px;
}
th.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
th.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

/* For NVD3 graphs */
.box { font: 10px sans-serif; }
.box line, .box rect, .box circle { stroke: #000; stroke-width: 1.5px; fill: #fff; }
.box .center { stroke-dasharray: 3 3; }
.box .outlier { stroke: none; fill: none; }
line.median { stroke: red; }
.chart_container {
  position: relative;
  margin-bottom: 20px;
}
.single_chart_container {
  height: 600px;
  text-align:center;
}
svg { overflow: hidden; }
.grid_chart { height: 300px; }
.legend { height: 22px; }



/* ########################################################################
---- CORE STRUCTURE ----
These styles control basic page structure and apply to every page.
 ######################################################################## */
body {
  font-size:13px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer {
    font-size:0.9em;
    color:#999;
    text-align:center;
}
.footer a {
    color:#999;
    text-decoration:underline;
}

/*
=== Main Navigation ===
*/
/* Depreciated Pages in the dropdown */
.depreciated_page { background-color:#f5f5f5; }
.depreciated_page a { font-style:italic; }
#depreciated_header a {
  background-color:#f5f5f5;
  color:#333;
  font-weight:bold;
  cursor:default;
}

/* ########################################################################
---- PAGE-SPECIFIC STYLES ----
These styles are specific to a single page or element. Each page should
have it's own subheading under this section.
 ######################################################################## */

/*
=== Homepage ===
*/
.homepage-ctas .well { text-align:center; }
.homepage-ctas .well h3 { font-size:3em; }
.homepage-ctas .well a i { color:#333; }

#homepage-searchbar {
  text-align:center;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:10px 0;
  display:inline-block;
  width:100%;
}
#homepage-searchbar .control-label {
  font-size:1.4em;
  margin: 10px 15px 0 0;
  padding:0;
  top:5px;
  vertical-align:top;
}
#homepage-searchbar .twitter-typeahead { width: 422px; }
#navbar-searchbar .twitter-typeahead { background-color: #FFFFFF; }

/* .tt = twitter typeahead styles. For homepage search box */
.input-spinner { margin-left:-35px; }
.subtle-spinner { color:#CCCCCC; }
.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor:pointer;
  text-align:left;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
.tt-suggestion p { margin: 0; }
.tt-hint { visibility:hidden; }

/*
=== Project Page ===
*/

/* Samples Table Filter Modal */
/* .search-action = Column Headers of checkboxes */
.search-action, .search-action input {
  cursor:pointer;
}

/* Make the user description have a max height */
#customer_project_description_wrapper.showfade {
  max-height: 100px;
	position: relative;
	overflow: hidden;
}
.fade-read-more {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	text-align: center;
	margin: 0; padding: 30px 0;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
  background-image: -webkit-linear-gradient(top, transparent, white);
  background-image: -moz-linear-gradient(top, transparent, white);
  background-image: -ms-linear-gradient(top, transparent, white);
  background-image: -o-linear-gradient(top, transparent, white);
}

/* Coloured timeline bar and dates */
.rawdate { cursor: pointer; }

/* Samples Table */
/* The progress class clashes in the Sample List in project view with the bootstrap
 * property. This overrides the bootstrap properties. */
td.progress {
  background-color: #FFFFFF;
  background-image: none;
}

/* Running Notes */
#running_notes_table img {
  max-width:400px;
  max-height:400px;
}
#com_accordion pre,
#running_notes_panels pre.plaintext_running_note,
.running-note-panel pre.plaintext_running_note {
  background-color:transparent;
  border:none;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  margin:0;
  padding:0;
}
.running-note-panel pre {
  max-width:400px;
}
.panel.with-nav-tabs > .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs > .panel-heading > .nav-tabs{
	border-bottom: none;
	margin-bottom: -1px;
}
.panel.with-nav-tabs > .panel-heading > ul.nav-tabs>li>a:hover {
    border-bottom: none;
}

#markdown_help table td {
  width:50%;
}

/* Markdown text styles */
.mkdown blockquote {
  font-size: 1em;
  font-style:italic;
}

/* Links Tab */
.link_wrapper {
	border-bottom:1px solid #DDDDDD;
	padding-top:15px;
	padding-bottom:15px;
}
.link_wrapper:first-child {
	padding-top:0;
}

/* Cool colour bar for project page */
.project_timescale {
	margin: 20px 0;
	height:1px;
	background:#eee;
	position:relative;
}
.project_timescale .timelineTarget {
	height:16px;
	width:16px;
  margin-left:-6px;
	position:absolute;
	top:-7px;
  cursor:pointer;
}
.project_timescale .timelineTick {
  width:3px;
  height:10px;
  margin:3px 6.5px;
}

/* Caliper thumbnail image in table */
.caliper_loading_spinner {
  display:inline-block;
  min-width:200px;
}
.caliper-thumbnail img {
  max-width:200px;
}
/* Caliper modal */
#caliperModal .modal-content {
    width:1040px;
    margin-left:-520px;
    left:50%;
}
#caliperModal .modal-body img {
    width:100%;
    max-width:1040px;
    max-height:400px;
}
/* worksets modal */
#modal_plate .modal-content {
    width:1300px;
    margin-left:-650px;
    left: 50%;
}
/* Email list */
.email_list {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}
.email_link {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    flex: 3;
    margin: 0;
    padding: 0;
}
.email_labels {
    vertical-align: middle;
    text-align: right;
    flex: 1;
    margin: 0;
    padding: 0;
}

/*
=== Flowcell_sample===
*/
.sublane {
  margin-bottom:50px;
}
.undetermined-btn{
  margin-left: 15px;
}
.undetermined {
  width: 300px;
}
.undetermined th, .undetermined td {
  text-align: right;
  padding: 5px;
}
.undetermined tr th:first-child, .undetermined tr td:first-child {
  text-align:left;
}
.undetermined samp {
  font-size: 1em;
  letter-spacing: 1px;
}

.undetermined-highlight {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}
.undetermined-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.thousand_group {
  margin-left:4px;
}

/*
=== Quota Page ===
*/
.quota-nav { margin-bottom:0; }

#plots h2{
  margin-left: 15px;
}


/*
=== Suggestions Box ===
*/
#suggestions_table {
  max-height:800px;
  overflow-y:scroll;
}

/*
=== Project Summary ===
*/
#summary-list table td {
padding: 0;
}
#summary-list table td input, #summary-list table td textarea {
    padding: 8px;
    border: 0;
    box-shadow: none;
    font-size: 0.9em;
    display: block;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/*
=== Rec Ctrl View ===
*/
.rcplate tr th, .rcplate tr td {
      width: 8%;
  }
  .rcplate tr th:first-child {
    width: 4%;
}

/* ########################################################################
---- UNIT STYLES ----
These classes are cut and pasted wholesale into here from other packages.
 ######################################################################## */



/*
=== Cubism ===
*/
.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  /*position: fixed;*/
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  height: 24px;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  height: 24px;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  z-index: 2;
}


/**
 * Theme for jQRangeSlider
 * Inspired by http://cssdeck.com/item/381/itunes-10-storage-bar
 *        and http://cssdeck.com/item/276/pure-css-arrow-with-border-tooltip
 */

.ui-rangeSlider{
  height: 30px;
  padding-top: 40px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
  margin: 0 15px;
  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-left: solid 1px #515862;
  border-right: solid 1px #515862;

  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
}

.ui-rangeSlider-container{
  height: 30px;
  border-top: solid 1px #232a32;
  border-bottom: solid 1px #6a7179;
  background: #67707F;
  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
}


.ui-rangeSlider-arrow{
  width:14px;
  height:30px;
  border-top: solid 1px #232a32;
  border-bottom: solid 1px #6a7179;
  background: #67707F;
  cursor:pointer;

  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
}

.ui-rangeSlider-leftArrow{
  border-radius:4px 0 0 4px;
  border-left: solid 1px #515862;
}

.ui-rangeSlider-rightArrow{
  border-radius:0 4px 4px 0;
  border-right: solid 1px #515862;
}

.ui-rangeSlider-arrow-inner{
  position: absolute;
  top: 50%;
  border: 10px solid transparent;
  width:0;
  height:0;

  margin-top: -10px;
}

.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner{
  border-right:10px solid #a4a8b7;
  left: 0;
  margin-left: -8px;
}

.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner{
  border-right:10px solid #b3b6c2;
}

.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner{
  border-left:10px solid #a4a8b7;
  right: 0;
  margin-right: -8px;
}

.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner{
  border-left:10px solid #b3b6c2;
}

.ui-rangeSlider-innerBar{
  width: 110%;
  height: 100%;
  left: -10px;
  overflow: hidden;
}

.ui-rangeSlider-bar{
  background: #68a1d6;
  height: 29px;
  margin:1px 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor:move;
  cursor:grab;
  cursor: -moz-grab;

  -webkit-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
  box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);;
 }

.ui-rangeSlider-handle{
  width:10px;
  height:30px;
  background: transparent;
  cursor:col-resize;
}

.ui-rangeSlider-label{
  background: #888DA0;
  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
  padding: 5px 10px;
  bottom:40px;

  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 1px 0px #c2c5d6;
  -moz-box-shadow: 0px 1px 0px #c2c5d6;
  box-shadow: 0px 1px 0px #c2c5d6;

  color:white;
  font-size:15px;

  cursor:col-resize;
}

.ui-editRangeSlider .ui-rangeSlider-label{}

.ui-rangeSlider-label-inner{

  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  z-index:99;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  margin-left: -10px;
  border-top: 10px solid #888DA0;
}

.ui-editRangeSlider-inputValue{
  width:2em;
  text-align:center;
  font-size:15px;
}

.ui-rangeSlider .ui-ruler-scale{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  /* Handle width */
  right:10px;
}

.ui-rangeSlider .ui-ruler-tick {
  float: left;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner{
  color:white;
  margin-top:1px;
  border-left: 1px solid white;
  height:29px;
  padding-left:2px;
  position:relative;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label{
  position:absolute;
  bottom: 6px;
}

.ui-rangeSlider .ui-ruler-scale1 .ui-ruler-tick-inner{
  border-left:1px solid white;
  margin-top: 25px;
  height: 5px;
}



/* BIOINFO ANALYSIS PAGE */
.table-colgroup {
  border-collapse:collapse;
}
.table-colgroup > tbody > tr > td, .table-colgroup > tbody > tr > th {
  border: none;
}
.table-colgroup colgroup {
  border: 1px solid #AAA;
}
.table-colgroup > tbody > tr.border-bottom > th, .table-colgroup > tbody > tr > th.border-bottom {
  border-bottom: 1px solid #AAA;
}
table.table-bioinfo-status {
    margin-top: 20px;
}
.table-bioinfo-status tr.bioinfo-status-disabled td.bioinfo-status-qc,
.table-bioinfo-status tr.bioinfo-status-disabled td.bioinfo-status-bp,
.table-bioinfo-status tr.bioinfo-status-disabled td.bioinfo-status-row {
    cursor: not-allowed;
}

.table-bioinfo-status:not(.bioinfo-status-disabled) td.bioinfo-status-qc,
.table-bioinfo-status:not(.bioinfo-status-disabled) td.bioinfo-status-bp,
.table-bioinfo-status:not(.bioinfo-status-disabled) th.bioinfo-status-th,
.table-bioinfo-status:not(.bioinfo-status-disabled) td.bioinfo-status-row {
  cursor: pointer;
}

.table-bioinfo-status td, .table-bioinfo-status th {
  text-align: center;
  vertical-align: middle;
}
.table-bioinfo-status td.unknown {
  color: #ccc;
}

.table-bioinfo-status td.datadelivered {
    min-width: 140px;
}

.table-bioinfo-status th.bioinfo-status-runid {
  text-align: left;
}
.bioinfo-status-runstate {
  text-transform: lowercase;
}

.bioinfo-status-disabled td {
  background-color: #ededed;
  color: #ccc;
}
.bioinfo-status-disabled td, .bioinfo-status-disabled th,
.bioinfo-status-disabled .input-group.date,
.bioinfo-status-disabled .input-group.date .input-group-addon
{
  cursor: not-allowed;
}
.bioinfo-status-disabled.bioinfo-delivered td.bioinfo-status-runstate {
  cursor: pointer;
}


.datepicker table tr td, .datepicker table tr th {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

/* Deliveries page */
.deliveries-page .progress {
  margin-bottom: 0;
}
.deliveries-filters .form-group {
  margin-right: 20px;
}

#ongoing_deliveries .bi-run-status {
  cursor: pointer;
}
.glow {
  box-shadow: 0 0 20px rgba(81, 203, 238, 1);
  margin-bottom:5px;
}
.delivery {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #dedede;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  padding: 0 10px;
  margin-bottom: 15px;
}
.delivery.saveme {
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.delivery-saved-status {
  font-size: 12px;
  margin-right: 12px;
  color: #94ba93;
}
button.btn:disabled {
  pointer-events: all;
  cursor: not-allowed ;
}

div.status-filters div.form-group {
    margin-bottom: 5px;
}
div.responsible-filters div.form-group {
    margin-bottom: 5px;
}

.bi-fc-runningnote, .bi-project-note {
  color: #777;
  font-size: 11px;
  line-height: 13px;
  margin: 4px 0;
}

.badge-small {
  font-size: 10px;
  padding: 4px;
  line-height: 0.9em;
  min-width: 5px;
}

.badge {
    font-weight: 400;
}

.button-edit-bioinfo-responsible, .button-save-bioinfo-responsible, .button-reset-bioinfo-responsible{
    cursor: pointer;
}

/* Collapse panel */
.gray {
    color: gray;
    font-size: 20px;
}

div.setOverflow {
    width: 100%;
    height: 254px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.project_page_border_style {
  border: 1px solid hsl(120, 0%, 85%);
  padding: 15px;
  border-radius: 15px;
  margin: 5px;
}
.project_page_panels_border_style {
  border: 1px solid hsl(120, 0%, 85%);
  padding: 15px;
  border-radius: 15px;
  margin-right: 2px;
  margin-left: 2px;
}
.panel-heading.row {
  margin: 0
}
.space-left {
    margin-left: 5px;
}
.wrapStyle {
    white-space: normal;
}
.container .flex {
  display: flex;
  justify-content: space-between;
}

.modal-error-msg {
  font-size: 12px;
  margin-right: 12px;
  color: red;
}
.modal-success-msg {
  font-size: 12px;
  margin-right: 12px;
  color: green;
}
.panel-title {
  font-size: 2rem;
}
.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
  text-decoration: none;
}
.panel-title a .glyphicon {
  transition:all 0.3s;
  top: 5px;
}
.panel-title a:hover .glyphicon-triangle-bottom {
  transform: translateY(10%);
}
.panel-title a:hover .glyphicon-triangle-top {
  transform: translateY(-10%);
}
#presetButtons {
  margin-left: 3rem;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.close{
  margin-top:-10px;
}
