html {
  background: transparent;
  height: 100%;
}

div .scrollable {
  overflow: scroll;
  overflow: auto;
}

table .scrollable {
  max-width: max-content;
}
/* Body and structure
-------------------------------------------------- 
Colors: http://colorschemedesigner.com/#3n52e1uYmw0w0 */

/*
 * The progress class clashes in the Sample List in project view with the bootstrap
 * property. This overrides the bootstrap properties.
 */
td.progress {
  background-color: #FFFFFF;
  background-image: none;
}

body {
  padding-bottom: 40px;
  padding-top: 60px;
}
.sidebar {
  padding: 9px 0;
  background-color: white;
}

.sidebar {
  text-align: center;
}

.progress-info.progress-striped .bar {
  background-color: #7BA44E;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 0.25s linear infinite;
  -ms-animation: progress-bar-stripes 0.25s linear infinite;
  -moz-animation: progress-bar-stripes 0.25s linear infinite;
  animation: progress-bar-stripes 0.25s linear infinite;
}

.well {
  background-color: white;
}

.box { font: 10px sans-serif; }
.box line, .box rect, .box circle { stroke: #000; stroke-width: 1.5px; fill: #fff; }
.box .center { stroke-dasharray: 3 3; }
.box .outlier { stroke: none; fill: none; }

line.median {
  stroke: red;
}

th.a {
  color: #0088cc;
}

th.a:hover {
  color: #0088cc;
  cursor: pointer;
  text-decoration: underline;
}

th {
	background-color: #ddd;
}

.accordion-heading {
	background-color: #d9edf7;
}

table {
    table-layout: auto;
    word-wrap: break-word;
}

pre.cronjob-disabled {
  color: red;
}
table.narrow-headers th {
    width: 20%
}
/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  margin-bottom: 10px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.chart_container {
  position: relative;
  margin-bottom: 20px;
}
div#caliperModal {
    width:1040px;
    height:600px;
    margin-left:-520px;
    left:50%;
}
img.caliper-img {
    cursor: pointer;
}

/* NVD3 Graphs
------------------------------------------------- */
    
svg {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

.single_chart_container {
  height: 600px;
  text-align:center;
}

.grid_chart {
  height: 300px;
}

.legend {
  height: 22px;
}


/* Cubism
------------------------------------------------- */

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  /*position: fixed;*/
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  height: 24px;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  height: 24px;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  z-index: 2;
}


/**
 * Theme for jQRangeSlider
 * Inspired by http://cssdeck.com/item/381/itunes-10-storage-bar
 *        and http://cssdeck.com/item/276/pure-css-arrow-with-border-tooltip
 */

.ui-rangeSlider{
  height: 30px;
  padding-top: 40px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
  margin: 0 15px;
  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-left: solid 1px #515862;
  border-right: solid 1px #515862;

  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
}

.ui-rangeSlider-container{
  height: 30px;
  border-top: solid 1px #232a32;
  border-bottom: solid 1px #6a7179;
  background: #67707F;
  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
}


.ui-rangeSlider-arrow{
  width:14px;
  height:30px;
  border-top: solid 1px #232a32;
  border-bottom: solid 1px #6a7179;
  background: #67707F;
  cursor:pointer;

  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
}

.ui-rangeSlider-leftArrow{
  border-radius:4px 0 0 4px;
  border-left: solid 1px #515862;
}

.ui-rangeSlider-rightArrow{
  border-radius:0 4px 4px 0;
  border-right: solid 1px #515862;
}

.ui-rangeSlider-arrow-inner{
  position: absolute;
  top: 50%;
  border: 10px solid transparent;
  width:0;
  height:0;

  margin-top: -10px;
}

.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner{
  border-right:10px solid #a4a8b7;
  left: 0;
  margin-left: -8px;
}

.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner{
  border-right:10px solid #b3b6c2;
}

.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner{
  border-left:10px solid #a4a8b7;
  right: 0;
  margin-right: -8px;
}

.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner{
  border-left:10px solid #b3b6c2;
}

.ui-rangeSlider-innerBar{
  width: 110%;
  height: 100%;
  left: -10px;
  overflow: hidden;
}

.ui-rangeSlider-bar{
  background: #68a1d6;
  height: 29px;
  margin:1px 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor:move;
  cursor:grab;
  cursor: -moz-grab;
  
  -webkit-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
  -moz-box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);
  box-shadow: inset 0 2px 6px RGBA(0,0,0,0.5);;
 }

.ui-rangeSlider-handle{
  width:10px;
  height:30px;
  background: transparent;
  cursor:col-resize;
}

.ui-rangeSlider-label{
  background: #888DA0;
  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
  padding: 5px 10px;
  bottom:40px;

  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 1px 0px #c2c5d6;
  -moz-box-shadow: 0px 1px 0px #c2c5d6;
  box-shadow: 0px 1px 0px #c2c5d6;

  color:white;
  font-size:15px;

  cursor:col-resize;
}

.ui-editRangeSlider .ui-rangeSlider-label{
}

.ui-rangeSlider-label-inner{
 
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  z-index:99;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  margin-left: -10px;
  border-top: 10px solid #888DA0;
}

.ui-editRangeSlider-inputValue{
  width:2em;
  text-align:center;
  font-size:15px;
}

.ui-rangeSlider .ui-ruler-scale{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  /* Handle width */
  right:10px;
}

.ui-rangeSlider .ui-ruler-tick { 
  float: left; 
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner{
  color:white;
  margin-top:1px;
  border-left: 1px solid white;
  height:29px;
  padding-left:2px;
  position:relative;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label{
  position:absolute;
  bottom: 6px;
}

.ui-rangeSlider .ui-ruler-scale1 .ui-ruler-tick-inner{
  border-left:1px solid white;
  margin-top: 25px;
  height: 5px;
}
